<table class="table table-responsive" id="other_history_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Snomed</th>
    <th>Date identified</th>
    <th>Date resolved</th>
    <th>Other history status</th>
    <th>Other history type</th>
  </tr>
  </thead>

  <tbody>
  <% @other_histories.each do |other_history| %>
      <tr>
        <td><%= link_to_edit_if_can other_history.name, {ctrl: :other_histories, object: other_history } %></td>
        <td><%= other_history.icdcm_code %></td>
        <td><%= format_date other_history.date_identified %></td>
        <td><%= format_date other_history.date_resolved %></td>
        <td><%= other_history.other_history_status %></td>
        <td><%= other_history.other_history_type %></td>
       </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('other_history_table')
  })
</script>
