<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>Name:</strong>
      <%= @other_history.name %>
    </p>


    <p>
      <strong>Icdcm code:</strong>
      <%= @other_history.icdcm_code %>
    </p>

    <p>
      <strong>Date identified:</strong>
      <%= @other_history.date_identified %>
    </p>

    <p>
      <strong>Date resolved:</strong>
      <%= @other_history.date_resolved %>
    </p>

    <p>
      <strong>Other history status:</strong>
      <%= @other_history.other_history_status %>
    </p>

    <p>
      <strong>Other history type:</strong>
      <%= @other_history.other_history_type %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @other_history.description.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @other_history.other_history_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
    
  </div>
</div>
