  <div class="col-xs-12 btn-edition" style="padding-left:0;">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
        <% if @client_journal.can?(:manage_roles, :manages_client_journals, :delete_client_journals) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', client_journal_path(@client_journal), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)})
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if @client_journal.can?(:manage_roles, :manages_client_journals, :edit_client_journals) %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_client_journal_path(@client_journal), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <% if @client_journal.can?(:manage_roles, :manages_client_journals, :show_client_journals) %>
            <li>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Show', client_journal_path(@client_journal), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>

        <% if can?(:add_notes, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to t('add_note'), new_note_path(type: 'ClientJournalNote', owner_id: @client_journal.id), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', client_journals_path, class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', client_journal_path(@client_journal, format: 'pdf'), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
          <li>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <%= link_to 'History Changes', "/histories/#{@client_journal.class}/#{@client_journal.id}", class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
