<fieldset>
  <legend></legend>

  <%= form_for(client_journal,  html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
      <% if client_journal.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(client_journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

            <ul>
              <% client_journal.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= f.hidden_field :user_id %>

      <div class="form-group">
        <%= f.label t(:title), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :title , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:note) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control ck-editor' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t(:client_journal_type), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :client_journal_type_id, options_for_select(ClientJournalType.active.pluck(:name, :id), selected: f.object.client_journal_type.try(:id)) , {} ,{class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t(:label_date), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date , class: 'form-control datetimepicker' %>
        </div>
      </div>



      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :client_journal_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-xs-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :client_journal_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), client_journals_url, class: 'btn btn-warning pull-right' %>
          <%= f.submit t(:button_save), class: 'btn btn-success pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>
