
<table class="table table-responsive " id="journals_table">
  <thead>
  <tr>
    <th><%= t('title') %></th>
    <th><%= t('client_journal_type') %></th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% @client_journals.each do |client_journal| %>
      <tr>
        <td><%= link_to_edit_if_can client_journal.title,  {ctrl: :client_journals, object: client_journal }%></td>
        <td><%= client_journal.client_journal_type %></td>
        <td><%= format_date client_journal.date %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
     initDataTable('journals_table')
  } );
</script>
