<fieldset>
  <legend>Problem List</legend>
  <%= form_for(problem_list, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
      <% if problem_list.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(problem_list.errors.count, "error") %> prohibited this problem list from being saved:</h2>

            <ul>
              <% problem_list.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label :name , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :Snomed, class: 'col-md-2 control-label' %>
        <div class="col-md-9">
            <%= text_field_tag :snomed, f.object.snomed,  class: 'form-control' , placeholder: 'Type to Search' %>
            <%= f.hidden_field :snomed %>
            <script>
              $(document).ready(function(){
                $('#snomed').autocomplete({
                  source: "/snomed.json?default=disorder",
                  minLength: 2,
                  select: function( event, ui ) {
                    $('#problem_list_snomed').val(ui.item.id)
                  }
                })
              })
            </script>
          </div>
      </div>


      <div class="form-group">
        <%= f.label :date_onset , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_onset, class: 'form-control date_picker' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :date_resolved , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_resolved ,class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:problem_type), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :problem_type_id, options_for_select(ProblemType.active.pluck(:name, :id), selected: f.object.problem_type.try(:id)) , {} ,{class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:problem_status), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :problem_status_id, options_for_select(ProblemStatus.active.pluck(:name, :id), selected: f.object.problem_status.try(:id)) , {} ,{class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:description) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description , class: 'form-control ck-editor' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :problem_list_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :problem_list_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), problem_lists_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t(:button_save), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>
