<table class="table table-responsive" id="problem_list_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Snomed</th>
    <th>Date onset</th>
    <th>Date resolved</th>
    <th>Problem status</th>
    <th>Problem type</th>
  </tr>
  </thead>

  <tbody>
  <% @problem_lists.each do |problem_list| %>
      <tr>
        <td><%= link_to_edit_if_can problem_list.name, {ctrl: :problem_lists, object: problem_list } %></td>
        <td><%= link_to_edit_if_can problem_list.snomed, {ctrl: :problem_lists, object: problem_list } %></td>
        <td><%= format_date problem_list.date_onset %></td>
        <td><%= format_date problem_list.date_resolved %></td>
        <td><%= problem_list.problem_status %></td>
        <td><%=  problem_list.problem_type %></td>
         </tr>
  <% end %>
  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'problem_list_table',
    url: problem_lists_path(format: :csv),
    columns: columns.flatten,
    ajax_url: problem_lists_path(format: :json, status_type: params[:status_type])
} %>