<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs12">
    <p>
      <strong>Name:</strong>
      <%= @problem_list.name %>
    </p>

    <p>
      <strong>Icdcm code:</strong>
      <%= @problem_list.icdcm_code %>
    </p>

    <p>
      <strong>Date onset:</strong>
      <%= format_date @problem_list.date_onset %>
    </p>

    <p>
      <strong>Date resolved:</strong>
      <%= format_date @problem_list.date_resolved %>
    </p>

    <p>
      <strong>Problem status:</strong>
      <%= @problem_list.problem_status %>
    </p>

    <p>
      <strong>Problem type:</strong>
      <%= @problem_list.problem_type %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @problem_list.description.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @problem_list.problem_list_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>

  </div>
</div>