<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  appointment_disposition_path(@appointment_disposition), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to t('button_edit'), edit_appointment_disposition_path(@appointment_disposition), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), @appointment_disposition.appointment, class: 'btn btn-warning pull-right' %>
</div>
<div class="col-xs-12">
  <p>
    <strong>User:</strong>
    <%= @appointment_disposition.user %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= @appointment_disposition.appointment %>
  </p>


  <p>
    <strong>Disposition:</strong>
    <%= @appointment_disposition.disposition %>
  </p>

  <p>
    <strong>Date recorded:</strong>
    <%= @appointment_disposition.date_recorded %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @appointment_disposition.note.html_safe %>
  </p>
</div>