<% show_case = defined?(show_case_column) ? show_case_column : true %>
<table class="table table-responsive table-bordered" id="checklist_table">
  <thead>
  <tr>
    <th><%= t('title') %></th>
    <% if show_case %>
        <th><%= t('case') %></th>
    <% end %>
    <th><%= t('checklist_type') %></th>
    <th><%= t('checklist_status') %></th>
  </tr>
  </thead>

  <tbody>
      <% @checklists.each do |checklist_case| %>
          <% checklist_template = checklist_case.is_a?(ChecklistCase) ? checklist_case.checklist_template : checklist_case  %>
          <tr>
            <td><%= link_to checklist_template.title, checklist_case_path(checklist_case) %></td>
            <% if show_case%>
                <td><%= link_to_case checklist_case.case %></td>
            <% end %>
            <td><%= checklist_template.checklist_type %></td>
            <td><%= checklist_case.checklist_status_type %></td>
          </tr>
      <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
     initDataTable('checklist_table');
  } );
</script>
