<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete',  checklist_case_path(@checklist_case), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if can?(:delete_checklists, :manage_checklists, :manage_roles)
  %>
  <%= link_to t('button_cancel'), :back, class: 'btn btn-warning pull-right' %>
  <%= link_to( t('add_note'), new_note_path(type: 'ChecklistNote', owner_id: @checklist_case.id), class: 'btn btn-success pull-right') if can?(:add_notes, :manage_roles) %>
  <%= link_to t('button_print'), checklist_case_path(@checklist_case, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'display',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'checklist',
                     wid_title: 'checklist'
                 } %>
    </article>
  </div>
</section>

<% notes = @checklist_case.checklist_notes %>
<% if notes.any? %>
    <%= render partial: 'notes/notes', locals: {notes: notes } %>
<% end %>
