<p id="notice"><%= notice %></p>

<h1>Behaviol Risks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Icdcm code</th>
      <th>Date started</th>
      <th>Date ended</th>
      <th>Behavioral risk status</th>
      <th>Behavioral risk type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @behaviol_risks.each do |behaviol_risk| %>
      <tr>
        <td><%= behaviol_risk.user_id %></td>
        <td><%= behaviol_risk.icdcm_code_id %></td>
        <td><%= behaviol_risk.date_started %></td>
        <td><%= behaviol_risk.date_ended %></td>
        <td><%= behaviol_risk.behavioral_risk_status_id %></td>
        <td><%= behaviol_risk.behavioral_risk_type_id %></td>
        <td><%= behaviol_risk.description %></td>
        <td><%= link_to 'Show', behaviol_risk %></td>
        <td><%= link_to 'Edit', edit_behaviol_risk_path(behaviol_risk) %></td>
        <td><%= link_to 'Destroy', behaviol_risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Behaviol Risk', new_behaviol_risk_path %>
