<div class="module-title">
  <h2 class='module-title-text'>MY DASHBOARD</h2>
</div>
<div class="col-xs-12 btn-edition tabs-section">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle filter-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FILTER <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-links" role="menu">
      <li>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <%= link_to :overdue, '/overdues?type=overdue', class: 'dropdown-item' %>
      </li>
      <div class='dropdown-item-dividier'></div>
      <li>
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
        <%= link_to :opened, '/overdues?type=opened', class: 'dropdown-item' %>
      </li>
      <div class='dropdown-item-dividier'></div>
      <li>
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
        <%= link_to :closed, '/overdues?type=closed', class: 'dropdown-item' %>
      </li>
      <div class='dropdown-item-dividier'></div>
      <li>
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        <%= link_to :flagged, '/overdues?type=flagged', class: 'dropdown-item' %>
      </li>
    </ul>
  </div>
</div>

<div id="case_overdue"></div>
<div id="need_overdue"></div>
<div id="goal_overdue"></div>
<div id="plan_overdue"></div>
<div id="action_overdue"></div>
<div id="appointment_overdue"></div>

<script>
  $(document).ready(function(){
    $.getScript('/overdues/case_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/need_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/plan_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/goal_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/action_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/appointment_overdue.js?type=<%= params[:type] %>');
  })
</script>
