<h2>My Dashboard </h2>
<div class="col-xs-12 btn-edition" >
  <%= link_to :overdue, '/overdues?type=overdue' , class: 'btn btn-primary' %>
  <%= link_to :flagged, '/overdues?type=flagged' ,class: 'btn btn-info' %>
  <%= link_to :closed, '/overdues?type=closed' ,class: 'btn btn-default' %>
  <%= link_to :opened, '/overdues?type=opened' ,class: 'btn btn-success' %>
</div>
<div id="case_overdue"></div>
<div id="need_overdue"></div>
<div id="goal_overdue"></div>
<div id="plan_overdue"></div>
<div id="action_overdue"></div>
<div id="appointment_overdue"></div>
<script>
  $(document).ready(function(){
    $.getScript('/overdues/case_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/need_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/plan_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/goal_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/action_overdue.js?type=<%= params[:type] %>');
    $.getScript('/overdues/appointment_overdue.js?type=<%= params[:type] %>');
  })
</script>
