<table class="table table-bordered table-responsive">
  <thead>
  <tr>

    <% if defined?(use_belongs_to) %>
        <th>Belongs to</th>
    <% else %>
        <th><%= t('label_user') %></th>
    <% end %>
    <th>Date</th>
    <th>Note</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% if notes.any? %>
      <% notes.each do |note| %>
          <tr>
            <% if defined?(use_belongs_to) %>
                <td><%= link_to note.object, note.object %></td>
            <% else %>
                <td><%= link_to note.user, note %></td>
            <% end %>
            <td><%= note.updated_at.to_date %></td>
            <td><%= note.note.to_s.html_safe %></td>
          </tr>
      <% end %>

  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>