<style>
    .note_span{
        cursor: pointer;
        color: blue;
    }
    .all_notes
    {
        display: none;
    }
</style>
<table class="display  projects-table table  table-striped table-bordered table-hover" cellspacing="0" width="100%" id="notes_table">
  <thead>
  <tr id="notes_input">

    <% if defined?(use_belongs_to) %>
        <th>Belongs to</th>
    <% else %>
        <th><%= t('label_user') %></th>
    <% end %>
    <th><%= t('case') %></th>
    <th><%= t('label_date') %></th>
    <th><%= t('note') %></th>
    <th ></th>
    <th ></th>
  </tr>
  </thead>

  <tbody>
  <% if notes.any? %>
      <% notes.each do |note| %>
          <tr>
            <% if defined?(use_belongs_to) %>
                <td><%= link_to( note.object.to_s, note.object) if note.object %></td>
            <% else %>
                <td><%= link_to note.user, note %></td>
            <% end %>
            <td><%= link_to_case note.object.try(:case) %></td>
            <td><%= note.updated_at.to_date %></td>
            <td><%= display_note(note.note.to_s) %></td>
            <td><%= show_link(note) if note.can?(:manage_roles, :manage_notes, :edit_notes)  %></td>
            <td><%= delete_link(note) if note.can?(:manage_roles, :manage_notes, :delete_notes)  %></td>
          </tr>
      <% end %>

  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        $('.link_label_less').on('click', function(){
            $(this).parents('td').find('.all_notes').hide();
            $(this).parents('td').find('.less_notes').show();
        });
        $('.link_label_more').on('click', function(){
            $(this).parents('td').find('.less_notes').hide();
            $(this).parents('td').find('.all_notes').show();
        });
        <%  if notes.present? %> initDataTable('notes_table') <% end %>
    } );
</script>