<div class="row">
  <div class="col-xs-12 btn-edition">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
        <% if @transport.can?(:manage_roles, :manages_transports, :delete_transports) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', transport_path(@transport), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if @transport.can?(:manage_roles, :manages_transports, :edit_transports) %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_transport_path(@transport), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <% if @transport.can?(:manage_roles, :manages_transports, :show_transports) %>
            <li>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Show', transport_path(@transport), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', transports_path, class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', transport_path(@transport, format: 'pdf'), class: 'dropdown-item' %>
          </li>
            <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <%= link_to 'History Changes', "/histories/#{@transport.class}/#{@transport.id}", class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
</div>
