

<%= form_for(transport, html: { class: 'form-horizontal' }) do |f| %>
    <% if transport.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(transport.errors.count, "error") %> prohibited this transport from being saved:</h2>

          <ul>
            <% transport.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :case_id %>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <fieldset>
          <legend></legend>
          <div class="form-group">
            <%= f.label :reason, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :reason, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :transport_type, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :transport_type_id, options_for_select(TransportType.active.pluck(:name, :id), selected: f.object.transport_type.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :location, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :location, class: 'form-control' %>
              <%= f.hidden_field :location_lat, class: 'form-control' %>
              <%= f.hidden_field :location_long, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :transport_location, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :transport_location_id, options_for_select(TransportLocation.active.pluck(:name, :id), selected: f.object.transport_location.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :transport_status, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :transport_status_id, options_for_select(TransportStatus.active.pluck(:name, :id), selected: f.object.transport_status.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :date_time, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :date_time, class: 'form-control datetimepicker' %>
            </div>
          </div>

        </fieldset>
      </div>


      <div class="col-xs-12 col-md-5">
        <fieldset>
          <legend></legend>
          <%= render partial: 'map', locals: {
              location: 'transport_location',
              location_lat: 'transport_location_lat',
              location_long: 'transport_location_long',
              object: transport

          } %>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-7">
        <fieldset>
          <legend></legend>
          <div class="form-group">
            <%= f.label t(:description) , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :description , class: 'form-control ck-editor' %>
            </div>
          </div>
        </fieldset>
      </div>



      <div class="col-xs-12 col-md-5">
        <fieldset>
          <legend></legend>
          <div class="form-group">
            <div class="col-md-12">
              <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
            </div>
            <%= f.simple_fields_for :transport_attachments do |attachment| %>
                <%= render 'attachments/attachment_show', :f => attachment %>
            <% end %>
            <div id="attachment_fields" class="col-xs-2 margin-top-10 " style="padding-right: 2px;" >
              <%= link_to_add_association 'add file', f, :transport_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
            </div>
          </div>

        </fieldset>
      </div>
    </div>

    <div class="form-group" >
      <div class="col-md-11">
        <%= link_to t('button_cancel'), case_path(@transport.case) + '#tabs-transports', class: 'btn btn-warning pull-right' %>
        <%= f.submit t('button_save'), class: 'btn btn-success pull-right' %>
      </div>
    </div>
<% end %>

