
<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>User:</strong>
      <%= @transport.user %>
    </p>

    <p>
      <strong>Reason:</strong>
      <%= @transport.reason %>
    </p>

    <p>
      <strong>Transport type:</strong>
      <%= @transport.transport_type %>
    </p>

     <p>
      <strong>Location:</strong>
      <%= @transport.location %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @transport.description.html_safe %>
    </p>

    <p>
      <strong>Transport location:</strong>
      <%= @transport.transport_location %>
    </p>

    <p>
      <strong>Transport status:</strong>
      <%= @transport.transport_status %>
    </p>

    <p>
      <strong>Date time:</strong>
      <%= format_date_time @transport.date_time %>
    </p>
    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @transport.transport_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>
<%= link_to( t('add_note'), new_note_path(type: 'TransportNote', owner_id: @transport.id), class: 'btn btn-success pull-right btn-edition') if can?(:add_notes, :manage_roles) %>
<%= render partial: 'notes/notes', locals: {notes: @transport.transport_notes} %>
