<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>Person name:</strong>
      <%= @jsignature.person_name %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @jsignature.user %>
    </p>

    <p>
      <strong>Created at:</strong>
      <%= format_date_time @jsignature.created_at %>
    </p>

    <p>
      <strong><%= @jsignature.signature_owner.class %>:</strong>
      <%= link_to @jsignature.signature_owner.to_s, @jsignature.signature_owner %>
    </p>


    <p>
      <strong>Signature:</strong>
      <%= image_tag @jsignature.signature.html_safe, class: 'img-responsive' %>
    </p>

  </div>
</div>