
<section id="widget-grid" class="user_account">
  <div class="row btn-edition">
    <div class="col-xs-12">
      <%= link_to 'ACTIVE', {}.merge(status_type: 'active'), class: 'btn btn-success'  %>
      <%= link_to 'INACTIVE', {}.merge(status_type: 'inactive'), class: 'btn btn-danger'  %>
      <%= link_to 'ALL', {}.merge(status_type: 'all'), class: 'btn btn-primary'  %>
      <%= link_to t(:new_employee), new_employee_path, class: 'btn btn-primary pull-right margin-bottom-10' %>

    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'clients',
                     wid_title: t('employees')
                 } %>
    </article>
  </div>
</section>