
<table class="table  table-responsive" id="positions_table" style="width: 100%">
  <thead>
  <tr>
    <th><%= t('title') %></th>
    <th><%= 'Occupation' %></th>
    <th><%= t('enumeration_location_type') %></th>

    <th><%= t('date_start') %></th>
    <th><%= t('date_end') %></th>
    <th><%= t('employment_type') %></th>

    <th><%= t('position_status') %></th>
    <th><%= t('estimated_monthly_amount') %></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'positions_table',
    url: positions_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: positions_path(format: :json, status_type: params[:status_type])
} %>

