<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row btn-edition">
  <div class="col-xs-12">
    <%= link_to 'Enable Two factor authentication', '/users/enable_authy', class: 'pull-right btn btn-primary' if User.current == User.current_user %>
    <%= link_to 'Print', {}.merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
  </div>
</div>
<script>
  $( function() {
    $tabs = $( "#tabs-shared" ).tabs();
  } );
</script>
<section id="widget-grid" class="show_tab">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="tabs-shared">
        <ul>
          <li><a id="link-tabs-modules" href="#tabs-cd"><%= t(:core_demography) %></a></li>
          <li><a id="link-tabs-modules" href="#tabs-ed"><%= t(:extend_demography) %></a></li>
          <li><a id="link-tabs-modules" href="#tabs-if"><%= 'Identification' %></a></li>
          <li><a id="link-tabs-modules" href="#tabs-password"><%= t('profile.password') %></a></li>
          <% if can?(:manage_roles, :manage_user_job_details, :manage_organizations) %>
              <li><a id="link-tabs-modules" href="#tabs-jd"><%= 'Organization' %></a></li>
          <% end %>
          <li><a id="link-tabs-modules" href="#tabs-sig"><%= t(:jsignature) %></a></li>
          <% if can?(:manage_roles, :view_related_clients, :manage_related_clients) %>

              <li><a id="link-tabs-modules" href="#tabs-rel"><%= 'Related Clients' %></a></li>
          <% end %>
        </ul>

        <div id="tabs-cd">
          <%= render partial: 'core_demographics/form',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'profile',
                         wid_title: 'profile',
                         user: User.current,
                         core_demographic: @core_demographic
                     } %>
        </div>
        <div id="tabs-ed">
          <%= render partial: 'extend_demographies/form2',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'extend_demography',
                         wid_title: 'Contact Information',
                         extend_demography: User.current.extend_informations
                     } %>
        </div>
        <div id="tabs-if">
          <%= render partial: 'extend_demographies/identification_form',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'extend_demography_id',
                         wid_title: 'Identification',
                         extend_demography: User.current.extend_informations
                     } %>
        </div>
        <div id="tabs-password">
          <%= render partial: 'edit_password',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'password',
                         wid_title: 'Change password'
                     } %>
        </div>
        <div id="tabs-jd">
          <% if can?(:manage_roles, :manage_user_job_details, :manage_organizations) %>
              <%= render partial: 'job_details/form',
                         layout: 'shared/smart_widget_wrapper',
                         locals: {
                             wid_id: 'job_detail',
                             wid_title: 'Organization',
                             user: User.current,
                             job_detail: User.current.job
                         } %>

          <% end %>
        </div>
        <div id="tabs-sig">
          <%= link_to( t('add_jsignature'), new_jsignature_path(owner_type: "User", owner_id: User.current.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_jsignatures, :manage_roles) %>
          <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%= render partial: 'jsignatures/list',
                         layout: 'shared/smart_widget_wrapper',
                         locals: {
                             show_case_column: true,
                             jsignatures:  User.current.jsignatures,
                             wid_id: 'jsignatures',
                             wid_title: "Release of Information"
                         } %>
            </article>
          </div>

        </div>
        <div id="tabs-rel">
          <%= link_to( t('new_related_client'), new_related_client_path, class: 'btn btn-primary pull-right btn-edition') if can?(:manage_related_clients, :create_related_clients, :manage_roles) %>
          <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <% if can?(:manage_roles, :view_related_clients, :manage_related_clients) %>

                  <%= render partial: 'related_clients/list',
                             layout: 'shared/smart_widget_wrapper',
                             locals: {
                                 related_clients:  User.current.related_clients,
                                 wid_id: 'related_clients',
                                 wid_title: "Related Clients"
                             } %>


              <% end %>
            </article>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<style>
  .ui-widget-content a {
    color: #214e75;
  }
  a.btn-primary{
    color: white
  }
</style>
