<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row btn-edition">
  <div class="col-xs-12">
    <%= link_to 'Enable Two factor authentication', '/users/enable_authy', class: 'pull-right btn btn-primary' if User.current == User.current_user %>
    <%= link_to 'Print', {}.merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
  </div>
</div>
<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'employees/user_basic_info',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'basic_info',
                     wid_title: 'Basic Information',
                     user: User.current
                 } %>
      <%= render partial: 'core_demographics/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'profile',
                     wid_title: 'profile',
                     core_demographic: @core_demographic
                 } %>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'extend_demographies/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'extend_demography',
                     wid_title: 'More information',
                     extend_demography: User.current.extend_informations
                 } %>
      <%= render partial: 'edit_password',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'password',
                     wid_title: 'Change password'
                 } %>
      <%= render partial: 'job_details/info',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'job_detail_info',
                     wid_title: "Role Info: #{ User.current.principal_role}",
                     job_detail: User.current.job_detail
                 } %>

      <% if can?(:manage_roles, :manage_user_job_details, :manage_organizations) %>
          <%= render partial: 'job_details/form',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'job_detail',
                         wid_title: 'Organization',
                         user: User.current,
                         job_detail: User.current.job
                     } %>

      <% end %>

    </article>


    <%= link_to( t('add_jsignature'), new_jsignature_path(owner_type: "User", owner_id: User.current.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_jsignatures, :manage_roles) %>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'jsignatures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     show_case_column: true,
                     jsignatures:  User.current.jsignatures,
                     wid_id: 'jsignatures',
                     wid_title: "Release of Information"
                 } %>
    </article>

    <%= link_to( t('new_related_client'), new_related_client_path, class: 'btn btn-primary pull-right btn-edition') if can?(:manage_related_clients, :create_related_clients, :manage_roles) %>

    <% if can?(:manage_roles, :view_related_clients, :manage_related_clients) %>
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'related_clients/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         related_clients:  User.current.related_clients,
                         wid_id: 'related_clients',
                         wid_title: "Related Clients"
                     } %>
        </article>

    <% end %>

  </div>
</section>
