  <div class="col-xs-12 btn-edition tabs-section">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
        <% if @job_app.can?(:manage_roles, :manages_job_apps, :delete_job_apps) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', job_app_path(@job_app), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if @job_app.can?(:manage_roles, :manages_job_apps, :edit_job_apps) %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_job_app_path(@job_app), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <% if @job_app.can?(:manage_roles, :manages_job_apps, :show_job_apps) %>
            <li>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Show', job_app_path(@job_app), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', case_path(@job_app.case) + '#tabs-job_applications', class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', job_app_path(@job_app, format: 'pdf'), class: 'dropdown-item' %>
          </li>
            <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <%= link_to 'History Changes', "/histories/#{@job_app.class}/#{@job_app.id}", class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
