<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', job_app_path(@job_app), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @job_app.can?(:manage_roles, :manages_job_apps, :delete_job_apps)
  %>
  <%= link_to( 'Edit', edit_job_app_path(@job_app), class: 'btn btn-success pull-right') if @job_app.can?(:manage_roles, :manages_job_apps, :edit_job_apps) %>
  <%= link_to t('button_cancel'), job_apps_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), job_app_path(@job_app, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to t('button_history_changes'), "/histories/#{@job_app.class}/#{@job_app.id}", class: 'btn btn-primary pull-right' %>

</div>
