<table class="table table-responsive table-bordered" id="case_supports_table">
  <thead>
  <tr>
    <th><%= t('label_name')%></th>
     <% unless params[:controller] == 'cases' %>
        <th><%= t('case')%></th>
    <% end %>
    <th><%= t('case_support_type')%></th>
    <th><%= t('support_status')%></th>
    <th><%= t('date_started')%></th>
    <th><%= t('date_ended')%></th>
  </tr>
  </thead>

  <tbody>
  <% if case_supports.present? %>
      <% case_supports.each do |case_support| %>
          <tr>
            <td><%= link_to case_support.name, case_support%></td>
            <% unless params[:controller] == 'cases' %>
                <td><%= case_support.case %></td>
            <% end %>
            <td><%= case_support.case_support_type %></td>
            <td><%= case_support.support_status %></td>
            <td><%= case_support.date_started %></td>
            <td><%= case_support.date_ended %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    <% if @case_supports.present? %>  initDataTable('case_supports_table') <% end %>
  } );
</script>
