<% show_case = defined?(show_case_column) ? show_case_column : true %>
<table class="table table-responsive table-bordered" id="case_supports_table">
  <thead>
  <tr>
    <th><%= t('label_name')%></th>
    <% if show_case %>
        <th><%= t('case')%></th>
    <% end %>
    <th><%= t('case_support_type')%></th>
    <th><%= t('support_status')%></th>
    <th><%= t('date_started')%></th>
    <th><%= t('date_ended')%></th>
    <% if @appointment %>
        <th> Unlink </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% if case_supports.present? %>
      <% case_supports.each do |case_support| %>
          <tr>
            <td><%= link_to case_support.name, case_support%></td>
            <% if show_case %>
                <td><%= link_to_case case_support.case %></td>
            <% end %>
            <td><%= case_support.case_support_type %></td>
            <td><%= case_support.support_status %></td>
            <td><%= format_date case_support.date_started %></td>
            <td><%= format_date case_support.date_ended %></td>
            <% if @appointment and can?(:manage_roles) %>
                <td><%= link_to "<i class='fa fa-unlink fa-lg'></i>".html_safe, unlink_appointment_path(appointment_id: @appointment.id, type: 'CaseSuppport', id: case_support.id ) %></td>
            <% end %>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    <% if @case_supports.present? %>  initDataTable('case_supports_table') <% end %>
  } );
</script>
