<div class="col-xs-12 btn-edition">
  <%= link_to('Delete', case_support_path(@case_support), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if @case_support.owner? or can?(:manage_roles, :delete_cases)
  %>
  <%= link_to(t('button_edit'), edit_case_support_path(@case_support), class: 'btn btn-success pull-right') if @case_support.owner? or can?(:manage_roles, :edit_cases) %>
  <%= link_to(t('button_cancel'), case_url(@case_support.case), class: 'btn btn-warning pull-right') %>
  <%= link_to(t('button_print'), case_support_path(@case_support, format: 'pdf'), class: 'btn btn-primary pull-right') %>
</div>

<div class="row">
  <p>
    <strong><%= t('case') %>:</strong>
    <%= @case_support.case %>
  </p>

  <p>
    <strong><%= t('profile.first_name') %>:</strong>
    <%= @case_support.first_name %>
  </p>

  <p>
    <strong><%= t('profile.middle_name') %>:</strong>
    <%= @case_support.middle_name %>
  </p>

  <p>
    <strong><%= t('profile.last_name') %>:</strong>
    <%= @case_support.last_name %>
  </p>

  <p>
    <strong><%= t('case_support_type') %>:</strong>
    <%= @case_support.case_support_type %>
  </p>

  <p>
    <strong><%= t('label_note') %>:</strong>
    <%= @case_support.note.html_safe %>
  </p>
  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @case_support.case_support_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>

  <%= render_extend_demography_information(@case_support.case_support_extend_demography) %>
</div>