<%= form_for messageboard, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :name, class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :messageboard_group_id, class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.collection_select :messageboard_group_id, Thredded::MessageboardGroup.all, :id, :name,
                                include_blank: t('thredded.messageboard.form.no_group') %>
      </div>
    </div>

    <div class="form-group margin-top-10" >
      <div class="col-xs-12">
        <% if messageboard.new_record? %>
            <%= link_to t('button_cancel'), '/forum', class: 'btn btn-warning pull-right' %>

        <% else %>
            <%= link_to t('button_cancel'), messageboard_topics_path(messageboard), class: 'btn btn-warning pull-right' %>
        <% end %>
        <%= f.submit @messageboard.persisted? ? t('thredded.messageboard.update') : t('thredded.messageboard.create'),
                     class: 'btn btn-success pull-right' %>
      </div>
    </div>
<% end %>
