<% content_for :thredded_page_title, t('thredded.messageboard.index.page_title') %>
<% content_for :thredded_page_id, 'messageboards-index' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>
<%= thredded_page do %>
    <div class="row">

        <div class="col-xs-12 btn-edition">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:310px;">
              <% if policy(Thredded::Messageboard.new).create? %>
                <li>
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  <%= link_to t('thredded.messageboard.create'), new_messageboard_path, class: 'dropdown-item' %>
                </li>
                <div class='dropdown-item-dividier'></div>
              <% end %>

              <% if policy(Thredded::MessageboardGroup.new).create? %>
                <li>
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  <%= link_to t('thredded.messageboard_group.create'), new_messageboard_group_path, class: 'dropdown-item' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      <div class="col-sm-12">

        <div class="well">
          <% @groups.each do |group| %>
          <table class="table table-striped table-forum">
            <thead>
            <tr>
              <th colspan="2">
                <% if group.name.present? %>
                    <%= group.name %>
                <% end %>
              </th>
              <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Topics</th>
              <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
              <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
            </tr>
            </thead>
            <tbody>
            <!-- TR -->
            <%= render group.messageboards %>
            </tbody>
            </table>

              <% end %>
          </div>
        </div>
      </div>
<% end %>
