<% content_for :thredded_page_title, t('thredded.messageboard.index.page_title') %>
<% content_for :thredded_page_id, 'messageboards-index' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>
<%= thredded_page do %>
    <div class="row">

      <div class="col-sm-12">

        <div class="well">
          <% @groups.each do |group| %>
          <table class="table table-striped table-forum">
            <thead>
            <tr>
              <th colspan="2">
                <% if group.name.present? %>
                    <%= group.name %>
                <% end %>
              </th>
              <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Topics</th>
              <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
              <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
            </tr>
            </thead>
            <tbody>
            <!-- TR -->
            <%= render group.messageboards %>
            </tbody>
            </table>

              <% end %>
          </div>
        </div>
      </div>
    <div class="col-xs-12" align="center">
      <% if policy(Thredded::Messageboard.new).create? %>
          <a  class='btn btn-primary' href="<%= new_messageboard_path %>"><%= t('thredded.messageboard.create') %></a>
      <% end %>
      <% if policy(Thredded::MessageboardGroup.new).create? %>
          <a class='btn btn-primary' href="<%= new_messageboard_group_path %>"><%= t('thredded.messageboard_group.create') %></a>
      <% end %>
    </div>
<% end %>
