
<div class="row">
  <div class="col-xs-12">
    <fieldset>
      <legend></legend>
      <%= simple_form_for(@case_watcher, html: { class: 'form-horizontal' }) do |f| %>
          <div class="form-group">
            <%= f.label :user, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select 'user_id', options_for_select(@users.map{|user| [user.name, user.id]}, selected: f.object.user_id), {}, {class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :reason, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :reason, class: 'form-control ck-editor' %>
            </div>
          </div>

          <div class="form-group" >
            <div class="col-md-11">
              <%= link_to t('button_cancel'), case_url(@case_watcher.case) + '#tabs-watcher', class: 'btn btn-warning pull-right' %>
              <%= submit_tag t('button_save'), class: 'btn btn-success pull-right' %>
            </div>
          </div>
      <% end %>
    </fieldset>
  </div>
</div>
