<table class="table table-responsive table-bordered" id="watchers_table">
  <thead>
  <tr>
    <th><%= t('label_user') %></th>
    <% unless params[:controller] == 'cases' %>
        <th><%= t('case') %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% if case_watchers.present? %>
      <% case_watchers.each do |case_watcher| %>
          <tr>
            <td><%= case_watcher.user %></td>
            <% unless params[:controller] == 'cases' %>
                <td><%= link_to case_watcher.case, case_watcher.case %></td>
            <% end %>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
