<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', need_path(@need), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @need.can?(:delete_needs, :manage_needs, :manage_roles)
  %>
  <%= link_to 'Edit', edit_need_path(@need), class: 'btn btn-success pull-right' if @need.can?(:edit_needs, :manage_needs, :manage_roles) %>
  <%= link_to(t('add_note'), new_note_path(type: 'NeedNote', owner_id: @need.id), class: 'btn btn-success pull-right') if can?(:add_notes, :manage_roles) %>
  <%= link_to t('button_cancel'), needs_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), need_path(@need, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>