<% show_case = defined?(show_case_column) ? show_case_column : true %>
<table class="table table-responsive table-bordered" id="needs_table">
  <thead>
  <tr>
    <% if User.current.can?(:manage_roles) %>
        <th><%= t('label_user') %></th>
    <% end %>
       <th><%= t('need') %></th>
    <% if show_case %>
        <th><%= t('case') %></th>
    <% end %>
    <th><%= t('priority') %></th>
    <th><%= t('need_status') %></th>
    <th><%= t('date_due') %></th>
    <th><%= t('date_completed') %></th>
    <th><%= t('date_identified') %></th>
    <% if @appointment %>
        <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% if @needs.any? %>
      <% @needs.each do |need| %>
          <tr>
            <% if User.current.can?(:manage_roles) %>
                <th><%= need.user %></th>
            <% end %>
            <td><%= link_to need.need_enum, need %></td>
            <% if show_case %>
                <td><%= link_to_case need.case %></td>
            <% end %>
            <td><%= need.priority_type %></td>
            <td><%= need.need_status %></td>
            <td><%= need.date_due %></td>
            <td><%= need.date_completed %></td>
            <td><%= need.date_identified %></td>
            <% if @appointment and can?(:manage_roles) %>
                <td><%= link_to "<i class='fa fa-unlink fa-lg'></i>".html_safe, unlink_appointment_path(appointment_id: @appointment.id, type: 'Need', id: need.id ) %></td>
            <% end %>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    <%  if @needs.present? %> initDataTable('needs_table') <% end %>
  } );
</script>
