<table class="table table-responsive table-bordered" id="needs_table">
  <thead>
  <tr>
    <th><%= t('need') %></th>
    <th><%= t('case') %></th>
    <th><%= t('priority') %></th>
    <th><%= t('need_status') %></th>
    <th><%= t('date_due') %></th>
    <th><%= t('date_completed') %></th>
    <th><%= t('date_identified') %></th>
  </tr>
  </thead>

  <tbody>
  <% if @needs.any? %>
      <% @needs.each do |need| %>
          <tr>
            <td><%= link_to need.need_enum, need %></td>
            <td><%= link_to_case need.case %></td>
            <td><%= need.priority_type %></td>
            <td><%= need.need_status %></td>
            <td><%= need.date_due %></td>
            <td><%= need.date_completed %></td>
            <td><%= need.date_identified %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
