<h1><%= t('needs') %></h1>

<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th><%= t('need') %></th>
      <th><%= t('priority') %></th>
      <th><%= t('need_status') %></th>
      <th><%= t('date_due') %></th>
      <th><%= t('date_completed') %></th>
      <th><%= t('date_identified') %></th>
     </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.need_enum %></td>
        <td><%= need.priority_type %></td>
        <td><%= need.need_status %></td>
        <td><%= need.description %></td>
        <td><%= need.date_due %></td>
        <td><%= need.date_completed %></td>
        <td><%= need.date_identified %></td>
      </tr>
    <% end %>
  </tbody>
</table>
