
<%= render partial: 'action_menu' %>
<div class="col-xs-12">
<p>
  <strong>Need enum:</strong>
  <%= @need.need_enum %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @need.priority_type %>
</p>

<p>
  <strong>Need status:</strong>
  <%= @need.need_status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @need.description.html_safe %>
</p>

<p>
  <strong>Date due:</strong>
  <%= @need.date_due %>
</p>

<p>
  <strong><%= t('date_completed') %>:</strong>
  <%= @need.date_completed %>
</p>
  
<p>
  <strong><%= t('date_identified') %>:</strong>
  <%= @need.date_identified %>
</p>
  
</div>


<%= render partial: 'notes/notes', locals: {notes: @need.need_notes} %>
