<table class="table table-responsive" id="surgical_table">
  <thead>
  <tr>
    <th>Name</th>
    <th><%= t('hcpc') %></th>
    <th>Medical Facility</th>
    <th>Surgery Status</th>
    <th>Surgery Type</th>
    <th>Surgical Date</th>
  </tr>
  </thead>

  <tbody>
  <% @surgicals.each do |surgical| %>
      <tr>
        <td><%= link_to_edit_if_can surgical.name, {ctrl: :surgicals, object: surgical } %></td>
        <td><%= link_to_edit_if_can surgical.hcpc, {ctrl: :surgicals, object: surgical } %></td>

        <td><%= surgical.medical_facility %></td>
        <td><%= surgical.surgery_status %></td>
        <td><%= surgical.surgery_type %></td>
        <td><%= format_date surgical.surgery_date %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('surgical_table')
  })
</script>