<p id="notice"><%= notice %></p>

<h1>Surgicals</h1>

<table>
  <thead>
    <tr>
      <th>Surgical type</th>
      <th>User</th>
      <th>Medical facility</th>
      <th>Surgery status</th>
      <th>Surgery type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surgicals.each do |surgical| %>
      <tr>
        <td><%= surgical.surgical_type_id %></td>
        <td><%= surgical.user_id %></td>
        <td><%= surgical.medical_facility %></td>
        <td><%= surgical.surgery_status_id %></td>
        <td><%= surgical.surgery_type_id %></td>
        <td><%= surgical.description %></td>
        <td><%= link_to 'Show', surgical %></td>
        <td><%= link_to 'Edit', edit_surgical_path(surgical) %></td>
        <td><%= link_to 'Destroy', surgical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surgical', new_surgical_path %>
