<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs12">

    <p>
      <strong>Name:</strong>
      <%= @surgical.name %>
    </p>

    <p>
      <strong>Icdcm code:</strong>
      <%= @surgical.icdcm_code %>
    </p>

    <p>
      <strong>Medical facility:</strong>
      <%= @surgical.medical_facility %>
    </p>

    <p>
      <strong>Surgery status:</strong>
      <%= @surgical.surgery_status %>
    </p>

    <p>
      <strong>Surgery type:</strong>
      <%= @surgical.surgery_type %>
    </p>

    <p>
      <strong>surgery date:</strong>
      <%= @surgical.surgery_date %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @surgical.description.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @surgical.surgical_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
    
  </div>
</div>
