<table class="table table-responsive table-bordered" id="other_skill_table">
  <thead>
  <tr>
    <th><%= t('label_name') %></th>
    <th><%= t('skill_status') %></th>
    <th><%= t('skill_type') %></th>
    <th> <%= t('education_date_received') %></th>
    <th> <%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>
     <% @other_skills.each do |other_skill| %>
          <tr>
            <td><%= link_to_edit_if_can other_skill.name, {ctrl: :other_skills, object: other_skill } %></td>

            <td><%= other_skill.skill_status %></td>
            <td><%= other_skill.skill_type %></td>
            <td><%= format_date other_skill.date_received %></td>
            <td><%= format_date other_skill.date_expired %></td>
          </tr>
      <% end %>

  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('other_skill_table')
  } );
</script>
