<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th><%= t('label_name') %></th>
    <th><%= t('skill_status') %></th>
    <th<%= t('education_date_received') %></th>
    <th<%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>
  <% if @other_skills.any? %>
      <% @other_skills.each do |other_skill| %>
          <tr>
            <td><%= link_to other_skill.name, other_skill_path(other_skill)%></td>
            <td><%= other_skill.skill_status %></td>
            <td><%= other_skill.date_received %></td>
            <td><%= other_skill.date_expired %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>