<table class="table table-responsive " id="other_skill_table" style="width: 100%">
  <thead>
  <tr>
    <th><%= t('label_name') %></th>
    <th><%= t('skill_status') %></th>
    <th><%= t('skill_type') %></th>
    <th> <%= t('education_date_received') %></th>
    <th> <%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>


  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'other_skill_table',
    url: other_skills_path(format: :csv),
    columns: columns.flatten,
    ajax_url: other_skills_path(format: :json, status_type: params[:status_type])
} %>
