<li>
  <a href="#" id="ul_admin"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Administration</span></a>
  <ul id="admin_menu">
    <li>
      <%= link_to "Users", '/users' %>
    </li>
    <li>
      <%= link_to "Enumeration", '/enumerations' %>
    </li>
    <li>
      <%= link_to "Roles", '/roles' %>
    </li>
    <li>
      <a href="#"><i class="fa fa-folder"></i> D.M.S </a>
      <ul>
        <li class="<%= menu_active?('categories') %>">
          <%= link_to t(:categories), '/categories' %>
        </li>

        <li class="<%= menu_active?('groups') %>">
          <%= link_to t(:groups), '/groups' %>
        </li>

      </ul>
    </li>
    <li>
      <%= link_to "Note template", '/note_templates' %>
    </li>
    <li>
      <a href="<%= '/organizations' %>" title="<%= t(:organizations) %>"> <span class="menu-item-parent"><%= t(:organizations) %></span></a>
    </li>

    <li>
      <a href="<%= '/checklist_templates' %>" title="<%= t(:checklists) %>"><span class="menu-item-parent"><%= t(:checklists) %></span></a>
    </li>

    <li>
      <a href="<%= '/insurances' %>" title="<%= t(:insurance_plural) %>"><span class="menu-item-parent"><%= t(:insurance_plural) %></span></a>
    </li>
    <li>
      <a href="/pivot_table/index" title="<%= 'Pivot table' %>"><span class="menu-item-parent"><%= 'Pivot table' %></span></a>
    </li>
    <li>
      <%= link_to "Setting", '/settings' %>
    </li>
    <li>
      <%= link_to "Measurement", '/measurements' %>
    </li>
    <% if module_enabled? 'inventory/products' %>
        <li>
          <%= link_to "Inventory", '/inventory' %>
        </li>
    <% end %>
    <% if module_enabled? 'surveys' %>
        <li class="<%= menu_active?('surveys') %>">
          <a href="<%= '/surveys' %>" title="<%= t(:surveys) %>"><span class="menu-item-parent"><%= t(:surveys) %></span></a>
        </li>
    <% end %>

  </ul>
</li>