<% if !User.current.allowed_to?(:manage_roles) %>
    <li>
      <a href="#" id="ul_profile"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Profile</span></a>
      <ul id="profile_menu">
        <% if module_enabled?( 'profile_record') %>
            <li class="<%= menu_active?('profile_record') %> ">
              <a href= "/profile_record" title="Profile record"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Profile record</span></a>
            </li>
        <% end %>

        <li class="<%= menu_active?('devise/registrations') %>">
          <a href= "/users/edit" title="<%= t('profile.profile') %>"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent"><%= t('profile.profile') %></span></a>
        </li>

        <% if module_enabled?( 'languages')  && can?(:manage_roles, :view_languages, :manage_languages) %>
            <li class="<%= menu_active?('languages') %>">
              <a href="/languages" title="<%= t(:languages) %>"><i class="fa fa-lg fa-fw fa-language"></i> <span class="menu-item-parent"><%= t(:languages) %></span></a>
            </li>
        <% end %>

        <% if module_enabled?( 'contacts') && can?(:manage_roles, :view_contacts, :manage_contacts) %>
            <li class="<%= menu_active?('contacts') %>">
              <a href="/contacts" title="<%= t(:contacts) %>"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent"><%= t(:contacts) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'affiliations')  && can?(:manage_roles, :view_affiliations, :manage_affiliations) %>
            <li class="<%= menu_active?('affiliations') %>">
              <a href="/affiliations" title="<%= t(:affiliations) %>"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent"><%= t(:affiliations) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'insurances')  && can?(:manage_roles, :view_insurances, :manage_insurances) %>
            <li class="<%= menu_active?('user_insurances') %>">
              <a href="/user_insurances" title="<%= t(:insurance) %>"><i class="fa fa-lg fa-fw fa-shield"></i> <span class="menu-item-parent"><%= t(:insurance) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'documents')  && can?(:manage_roles, :view_documents, :manage_documents) %>
            <li class="<%= menu_active?('client_documents') %>">
              <a href="/client_documents" title="<%= t(:client_documents) %>"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent"><%= t(:client_documents) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'related_clients')  && can?(:manage_roles, :view_related_clients, :manage_related_clients) %>
            <li class="<%= menu_active?('related_clients') %>">
              <a href="/related_clients" title="<%= t(:related_clients) %>"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent"><%= t(:related_clients) %></span></a>
            </li>
        <% end %>
      </ul>
    </li>
<% else %>
    <li>
      <a href="#" id="ul_profile"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Profile</span></a>
      <ul id="profile_menu">
        <li class="<%= menu_active?('devise/registrations') %>">
          <a href= "/users/edit" title="<%= t('profile.my_profile') %>"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent"><%= t('profile.my_profile') %></span></a>
        </li>

        <% if module_enabled?( 'languages')  %>
            <li class="<%= menu_active?('languages') %>">
              <a href="/languages" title="<%= t(:my_languages) %>"><i class="fa fa-lg fa-fw fa-language"></i> <span class="menu-item-parent"><%= t(:my_languages) %></span></a>
            </li>
        <% end %>

        <% if module_enabled?( 'contacts') %>
            <li class="<%= menu_active?('contacts') %>">
              <a href="/contacts" title="<%= t(:my_contacts) %>"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent"><%= t(:my_contacts) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'affiliations')   %>
            <li class="<%= menu_active?('affiliations') %>">
              <a href="/affiliations" title="<%= t(:my_affiliations) %>"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent"><%= t(:my_affiliations) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'documents')  %>
            <li class="<%= menu_active?('client_documents') %>">
              <a href="/client_documents" title="<%= t(:my_documents) %>"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent"><%= t(:my_documents) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'related_clients')  %>
            <li class="<%= menu_active?('related_clients') %>">
              <a href="/related_clients" title="<%= t(:my_related_clients) %>"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent"><%= t(:my_related_clients) %></span></a>
            </li>
        <% end %>
      </ul>
    </li>
<% end %>