<% if !User.current.allowed_to?(:manage_roles) %>
    <li>
      <a href="#" id="ul_profile"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Profile</span></a>
      <ul id="profile_menu">
        <li class="<%= menu_active?('devise/registrations') %>">
          <a href= "/users/edit" title="<%= t('profile.profile') %>"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent"><%= t('profile.profile') %></span></a>
        </li>
        <% if module_enabled? 'educations' %>
            <li class="<%= menu_active?('educations') %>">
              <a href="/educations" title="<%= t(:educations) %>"><i class="fa fa-lg fa-fw fa-graduation-cap"></i> <span class="menu-item-parent"><%= t(:educations) %></span></a>
            </li>
        <% end %>
        <% if module_enabled? 'languages' %>
            <li class="<%= menu_active?('languages') %>">
              <a href="/languages" title="<%= t(:languages) %>"><i class="fa fa-lg fa-fw fa-language"></i> <span class="menu-item-parent"><%= t(:languages) %></span></a>
            </li>
        <% end %>
        <% if module_enabled? 'other_skills' %>
            <li class="<%= menu_active?('other_skills') %>">
              <a href="/other_skills" title="<%= t(:other_skills) %>"><i class="fa fa-lg fa-fw fa-plus"></i> <span class="menu-item-parent"><%= t(:other_skills) %></span></a>
            </li>
        <% end %>
        <% if module_enabled? 'certifications' %>
            <li class="<%= menu_active?('certifications') %>">
              <a href="/certifications" title="<%= t(:certifications) %>"><i class="fa fa-lg fa-fw fa-certificate"></i> <span class="menu-item-parent"><%= t(:certifications) %></span></a>
            </li>
        <% end %>
        <% if module_enabled? 'clearances' %>
            <li class="<%= menu_active?('clearances') %>">
              <a href="/clearances" title="<%= t(:clearances) %>"><i class="fa fa-lg fa-fw fa-eraser"></i> <span class="menu-item-parent"><%= t(:clearances) %></span></a>
            </li>
        <% end %>

        <% if module_enabled? 'positions' %>
            <li class="<%= menu_active?('positions') %>">
              <a href="/positions" title="<%= t(:positions) %>"><i class="fa fa-lg fa-fw fa-sort"></i> <span class="menu-item-parent"><%= t(:positions) %></span></a>
            </li>
        <% end %>
        <% if module_enabled? 'contacts' %>
            <li class="<%= menu_active?('contacts') %>">
              <a href="/contacts" title="<%= t(:contacts) %>"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent"><%= t(:contacts) %></span></a>
            </li>
        <% end %>
        <% if module_enabled? 'affiliations' %>
            <li class="<%= menu_active?('affiliations') %>">
              <a href="/affiliations" title="<%= t(:affiliations) %>"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent"><%= t(:affiliations) %></span></a>
            </li>
        <% end %>
        <% if module_enabled? 'insurances' %>
            <li class="<%= menu_active?('user_insurances') %>">
              <a href="/user_insurances" title="<%= t(:insurance_plural) %>"><i class="fa fa-lg fa-fw fa-shield"></i> <span class="menu-item-parent"><%= t(:insurance_plural) %></span></a>
            </li>
        <% end %>
      </ul>
    </li>

<% else %>
    <li class="<%= menu_active?('devise/registrations') %>">
      <a href= "/users/edit" title="<%= t('profile.profile') %>"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent"><%= t('profile.profile') %></span></a>
    </li>
<% end %>