<% unless User.current.allowed_to?(:manage_roles) %>
    <li>
      <a href="#" id="ul_military_history"><i class="fa fa-lg fa-fw fa-film"></i> <span class="menu-item-parent">Military History</span></a>
      <ul id="military_history_menu">
        <% if module_enabled?( 'service_histories') && can?(:manage_roles, :view_service_histories, :manage_service_histories)%>
            <li class="<%= menu_active?('service_histories') %>">
              <a href="/service_histories" title="<%= t(:service_history) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:service_history) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'units') && can?(:manage_roles, :view_units, :manage_units)%>
            <li class="<%= menu_active?('units') %>">
              <a href="/units" title="<%= t(:unit) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:unit) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'awards') && can?(:manage_roles, :view_awards, :manage_awards)%>
            <li class="<%= menu_active?('awards') %>">
              <a href="/awards" title="<%= t(:award) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:award) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'deployment_histories') && can?(:manage_roles, :view_deployment_histories, :manage_deployment_histories)%>
            <li class="<%= menu_active?('deployment_histories') %>">
              <a href="/deployment_histories" title="<%= t(:deployment_history) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:deployment_history) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'incident_histories') && can?(:manage_roles, :view_incident_histories, :manage_incident_histories)%>
            <li class="<%= menu_active?('incident_histories') %>">
              <a href="/incident_histories" title="<%= t(:incident_history) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:incident_history) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'mtf_hospitals') && can?(:manage_roles, :view_mtf_hospitals, :manage_mtf_hospitals)%>
            <li class="<%= menu_active?('mtf_hospitals') %>">
              <a href="/mtf_hospitals" title="<%= t(:mtf_hospital) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:mtf_hospital) %></span></a>
            </li>
        <% end %>
      </ul>
    </li>
<% end %>
