<ul>

  <% if can?(:manage_roles) %>
      <li class="<%= menu_active?('employees') %>">
        <a href="<%= employees_path %>" title="<%= t 'label_search' %>"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent"><%= t :label_search %></span></a>
      </li>
  <% end %>

  <%= render partial: 'menu/menu_profile' %>
  <%= render partial: 'menu/menu_cases' %>

  <% if true %>
      <li class="<%= menu_active?('wiki') %>">
        <a href="<%= '/wiki/all' %>" title="<%= t(:wiki) %>"><i class="fa fa-lg fa-fw fa-file-text"></i><span class="menu-item-parent"><%= t(:wiki) %></span></a>
      </li>
  <% end %>

 <% if true %>
      <li class="<%= menu_active?('forum') %>">
        <a href="<%= '/forum' %>" title="<%= t(:forum) %>"><i class="fa fa-lg fa-fw fa-forumbee"></i><span class="menu-item-parent"><%= t(:forum) %></span></a>
      </li>
  <% end %>

 <% if true %>
      <li class="<%= menu_active?('posts') %>">
        <a href="<%= posts_path %>" title="<%= 'news' %>"><i class="fa fa-lg fa-fw fa-newspaper-o"></i><span class="menu-item-parent"><%= 'news' %></span></a>
      </li>
  <% end %>


  <% if User.current.admin? %>
      <%= render partial: 'menu/admin' %>
  <% end %>

  <%= render partial: 'menu/smart_chat' %>


</ul>