<% unless User.current.allowed_to?(:manage_roles) %>
    <li>
      <a href="#" id="ul_socio_history"><i class="fa fa-lg fa-fw fa-film"></i> <span class="menu-item-parent">Socioeconomic History</span></a>
      <ul id="medical_socio_menu">
        <% if module_enabled?( 'admissions') && can?(:manage_roles, :view_admissions, :manage_admissions)%>
            <li class="<%= menu_active?('admissions') %>">
              <a href="/admissions" title="<%= t(:admission) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:admission) %></span></a>
            </li>
        <% end %>
        <% if module_enabled?( 'housings') && can?(:manage_roles, :view_housings, :manage_housings)%>
            <li class="<%= menu_active?('housings') %>">
              <a href="/housings" title="<%= t(:housing) %>"><i class="fa fa-lg fa-fw fa-circle"></i> <span class="menu-item-parent"><%= t(:housing) %></span></a>
            </li>
        <% end %>
      </ul>
    </li>
<% end %>
