<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete',  task_path(@task), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if @task.can?(:delete_tasks, :manage_tasks, :manage_roles)
  %>
  <%= link_to t('button_edit'), edit_task_path(@task), class: 'btn btn-success pull-right' if @task.can?(:edit_tasks, :manage_tasks, :manage_roles) %>
  <%= link_to t('button_cancel'),  get_back_url(@task), class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), task_path(@task, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to( t('add_sub_task'), new_task_path(sub_task_id: @task.id), class: 'btn btn-success pull-right') if can?(:create_tasks, :manage_tasks, :manage_roles) %>
  <%= link_to 'Link to plan', link_plan_task_path(@task), class: 'btn btn-primary pull-right' if can?(:create_tasks, :manage_tasks, :manage_roles) %>
  <%= link_to 'Unlink', delete_sub_task_relation_task_path(@task), class: 'btn btn-primary pull-right' if @task.related_to_id and @task.can?(:edit_tasks, :manage_tasks, :manage_roles)  %>
</div>