<table class="table table-bordered table-responsive" id="tasks_table">
  <thead>
  <tr>
    <th><%= t('title') %></th>
    <th><%= t('case') %></th>
    <th><%= t('task_type') %></th>
    <th><%= t('status') %></th>

    <th><%= t('date_start') %></th>
    <th><%= t('date_end') %></th>
  </tr>
  </thead>

  <tbody>
  <% tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td><%= link_to_case task.case %></td>
        <td><%= task.task_type %></td>
        <td><%= task.task_status_type %></td>
        <td><%= format_date_time task.date_start %></td>
        <td><%= format_date_time task.date_completed %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('tasks_table')
  } );
</script>
