<table class="table  table-responsive" id="tasks_table">
  <thead>
  <tr>
    <% if User.current.can?(:manage_roles) %>
        <th><%= t('label_employee') %></th>
    <% end %>
    <th><%= t('title') %></th>
    <th><%= t('case') %></th>
    <th><%= t('task_type') %></th>
    <th><%= t('status') %></th>
    <th><%= t('date_start') %></th>
    <th><%= t('date_end') %></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<script>
  function startExport(url, oParam) {
    url2 = url + $.param(oParam);
    window.open(url2,'_blank');
  }
  $(document).ready(function(){
    var table = $('#tasks_table').DataTable({
      "ajax": "<%= tasks_path(format: :json, status_type: params[:status_type]) %>",
      processing: true,
      serverSide: true,
      responsive: true,
      display: [[0, 'asc']],
      "bDestroy": true,
      "oTableTools": {
        "sSwfPath": "swf/copy_cvs_xls_pdf.swf",
        "aButtons": [
          {
            "sExtends": "ajax",
            "sButtonText": "CSV",
            "sUrl": window.location.href,
            "fnClick": function (nButton, oConfig) {
              var oParams = this.s.dt.oApi._fnAjaxParameters(this.s.dt);
              arr = oConfig.sUrl.split('/');
              arr.pop();
              link = arr.join('/');
              url =  "<%= tasks_path(format: :csv) %>?";
              startExport(url, oParams);
            }
          }
        ]
      },
      "columns": [
        <% if User.current.can?(:manage_roles) %>
        { "searchable": true, "orderable": true },
        <% end %>
        { "searchable": true, "orderable": true },
        { "searchable": true, "orderable": true },
        { "searchable": true, "orderable": true },
        { "searchable": true, "orderable": true },
        { "searchable": true, "orderable": true },
        { "searchable": true, "orderable": true }
      ],
      "sDom": "<'dt-toolbar'" +
      "<'col-sm-5 col-xs-8'f>" + //search box
      "<'col-sm-2 col-sm-offset-2 col-xs-2 'C>"+// drop down column hide
      "<'col-sm-2 col-xs-2 'T>"+// buttons export
      "<'col-sm-1 col-xs-2 'l>>"+// length
      "t"+ // the table
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "iDisplayLength": 10
    })
  } );
</script>
