<div class="col-xs-12">
  <p>
    <strong><%= t('case') %>:</strong>
    <%= link_to_case @task.case %>
  </p>

  <p>
    <strong><%= t('title') %>:</strong>
    <%= @task.title %>
  </p>

  <p>
    <strong><%= t('description') %>:</strong>
    <%= @task.description.html_safe %>
  </p>

  <p>
    <strong><%= t('task_type') %>:</strong>
    <%= @task.task_type%>
  </p>

  <p>
    <strong><%= t('priority') %>:</strong>
    <%= @task.priority_type %>
  </p>

  <p>
    <strong><%= t('assigned_to') %>:</strong>
    <%= @task.assigned_to %>
  </p>

  <p>
    <strong><%= t('date_start') %>:</strong>
    <%= @task.date_start %>
  </p>

  <p>
    <strong><%= t('date_due') %>:</strong>
    <%= @task.date_due %>
  </p>

  <p>
    <strong><%= t('date_completed') %>:</strong>
    <%= @task.date_completed %>
  </p>
  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @task.task_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>
</div>