<% show_case = defined?(show_case_column) ? show_case_column : true %>
<table class="table table-bordered table-responsive" id="tasks_table">
  <thead>
  <tr>
    <% if User.current.allowed_to?(:manage_roles) %>
        <th>Client</th>
    <% end %>
    <th><%= t('title') %></th>
    <% if show_case %>
        <th><%= t('case') %></th>
    <% end %>
    <th><%= t('task_type') %></th>
    <th><%= t('status') %></th>
    <th><%= t('date_start') %></th>
    <th><%= t('date_end') %></th>
  </tr>
  </thead>

  <tbody>
  <% if @tasks.any? %>
      <% @tasks.each do |task| %>
          <tr>
            <% if User.current.allowed_to?(:manage_roles) %>
                <td><%= task.user %></td>
            <% end %>
            <td><%= link_to task.title, task %></td>
            <% if show_case %>
                <td><%= link_to_case task.case %></td>
            <% end %>
            <td><%= task.task_type %></td>
            <td><%= task.task_status_type %></td>
            <td><%= format_date_time task.date_start %></td>
            <td><%= format_date_time task.date_completed %></td>
            <!--<td><%#= edit_link(edit_task_path(task))  if task.can?(:edit_tasks, :manage_tasks) %></td>-->
            <!--<td><%#= delete_link(task)  if task.can?(:delete_tasks, :manage_tasks)%></td>-->
          </tr>
      <% end %>

  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    <% if @tasks.present? %>  initDataTable('tasks_table') <% end %>
  } );
</script>
