<%= render partial: 'action_menu' %>
<section id="widget-grid" class="form_task_user">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         task: @task,
                         wid_id: 'task',
                         wid_title: 'Edit Action'
                 } %>
    </article>
  </div>


  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'plans/all_list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     plans: @plans,
                     wid_id: 'plans',
                     wid_title: t('plans')
                 } %>
    </article>
  </div>
</section>

<% if @tasks.any? %>
    <section id="widget-grid" class="checklists_account">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'sub_tasks',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'subtasks',
                         wid_title: t('sub_tasks')
                     } %>
        </article>
      </div>
    </section>
<% end %>
<% if can?(:manage_roles, :view_notes) %>

    <section id="widget-grid" class="actions_notes">
      <div class="col-xs-12 btn-edition tabs-section">
        <%= render partial: 'state_button_filter'%>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-links" role="menu">
            <li>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <%= link_to t('add_note'), new_note_path(type: 'TaskNote', owner_id: @task.id), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
            <li>
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
              <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'notes/notes',
                     locals: {
                         notes: @notes,
                         wid_id: 'notes',
                         wid_title: t('notes')
                     } %>
        </article>
      </div>
    </section>

<% end %>
