<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>Deployment operation:</strong>
      <%= @deployment_history.deployment_operation %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @deployment_history.location %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @deployment_history.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @deployment_history.state_type %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @deployment_history.country_type %>
    </p>

    <p>
      <strong>Date start:</strong>
      <%= @deployment_history.date_start %>
    </p>

    <p>
      <strong>Date end:</strong>
      <%= @deployment_history.date_end %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @deployment_history.note.html_safe %>
    </p>


    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @deployment_history.deployment_history_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>

  </div>
</div>
