<h1 class="center">My Assignments:</h1>
<div class="row">
  <div class="col-xs-12 btn-edition">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to 'New Assignment', lms.new_course_assignment_path(@course), class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Due Date</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td>
          <% if assignment.category == "Homework" %>
            <span class="label label-default">Homework</span>
          <% elsif assignment.category == "Quiz" %>
            <span class="label label-warning">Quiz</span>
          <% elsif assignment.category == "Test" %>
            <span class="label label-danger">Test</span>
          <% elsif assignment.category == "Project" %>
            <span class="label label-info">Project</span>
          <% end %>
          <%= link_to assignment.name, lms.course_assignment_path(@course, assignment) %>
        </td>
        <td><%= assignment.body.html_safe %></td>
        <td><%= assignment.due_date.strftime("%A, %B %d") %></td>
        <td><%= assignment.course.name %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>


