<section id="widget-grid" class="surgicals_section">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter_with_remote', locals: {controller_name: 'surgicals', container: 'surgicals_container'} %>

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:170px;">
        <% if can?(:create_surgicals, :manage_surgicals, :manage_roles) %>
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to t('new_surgical'), new_surgical_path, class: 'dropdown-item' %>
        </li>
        <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
        </li>
        <div class='dropdown-item-dividier'></div>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print All', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'surgicals/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     surgicals: @surgicals,
                     wid_id: 'surgicals',
                     wid_title: t('surgicals')
                 } %>
    </article>
  </div>
</section>
