<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>User:</strong>
      <%= @appointment_procedure.user %>
    </p>

    <p>
      <strong>Appointment:</strong>
      <%= @appointment_procedure.appointment %>
    </p>

    <p>
      <strong><%= t :hcpc %>:</strong>
      <%= @appointment_procedure.hcpc %>
    </p>

    <p>
      <strong>Modifier:</strong>
      <%= @appointment_procedure.modifier %>
    </p>

    <p>
      <strong>E&M CODE:</strong>
      <%= @appointment_procedure.em_code %>
    </p>

    <p>
      <strong>EPSDT:</strong>
      <%= @appointment_procedure.epsdt %>
    </p>

    <p>
      <strong>Emergency:</strong>
      <%= @appointment_procedure.emergency %>
    </p>

    <p>
      <strong>Unit:</strong>
      <%= @appointment_procedure.unit %>
    </p>

    <p>
      <strong>Diagnosis Pointer:</strong>
      <%= @appointment_procedure.diagnosis_pointer %>
    </p>

    <p>
      <strong>Charges:</strong>
      <%= @appointment_procedure.charges %>
    </p>

    <p>
      <strong>Provider:</strong>
      <%= @appointment_procedure.provider %>
    </p>

    <p>
      <strong>Date recorded:</strong>
      <%= format_date @appointment_procedure.date_recorded %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @appointment_procedure.note.html_safe %>
    </p>
  </div>
</div>
