<table class="table table-responsive display responsive nowrap " id="insurances_table">
  <thead>
  <tr>
    <th><%= t :insurance %></th>
    <th><%= 'Created at' %></th>
    <th ></th>
    <th ></th>
  </tr>
  </thead>

  <tbody>

  <% insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.name %></td>
        <td><%= format_date insurance.created_at %></td>
        <td><%= edit_link edit_insurance_path(insurance) %></td>
        <td><%= delete_link insurance_path(insurance) %></td>
      </tr>
  <% end %>

  </tbody>
</table>
<script>
  $(document).ready(function(){
      initDataTable('insurances_table')
  })
</script>

