<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  insurance_path(@insurance), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_insurance_path(@insurance), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), insurances_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), insurance_path(@insurance, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
<div class="col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @insurance.name %>
  </p>

  <%= render_extend_demography_information(@insurance.insurance_extend_demography) %>
</div>
