<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">
    <p>
      <strong>Title:</strong>
      <%= @job.title %>
    </p>

    <p>
      <strong>Employer:</strong>
      <%= @job.employer %>
    </p>

    <p>
      <strong>Application stage:</strong>
      <%= @job.application_stage %>
    </p>


    <p>
      <strong>Position type:</strong>
      <%= @job.position_type %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @job.date %>
    </p>

    <p>
      <strong>Application status:</strong>
      <%= @job.application_status %>
    </p>
  </div>
</div>