<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', language_path(@language), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)})  if @language.can?(:delete_languages, :manage_languages, :manage_roles)
  %>
  <%= link_to 'Edit', edit_language_path(@language), class: 'btn btn-success pull-right'   if @language.can?(:edit_languages, :manage_languages, :manage_roles)%>
  <%= link_to t('button_cancel'), languages_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), language_path(@language, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to t('button_history_changes'), "/histories/#{@language.class}/#{@language.id}", class: 'btn btn-primary pull-right' %>
</div>