<table class="table  table-responsive" id="language_table"  style="width: 100%">
  <thead>
  <tr>
    <th><%= t('language_type') %></th>
    <th><%= t('language_status') %></th>
    <th><%= t(:proficiency) %></th>
    <th><%= t('label_date') %></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'language_table',
    url: languages_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: languages_path(format: :json, status_type: params[:status_type])
} %>


