<table class="table table-responsive table-bordered" id="language_table">
  <thead>
  <tr>
    <th><%= t('language_type') %></th>
    <th><%= t('language_status') %></th>
    <th><%= t(:proficiency) %></th>
    <th><%= t('label_date') %></th>
  </tr>
  </thead>

  <tbody>
  <% @languages.each do |language| %>
      <tr>
        <td><%= link_to_edit_if_can language.language_type, {ctrl: :languages, object: language } %></td>
        <td><%= language.language_status %></td>
        <td><%= language.proficiency_type %></td>
        <td><%= format_date language.updated_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('language_table')
  } );
</script>


