<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Language Type:</strong>
      <%= @language.language_type %>
    </p>

    <p>
      <strong>Language Status:</strong>
      <%= @language.language_status %>
    </p>

    <p>
      <strong>Proficient:</strong>
      <%= @language.proficiency_type %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @language.date %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @language.note.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @language.language_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>
