
<table class="table table-responsive display responsive nowrap " id="files_table">
  <thead>
  <tr>
    <th><%= 'Module' %></th>
    <th><%= t('case') %></th>
    <th><%= 'File Name' %></th>
    <th><%= 'Date' %></th>
  </tr>
  </thead>

  <tbody>
  <% @files.each do |attachment| %>
      <tr>
        <% if attachment.owner.is_a? Document %>
            <%= link_to attachment.owner, (attachment.owner.case ? attachment.owner : client_document_path(attachment.owner)) %>
        <% else %>
            <td>      <%= link_to attachment.owner,  attachment.owner %>    </td>
        <% end %>
        <td>      <%= link_to_case attachment.owner.case %>    </td>
        <td>     <%= render 'attachments/file', attachment: attachment %>   </td>
        <td>      <%= format_date attachment.created_at %>    </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        initDataTable('files_table')
    } );
</script>

