<table class="table table-responsive table-bordered" id="cases_table">
  <thead>
  <tr>
    <th class="hasinput" >
      <input type="text" class="form-control" placeholder="ID" />
    </th>
    <th class="hasinput" ></th>
    <th class="hasinput" ></th>

    <th class="hasinput" ></th>
    <th class="hasinput" ></th>
    <th class="hasinput" ></th>

    <th class="hasinput" ></th>
    <th class="hasinput" ></th>

  </tr>
  <tr>
    <% if User.current.can?(:manage_roles) %>
        <th><%= t('label_employee') %></th>
    <% end %>
    <th><%= t('title') %></th>
    <th><%= t('priority') %></th>
    <th><%= t('type') %></th>
    <th><%= t('status')%></th>
    <th><%= t('category') %></th>
    <th><%= t('date_start') %></th>
    <th><%= t('date_due')%></th>
    <th><%= t('date_completed') %></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
