<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>

<% if params[:action] == 'index' and !(User.current.allowed_to?(:manage_roles) and session[:employee_id].nil?) %>
  <%= link_to('New Case', new_case_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_cases, :manage_cases) %>
<% end %>

<section id="widget-grid" class="cases_list">
  <%= render partial: 'state_button_filter'%>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         wid_id: 'case',
                         wid_title: t('cases')
                 } %>
    </article>
  </div>
</section>

<script>
  function startExport(url, oParam) {
    url2 = url + $.param(oParam);
    window.open(url2,'_blank');
  }
    $(document).ready(function(){
        var table = $('#cases_table').DataTable({
            "ajax": "<%= cases_path(format: :json, status_type: params[:status_type]) %>",
            processing: true,
            serverSide: true,
            responsive: true,
            display: [[0, 'asc']],
          "oTableTools": {
            "sSwfPath": "swf/copy_cvs_xls_pdf.swf",
            "aButtons": [
              {
                "sExtends": "ajax",
                "sButtonText": "CSV",
                "sUrl": window.location.href,
                "fnClick": function (nButton, oConfig) {
                  var oParams = this.s.dt.oApi._fnAjaxParameters(this.s.dt);
                  arr = oConfig.sUrl.split('/');
                  arr.pop();
                  link = arr.join('/');
                  url =  "<%= cases_path(format: :csv) %>?";
                  startExport(url, oParams);
                }
              }
            ]
          },
            "bDestroy": true,
            "columns": [
                <% if User.current.can?(:manage_roles) %>
                { "searchable": true, "orderable": true },
                <% end %>
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },

                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },

                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true }
            ],
            "sDom": "<'dt-toolbar'" +
            "<'col-sm-5 col-xs-8'f>" + //search box
            "<'col-sm-2 col-sm-offset-2 col-xs-2 'C>"+// drop down column hide
            "<'col-sm-2 col-xs-2 'T>"+// buttons export
            "<'col-sm-1 col-xs-2 'l>>"+// length
            "t"+ // the table
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "iDisplayLength": 10
        })
    } );
</script>
