<%= render partial: 'action_menu' %>
<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         wid_id: 'info',
                         wid_title: t('case')
                 } %>
    </article>
  </div>
</section>



<%= render partial: 'cases/show_case/subcases' %>
<%= render partial: 'cases/show_case/case_support' %>
<%= render partial: 'cases/show_case/notes' %>
<%= render partial: 'cases/show_case/needs' %>
<%= render partial: 'cases/show_case/goals' %>
<%= render partial: 'cases/show_case/plans' %>
<%= render partial: 'cases/show_case/tasks' %>
<%= render partial: 'cases/show_case/jsignatures' %>
<%= render partial: 'cases/show_case/documents' %>
<%= render partial: 'cases/show_case/enrollments' %>
<%= render partial: 'cases/show_case/teleconsults' %>
<%= render partial: 'cases/show_case/checklists' %>
<%= render partial: 'cases/show_case/measurement_records' %>
<%= render partial: 'cases/show_case/appointments' %>
<%= render partial: 'cases/show_case/referrals' %>
<%= render partial: 'cases/show_case/surveys' %>
<%= render partial: 'cases/show_case/case_organizations' %>
<%= render partial: 'cases/show_case/watcher' %>
