<table class="table table-bordered" id="groups_table">
  <thead>
  <tr>
    <th> Group Name </th>
    <th> Leaders </th>
    <th> Members </th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
      <tr>
        <td> <%= link_to group.name, group_path(group) %> </td>
        <td>
          <% if group.leaders.length > 0 %>
              <%= group.leader_names %>
          <% end %>
        </td>
        <td>
          <% if group.members.length > 0 %>
              <%= group.member_names %>
          <% end %>
        </td>
        <td> <%= edit_link edit_group_path(group) %> </td>
        <td> <%= delete_link group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('groups_table')
  } );
</script>
