
<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Employer:</strong>
      <%= @job_application.employer %>
    </p>

    <p>
      <strong>Position applied:</strong>
      <%= @job_application.position_applied %>
    </p>

    <p>
      <strong>Projected salary:</strong>
      <%= @job_application.projected_salary %>
    </p>

    <p>
      <strong>Application type:</strong>
      <%= @job_application.application_type %>
    </p>

    <p>
      <strong>Application date:</strong>
      <%= format_date @job_application.application_date %>
    </p>

    <p>
      <strong>Application status:</strong>
      <%= @job_application.application_status %>
    </p>

    <p>
      <strong>Interview type:</strong>
      <%= @job_application.interview_type %>
    </p>

    <p>
      <strong>Interview date:</strong>
      <%= format_date @job_application.interview_date %>
    </p>

    <p>
      <strong>Interview status:</strong>
      <%= @job_application.interview_status %>
    </p>

    <p>
      <strong>Selection status:</strong>
      <%= @job_application.selection_status %>
    </p>

  </div>
</div>