<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @medication.user_id %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @medication.medication %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @medication.dose %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medication.description %>
</p>

<p>
  <strong>Date prescripted:</strong>
  <%= @medication.date_prescripted %>
</p>

<p>
  <strong>Date expired:</strong>
  <%= @medication.date_expired %>
</p>

<p>
  <strong>Total refills:</strong>
  <%= @medication.total_refills %>
</p>

<p>
  <strong>Refills left:</strong>
  <%= @medication.refills_left %>
</p>

<p>
  <strong>Medication status:</strong>
  <%= @medication.medication_status_id %>
</p>

<p>
  <strong>Medication description:</strong>
  <%= @medication.medication_description %>
</p>

<%= link_to 'Edit', edit_medication_path(@medication) %> |
<%= link_to 'Back', medications_path %>
