<fieldset>
  <legend></legend>

  <%= form_for(appointment_capture, html: { class: 'form-horizontal' }) do |f| %>
      <% if appointment_capture.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(appointment_capture.errors.count, "error") %> prohibited this capture from being saved:</h2>

            <ul>
              <% appointment_capture.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :appointment_id %>
      <div class="form-group">
        <%= f.label t(:icdcm_code), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= text_field_tag :icdcm_code, f.object.icdcm_code,  class: 'form-control', placeholder: 'Type to Search' %>
          <%= f.hidden_field :icdcm_code_id %>
          <p hidden style="display: none" id="dialog">
            <%= f.object.icdcm_code %>
          </p>
          <script>
              $(document).ready(function(){
                  $('#icdcm_code').autocomplete({
                      source: "/idcdata.json?from=z00",
                      minLength: 2,
                      select: function( event, ui ) {
                          $('#appointment_capture_icdcm_code_id').val(ui.item.id)
                          $('#dialog').html(ui.item.label)
                      }
                  })
              })
          </script>
        </div>
        <div class="col-md-1">
          <%= link_to 'Info', "#", class: 'btn btn-info', onclick: '$("#other_history_dialog").dialog();' %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label 'date_recorded' , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_recorded , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:label_note), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control ck-editor note_text' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), f.object.appointment, class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-success pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>