<div class="page-header center">
  <h1>Teacher Dashboard</h1>
</div>
<div class="row">
  <div class="col-xs-12 btn-edition">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:180px;">
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to 'New Course', lms.new_course_path, class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Course code</th>
    <th>Edit course</th>
    <th>Tools</th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.description.html_safe %></td>
        <td><%= c.course_code %></td>
        <td>
          <ul>
            <li> <%= link_to 'Show', c %> </li>
            <li> <%= link_to 'Edit', lms.edit_course_path(c) %> </li>
            <li> <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
          </ul>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
