<div class="module-title">
  <h2 class='module-title-text'>TEACHER DASHBOARD</h2>
</div>
<div class="row">
  <div class="col-xs-12 btn-edition">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:180px;">
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to 'New Course', lms.new_course_path, class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Course Code</th>
    <th colspan="3"> </th>
    <th>Tools</th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |c| %>
      <tr>
        <td><%= link_to c.name, c %></td>
        <td><%= c.description.html_safe %></td>
        <td><%= c.course_code %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= edit_link lms.edit_course_path(c) %></td>
        <td><%= delete_link c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td> </td>
      </tr>
  <% end %>
  </tbody>
</table>
