<fieldset>
  <legend>Wiki</legend>
  <%= form_for WikiPage.new, url: '/wiki_pages/new_page_title', html: {class: 'horizontal-form', method: 'post'} do |f| %>
      <div class="form-group">
        <%= f.label :title , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :title , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), '/wiki/all', class: 'btn btn-warning pull-right' %>
          <%= f.submit t('next'), class: 'btn btn-success pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>

