<div class="row">
  <div class="col-xs-12 col-md-8">
    <fieldset>
      <legend></legend>
      <%= form_for(health_care_facility, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
          <% if health_care_facility.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(health_care_facility.errors.count, "error") %> prohibited this health care facility from being saved:</h2>

                <ul>
                  <% health_care_facility.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= f.hidden_field :user_id %>

          <div class="form-group">
            <%= f.label :name, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :name , class: 'form-control' %>
              <%= f.hidden_field :location_lat, class: 'form-control' %>
              <%= f.hidden_field :location_long, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label t(:health_care_facility_type), class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :health_care_facility_type_id, options_for_select(HealthCareFacilityType.active.pluck(:name, :id), selected: f.object.health_care_facility_type.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label t(:health_care_facility_status), class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :health_care_facility_status_id, options_for_select(HealthCareFacilityStatus.active.pluck(:name, :id), selected: f.object.health_care_facility_status.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :health_care_facility_contact , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :health_care_facility_contact , class: 'form-control ck-editor' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label t(:date_start) , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :date_started , class: 'form-control date_picker' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label t(:date_end) , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :date_end , class: 'form-control date_picker' %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label t(:description) , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :description , class: 'form-control ck-editor' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
            </div>
            <%= f.simple_fields_for :health_care_facility_attachments do |attachment| %>
                <%= render 'attachments/attachment_show', :f => attachment %>
            <% end %>
            <div id="attachment_fields" class="col-xs-2 margin-top-10 " style="padding-right: 2px;" >
              <%= link_to_add_association 'add file', f, :health_care_facility_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
            </div>
          </div>

          <div class="form-group" >
            <div class="col-md-11">
              <%= link_to t('button_cancel'), health_care_facilities_path, class: 'btn btn-warning pull-right' %>
              <%= f.submit t(:button_save), class: 'btn btn-success pull-right' %>
            </div>
          </div>
      <% end %>
    </fieldset>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= render partial: 'map', locals: {
        location: 'health_care_facility_name',
        location_lat: 'health_care_facility_location_lat',
        location_long: 'health_care_facility_location_long',
        object: health_care_facility

    } %>
  </div>
  </div>
