<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
<%= render partial: 'state_button_filter'%>
<section id="widget-grid" class="educations_section">
  <% if @educations %>
      <%= link_to( t('new_education'), new_education_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_educations, :manage_roles, :manage_educations) %>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'educations/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         educations: @educations,
                         wid_id: 'educations',
                         wid_title: t('educations')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @other_skills %>
      <%= link_to( 'New skill', new_other_skill_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_other_skills)%>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'other_skills/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         other_skills: @other_skills,
                         wid_id: 'other_skills',
                         wid_title: t('other_skills')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @certifications %>
      <%= link_to( 'New Certification', new_certification_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_certifications)%>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'certifications/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         certifications: @certifications,
                         wid_id: 'certifications',
                         wid_title: t('certifications')
                     } %>
        </article>
      </div>

  <% end %>
  <% if @clearances %>
      <%= link_to( 'New clearance', new_clearance_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_clearances)%>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'clearances/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         clearances: @clearances,
                         wid_id: 'clearances',
                         wid_title: t('clearances')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @positions %>
      <%= link_to('New Position', new_position_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_positions, :manage_positions, :manage_roles) %>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'positions/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         positions: @positions,
                         wid_id: 'positions',
                         wid_title: t('positions')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @injuries %>
      <%= link_to(t('new_injury'), new_injury_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_injuries, :manage_roles, :manage_injuries) %>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'injuries/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'injury',
                         wid_title: t('injuries')
                     } %>
        </article>
      </div>

  <% end %>
  <% if @worker_compensations %>
      <%= link_to(t('new_worker_compensation'), new_worker_compensation_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_worker_compensations, :manage_roles, :manage_worker_compensations) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'worker_compensations/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'worker_compensation',
                         wid_title: t('worker_compensations')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @job_applications %>
      <%= link_to(t('new_job_application'), new_job_application_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_job_applications, :manage_roles, :manage_job_applications) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'job_applications/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'job_application',
                         wid_title: t('job_applications')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @job_applications %>
      <%= link_to(t('new_resume'), new_resume_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_resumes, :manage_roles, :manage_resumes) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'resumes/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'resume',
                         wid_title: t('resumes')
                     } %>
        </article>
      </div>
  <% end %>
</section>
