<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
<%= render partial: 'state_button_filter'%>
<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'employees/user_basic_info',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'basic_info',
                     wid_title: 'Basic Information',
                     user: User.current
                 } %>

    </article>

    <article class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'core_demographics/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'profile',
                     wid_title: 'profile',
                     core_demographic: User.current.profile
                 } %>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%#= render partial: 'core_demographics/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'profile',
                     wid_title: 'profile',
                     core_demographic: User.current.profile
                 } %>
    </article>

    <%= link_to( t('add_jsignature'), new_jsignature_path(owner_type: "User", owner_id: User.current.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_jsignatures, :manage_roles) %>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'jsignatures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     show_case_column: true,
                     jsignatures:  User.current.jsignatures,
                     wid_id: 'jsignatures',
                     wid_title: "Release of Information"
                 } %>
    </article>

    <%= link_to( t('new_related_client'), new_related_client_path, class: 'btn btn-primary pull-right btn-edition') if can?(:manage_related_clients, :create_related_clients, :manage_roles) %>

    <% if can?(:manage_roles, :view_related_clients, :manage_related_clients) %>
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'related_clients/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         related_clients:  User.current.related_clients,
                         wid_id: 'related_clients',
                         wid_title: "Related Clients"
                     } %>
        </article>

    <% end %>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'extend_demographies/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'extend_demography',
                     wid_title: 'Contact informations',
                     extend_demography: User.current.extend_informations
                 } %>
    </article>
  </div>


  <% if @languages %>
      <%= link_to('New Language', new_language_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_languages, :manage_roles, :manage_languages) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'languages/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         languages: @languages,
                         wid_id: 'languages',
                         wid_title: t('languages')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @affiliations %>
      <%= link_to( t(:new_affiliation), new_affiliation_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_affiliations, :manage_affiliations, :manage_roles) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'affiliations/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         affiliations: @affiliations,
                         wid_id: 'affiliations',
                         wid_title: t('affiliations')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @contacts %>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to( 'Search Contact', search_contacts_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:search_contacts, :manage_contacts, :manage_roles)  %>
         </div>
      </div>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'contacts/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         contacts: @contacts,
                         wid_id: 'contacts',
                         wid_title: t('contacts')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @user_insurances %>
      <%= link_to(t('new_insurance'), new_user_insurance_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_insurances, :manage_insurances, :manage_roles) %>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'user_insurances/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         user_insurances: @user_insurances,
                         wid_id: 'insurances',
                         wid_title: t('insurance')
                     } %>
        </article>
      </div>
  <% end %>

  <% if @documents %>
      <%= link_to( t('new_document'), new_client_document_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_documents, :manage_roles, :manage_documents) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'documents/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         documents: @documents,
                         wid_id: 'documents',
                         wid_title: t('documents')
                     } %>
        </article>
      </div>
  <% end %>
</section>
