<fieldset id="all_attributes">
  <legend></legend>
  <%= form_for(measurement, html: { class: 'form-horizontal' }) do |f| %>
      <% if measurement.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(measurement.errors.count, "error") %> </h2>

            <ul>
              <% measurement.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :case_id %>
      <%= f.hidden_field :plan_id %>

      <div class="form-group">
        <label class='col-md-2 control-label'> Measurement</label>
        <div class="col-md-9">
          <%= f.object.measurement %>
        </div>
      </div>

      <div class="form-group">
        <label class='col-md-2 control-label'>  Component</label>
        <div class="col-md-9">
          <%= f.object.component.component %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Measure (#{f.object.measured_by}): " , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :measure , class: 'form-control' %>
          <%= hidden_field_tag :min_measure, f.object.component.lower_measure , class: 'form-control' %>
          <%= hidden_field_tag :max_measure, f.object.component.higher_measure , class: 'form-control' %>
          <script>
            $(document).ready(function(){
              $('#measurement_record_measure').on('change', function(){
                val = $(this).val()
                if(val.length > 0)
                {
                  val = parseFloat(val);
                  min_measure = parseFloat($('#min_measure').val())
                  max_measure = parseFloat($('#min_measure').val())
                  if(max_measure < val)
                  {
                    $('#measurement_record_flag option[value="High"]').prop('selected', true);
                    $('#select2-measurement_record_flag-container').html('High')
                  }else if(val< min_measure)
                  {
                    $('#measurement_record_flag option[value="Low"]').prop('selected', true);
                    $('#select2-measurement_record_flag-container').html('Low')
                  }else
                  {
                    $('#measurement_record_flag option[value="Normal"]').prop('selected', true);
                    $('#select2-measurement_record_flag-container').html('Normal')
                  }
                }else
                {
                  $('#measurement_record_flag option[value=""]').prop('selected', true);
                  $('#select2-measurement_record_flag-container').html('')
                }
              })
            })
          </script>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :date_time , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_time , class: 'form-control datetimepicker', require: true %>
        </div>
      </div>


      <div class="form-group" >
        <%= f.label :recorded_by , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :recorded_by_id, options_for_select(User.power_user.map{|u| [u.name, u.id]}, selected: f.object.recorded_by_id), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :flag , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :flag, options_for_select( ['', 'Low', 'Normal', 'High'], selected: f.object.flag), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :measurement_status , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :measurement_status_id, options_for_select(MeasurementStatus.active.pluck(:name, :id), selected: f.object.measurement_status.try(:id)), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), case_path(@measurement_record.case) + '#tabs-measurement_records', class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-success pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>


