<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <% if @measurement_record.case %>
        <p>
          <strong>Case</strong>
          <%= link_to_case @measurement_record.case   %>
        </p>
    <% end %>

    <% if @measurement_record.plan %>
        <p>
          <strong>Plan</strong>
          <%= link_to @measurement_record.plan, measurement_record.plan   %>
        </p>
    <% end %>

    <p>
      <strong>Measurement:</strong>
      <%= @measurement_record.measurement %>
    </p>

    <p>
      <strong>Component:</strong>
      <%= @measurement_record.component.try(:component) %>
    </p>

    <p>
      <strong>Measured by:</strong>
      <%= @measurement_record.measured_by %>
    </p>

    <p>
      <strong>Date time:</strong>
      <%= format_date_time @measurement_record.date_time %>
    </p>

    <p>
      <strong>Recorded by:</strong>
      <%= @measurement_record.recorded_by %>
    </p>

    <p>
      <strong>Measure:</strong>
      <%= @measurement_record.measure %>
    </p>

    <p>
      <strong>Flag:</strong>
      <%= @measurement_record.flag %>
    </p>

    <p>
      <strong>Measurement status:</strong>
      <%= @measurement_record.measurement_status %>
    </p>
  </div>
</div>
