<fieldset>
  <legend>Contact</legend>
  <%= form_for(contact, html: { class: 'form-horizontal',  :multipart => true }) do |f| %>
      <% if contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
              <% contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :not_show_in_search %>

      <div class="form-group">
        <%= f.label t('profile.first_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('profile.middle_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :middle_name, placeholder: 'Middle name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('profile.last_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label t('enumeration_contact_type'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :contact_type_id, options_for_select(ContactType.active.pluck(:name, :id), selected: f.object.contact_type.try(:id)), {},{ class: 'form-control'} %>
        </div>
      </div>

       <div class="form-group">
        <%= f.label t('enumeration_contact_status'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :contact_status_id, options_for_select(ContactStatus.active.pluck(:name, :id), selected: f.object.contact_status.try(:id)), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('language'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= text_field_tag :snomed, f.object.language,  class: 'form-control', placeholder: 'Type to Search' %>
          <%= f.hidden_field :language %>
          <script>
            $(document).ready(function(){
              $('#snomed').autocomplete({
                source: "/snomed.json?default=language",
                minLength: 2,
                select: function( event, ui ) {
                  $('#contact_language').val(ui.item.id)
                }
              })
            })
          </script>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"><%= t('profile.gender') %></label>
        <div class="col-md-9">
          <%= text_field_tag :snomed_gender, f.object.gender,  class: 'form-control' %>
          <%= f.hidden_field :gender %>
          <script>
            $(document).ready(function(){
              $('#snomed_gender').autocomplete({
                source: "/snomed.json?default=gender finding",
                minLength: 2,
                select: function( event, ui ) {
                  $('#contact_gender').val(ui.item.id)
                }
              })
            })
          </script>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t('profile.birthday') %></label>
        <div class="col-md-9">
          <%= f.text_field :birthday, class: 'form-control birthday', data: {dateformat: "yy-mm-dd"} %>
          <script>
            $(document).ready(function(){
                  $('.birthday').datepicker({
                      dateFormat: 'yy-mm-dd',
                      "prevText":'<i class="fa fa-chevron-left"></i>',
                      "nextText":'<i class="fa fa-chevron-right"></i>',
                      changeMonth: true,
                      changeYear: true,
                      yearRange: "-100:+0"
                  });
              })
          </script>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:date_started), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_started , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:date_end), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_ended , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :emergency_contact, class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :emergency_contact, [['Yes', true], ['No', false]] ,{},  {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :note , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note, class: 'form-control ck-editor' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :contact_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-xs-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :contact_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), back_url(f.object), class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>
