<table class="table table-bordered table-responsive" id="contact_table">
  <thead>
  <tr>

    <th><%= t('label_name') %></th>
    <th><%= t('emergency_contact') %></th>
    <th><%= t('relationship') %></th>
    <th><%= t('enumeration_contact_status') %></th>
    <th><%= t('language') %></th>
    <th><%= t('date_started') %></th>
    <th><%= t('date_end') %></th>
  </tr>
  </thead>

  <tbody>
  <% contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td><%= contact.emergency_contact %></td>
        <td><%= contact.contact_type %></td>
        <td><%= contact.contact_status %></td>
        <td><%= contact.language_type %></td>
        <td><%= format_date contact.date_started %></td>
        <td><%= format_date contact.date_ended %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('contact_table')
  } );
</script>