<table class="table table-bordered table-responsive" id="contact_table" style="width: 100%">
  <thead>
  <tr>

    <th><%= t('label_name') %></th>
    <th><%= t('emergency_contact') %></th>
    <th><%= t('relationship') %></th>
    
    <th><%= t('enumeration_contact_status') %></th>
    <th><%= t('language') %></th>
    <th><%= t('date_started') %></th>
    <th><%= t('date_end') %></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'contact_table',
    url: contacts_path(format: :csv),
    columns: columns.flatten,
    ajax_url: contacts_path(format: :json, status_type: params[:status_type])
} %>