
<table class="table table-responsive " id="files_table">
  <thead>
  <tr>
    <th><%= 'Module' %></th>
    <th><%= 'File Name' %></th>
    <th><%= 'Date' %></th>
  </tr>
  </thead>

  <tbody>
  <% @files.each do |attachment| %>
      <tr>
        <td>
          <% begin %>
              <%= link_to_edit_if_can(attachment.owner.to_s, {ctrl: attachment.owner.class.table_name, object:  attachment.owner }) %>
          <%rescue %>
              <%= link_to (attachment.owner.to_s, attachment.owner ) %>
          <% end %>
        </td>
        <td>     <%= render 'attachments/file', attachment: attachment %>   </td>
        <td>      <%= format_date attachment.created_at %>    </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        initDataTable('files_table')
    } );
</script>

