<table class="table table-bordered table-responsive" id="affiliation_table">
  <thead>
  <tr>
    <th><%= t :label_name %></th>
    <th><%= t :affiliation_type %></th>
    <th><%= t :affiliation_status %></th>
    <th><%= t :date_start %></th>
    <th><%= t :date_end %></th>
 </tr>
  </thead>

  <tbody>
      <% affiliations.each do |affiliation| %>
          <tr>
            <td><%= link_to affiliation.name, affiliation %></td>
            <td><%= affiliation.affiliation_type %></td>
            <td><%= affiliation.affiliation_status %></td>
            <td><%= format_date affiliation.date_start %></td>
            <td><%= format_date affiliation.date_end %></td>
            </tr>
      <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('affiliation_table')
  } );
</script>
