<table class="table  table-responsive" id="affiliation_table" style="width: 100%">
  <thead>
  <tr>
    <th><%= t :label_name %></th>
    <th><%= t :affiliation_type %></th>
    <th><%= t :affiliation_status %></th>
    <th><%= t :date_start %></th>
    <th><%= t :date_end %></th>
 </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'affiliation_table',
    url: affiliations_path(format: :csv),
    columns: columns.flatten,
    ajax_url: affiliations_path(format: :json, status_type: params[:status_type])
} %>
