<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Name:</strong>
      <%= @affiliation.name %>
    </p>

    <p>
      <strong>Affiliation Type:</strong>
      <%= @affiliation.affiliation_type %>
    </p>

    <p>
      <strong>Affiliation Status:</strong>
      <%= @affiliation.affiliation_status %>
    </p>

    <p>
      <strong>Date Start:</strong>
      <%= format_date  @affiliation.date_start %>
    </p>

    <p>
      <strong>Date End:</strong>
      <%= format_date @affiliation.date_end %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @affiliation.note.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @affiliation.affiliation_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>

    <%= render_extend_demography_information(@affiliation.affiliation_extend_demography) %>
  </div>
</div>
