<fieldset>
  <legend></legend>
  <%= form_for(award, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
      <% if award.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

            <ul>
              <% award.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id %>

      <div class="form-group">
        <%= f.label t(:award_enum), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :award_enum_id, options_for_select(AwardEnum.active.pluck(:name, :id), selected: f.object.award_enum.try(:id)) , {} ,{class: 'form-control'} %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label t(:award_type), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :award_type_id, options_for_select(AwardType.active.pluck(:name, :id), selected: f.object.award_type.try(:id)) , {} ,{class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :award_date , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :award_date , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:note) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control ck-editor' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :award_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :award_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), awards_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t(:button_save), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>