<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">
   <p>
      <strong>Award enum:</strong>
      <%= @award.award_enum %>
    </p>

    <p>
      <strong>Award type:</strong>
      <%= @award.award_type %>
    </p>

    <p>
      <strong>Award date:</strong>
      <%= @award.award_date %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @award.note.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @award.award_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>

  </div>
</div>
