<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong><%= t('case') %>:</strong>
      <%= link_to_case @referral.case %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @referral.title %>
    </p>

    <p>
      <strong>Referral type:</strong>
      <%= @referral.referral_type %>
    </p>

    <p>
      <strong>Referral date:</strong>
      <%= format_date @referral.referral_date %>
    </p>

    <p>
      <strong>Referral appointment:</strong>
      <%= @referral.referral_appointment %>
    </p>

    <p>
      <strong>Referral status:</strong>
      <%= @referral.referral_status %>
    </p>

    <p>
      <strong>Referred by:</strong>
      <%= @referral.referred_by %>
    </p>

    <p>
      <strong>Referred to:</strong>
      <%= @referral.referred_to_address %>
    </p>

    <p>
      <strong>Referral reason:</strong>
      <%= @referral.referral_reason.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @referral.referral_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>   
  </div>
</div>
