<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs12">

    <p>
      <strong>Title:</strong>
      <%= @referral.title %>
    </p>

    <p>
      <strong>Referral type:</strong>
      <%= @referral.referral_type %>
    </p>

    <p>
      <strong>Referral date:</strong>
      <%= @referral.referral_date %>
    </p>

    <p>
      <strong>Referral appointment:</strong>
      <%= @referral.referral_appointment %>
    </p>

    <p>
      <strong>Referral status:</strong>
      <%= @referral.referral_status %>
    </p>

    <p>
      <strong>Referred by:</strong>
      <%= @referral.referred_by %>
    </p>

    <p>
      <strong>Referred to:</strong>
      <%= @referral.referred_to %>
    </p>

    <p>
      <strong>Referral reason:</strong>
      <%= @referral.referral_reason.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @referral.referral_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
    
  </div>
</div>
<%= link_to(t('add_referral_result'), new_referral_referral_result_path(@referral), class: 'btn-edition btn btn-success pull-right') if can?(:manage_referrals, :manage_roles) %>
<div class="row">
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render partial: 'referral_results/list',
               layout: 'shared/smart_widget_wrapper',
               locals: {
                       referral_results: @referral.referral_results,
                       wid_id: 'referral_results',
                       wid_title: t('referral_results')
               } %>
  </article>
</div>

<%= render partial: 'notes/notes', locals: {notes: @referral.referral_notes} %>

