<div class="col-xs-12 btn-edition">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:170px;">
      <% if @medical.can?(:manage_roles, :manages_medicals, :delete_medicals) %>
        <li>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <%= link_to('Delete', medical_path(@medical), class: 'dropdown-item',
                        :method => :delete,
                        :data => {:confirm => t(:text_are_you_sure)}) 
            %>
        </li>
        <div class='dropdown-item-dividier'></div>
      <% end %>

      <% if params[:action] == 'show' %>
        <% if @medical.can?(:manage_roles, :manages_medicals, :edit_medicals) %>
          <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <%= link_to 'Edit', edit_medical_path(@medical), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
      <% else %>
        <% if @medical.can?(:manage_roles, :manages_medicals, :show_medicals) %>
          <li>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <%= link_to 'Show', medical_path(@medical), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
      <% end %>

        <li>
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          <%= link_to 'Cancel', medicals_path, class: 'dropdown-item' %>
        </li>
        <div class='dropdown-item-dividier'></div>

        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', medical_path(@medical, format: 'pdf'), class: 'dropdown-item' %>
        </li>
          <div class='dropdown-item-dividier'></div>

        <li>
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          <%= link_to 'History Changes', "/histories/#{@medical.class}/#{@medical.id}", class: 'dropdown-item' %>
        </li>
    </ul>
  </div>
</div>
