<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', medical_path(@medical), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @medical.can?(:manage_roles, :manages_medicals, :delete_medicals)
  %>
  <% if params[:action] == 'show' %>
      <%= link_to( 'Edit', edit_medical_path(@medical), class: 'btn btn-success pull-right') if @medical.can?(:manage_roles, :manages_medicals, :edit_medicals) %>
  <% else %>
      <%= link_to( 'Show', medical_path(@medical), class: 'btn btn-success pull-right') if @medical.can?(:manage_roles, :manages_medicals, :show_medicals) %>
  <% end %>
  <%= link_to t('button_cancel'), medicals_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), medical_path(@medical, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to t('button_history_changes'), "/histories/#{@medical.class}/#{@medical.id}", class: 'btn btn-primary pull-right' %>
</div>
