<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>Name:</strong>
      <%= @medical.name %>
    </p>

    <p>
      <strong>Icdcm code:</strong>
      <%= @medical.icdcm_code %>
    </p>

    <p>
      <strong>Medical facility:</strong>
      <%= @medical.medical_facility %>
    </p>

    <p>
      <strong>Date of diagnosis:</strong>
      <%= format_date @medical.date_of_diagnosis %>
    </p>

    <p>
      <strong>Medical history status:</strong>
      <%= @medical.medical_history_status %>
    </p>

    <p>
      <strong>Medical history type:</strong>
      <%= @medical.medical_history_type %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @medical.description.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @medical.medical_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>
