<div class="col-xs-12 btn-edition">
  <%= link_to('Delete',  enrollment_path(@enrollment), class: 'btn btn-danger pull-right' ,
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if @enrollment.can?(:delete_enrollments, :manage_enrollments, :manage_roles)
  %>
  <% if params[:action] == 'show' %>
      <%= link_to 'Edit', edit_enrollment_path(@enrollment), class: 'btn btn-success pull-right' if @enrollment.can?(:edit_enrollments, :manage_enrollments, :manage_roles) %>
  <% else %>
      <%= link_to 'Show', enrollment_path(@enrollment), class: 'btn btn-success pull-right' if @enrollment.can?(:show_enrollments, :manage_enrollments, :manage_roles) %>
  <% end %>
  <%= link_to t('button_cancel'), (@enrollment.case ? case_path(@enrollment.case) : enrollments_path), class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), enrollment_path(@enrollment, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to t('button_history_changes'), "/histories/#{@enrollment.class}/#{@enrollment.id}", class: 'btn btn-primary pull-right' %>
</div>