    <fieldset>
      <legend></legend>
      <%= form_for(mtf_hospital, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
          <% if mtf_hospital.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(mtf_hospital.errors.count, "error") %> prohibited this incident history from being saved:</h2>

                <ul>
                  <% mtf_hospital.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= f.hidden_field :user_id %>


          <div class="form-group">
            <%= f.label t(:mtf_hospital), class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :mtf_hospital , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label t(:incident_type), class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :incident_type_id, options_for_select(IncidentType.active.pluck(:name, :id), selected: f.object.incident_type.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label t(:incident_category), class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :incident_category_id, options_for_select(IncidentCategory.active.pluck(:name, :id), selected: f.object.incident_category.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :date_of_incident , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :date_of_incident , class: 'form-control date_picker' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :date_diagnosed , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :date_diagnosed , class: 'form-control date_picker' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :incident_location_address, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :incident_location_address , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :incident_location_city, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :incident_location_city , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :state_, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :state_id, options_for_select(StateType.active.pluck(:name, :id), selected: f.object.state_type.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :country, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :country_id, options_for_select(CountryType.active.pluck(:name, :id), selected: f.object.country_type.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :operation, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :operation_id, options_for_select(Operation.active.pluck(:name, :id), selected: f.object.operation.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :verified_personnel_casualty_reporting_system, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :verified_personnel_casualty_reporting_system_id, options_for_select(VerifiedPersonnelCasualtyReportingSystem.active.pluck(:name, :id), selected: f.object.verified_personnel_casualty_reporting_system.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>
          -
          <div class="form-group">
            <%= f.label :line_of_duty_investigation, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :line_of_duty_investigation_id, options_for_select(LineOfDutyInvestigation.active.pluck(:name, :id), selected: f.object.line_of_duty_investigation.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :cause_of_injury, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :cause_of_injury , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :injury_description , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :injury_description , class: 'form-control ck-editor' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :pending_operation_procedure, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :pending_operation_procedure , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
            </div>
            <%= f.simple_fields_for :mtf_hospital_attachments do |attachment| %>
                <%= render 'attachments/attachment_show', :f => attachment %>
            <% end %>
            <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
              <%= link_to_add_association 'add file', f, :mtf_hospital_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
            </div>
          </div>

          <div class="form-group" >
            <div class="col-md-11">
              <%= link_to t('button_cancel'), mtf_hospitals_path, class: 'btn btn-warning pull-right' %>
              <%= f.submit t(:button_save), class: 'btn btn-primary pull-right' %>
            </div>
          </div>
      <% end %>
    </fieldset>

