<p id="notice"><%= notice %></p>

<p>
  <strong>Mtf hospital:</strong>
  <%= @mtf_hospital.mtf_hospital %>
</p>

<p>
  <strong>User:</strong>
  <%= @mtf_hospital.user_id %>
</p>

<p>
  <strong>Incident enum:</strong>
  <%= @mtf_hospital.incident_enum_id %>
</p>

<p>
  <strong>Incident type:</strong>
  <%= @mtf_hospital.incident_type_id %>
</p>

<p>
  <strong>Incident category:</strong>
  <%= @mtf_hospital.incident_category_id %>
</p>

<p>
  <strong>Date od incident:</strong>
  <%= @mtf_hospital.date_od_incident %>
</p>

<p>
  <strong>Date diagnosed:</strong>
  <%= @mtf_hospital.date_diagnosed %>
</p>

<p>
  <strong>Incident location address:</strong>
  <%= @mtf_hospital.incident_location_address %>
</p>

<p>
  <strong>Incident location city:</strong>
  <%= @mtf_hospital.incident_location_city %>
</p>

<p>
  <strong>State:</strong>
  <%= @mtf_hospital.state_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @mtf_hospital.country_id %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @mtf_hospital.operation_id %>
</p>

<p>
  <strong>Verified personal casualty reporting:</strong>
  <%= @mtf_hospital.verified_personal_casualty_reporting_id %>
</p>

<p>
  <strong>Line of duty investigation:</strong>
  <%= @mtf_hospital.line_of_duty_investigation_id %>
</p>

<p>
  <strong>Cause of injury:</strong>
  <%= @mtf_hospital.cause_of_injury %>
</p>

<p>
  <strong>Injury description:</strong>
  <%= @mtf_hospital.injury_description %>
</p>

<p>
  <strong>Pending operation procedure:</strong>
  <%= @mtf_hospital.pending_operation_procedure %>
</p>

<%= link_to 'Edit', edit_mtf_hospital_path(@mtf_hospital) %> |
<%= link_to 'Back', mtf_hospitals_path %>
