<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>Mtf hospital:</strong>
      <%= @mtf_hospital.mtf_hospital %>
    </p>

    <p>
      <strong>Incident type:</strong>
      <%= @mtf_hospital.incident_type %>
    </p>

    <p>
      <strong>Incident category:</strong>
      <%= @mtf_hospital.incident_category %>
    </p>

    <p>
      <strong>Date of incident:</strong>
      <%= @mtf_hospital.date_of_incident %>
    </p>

    <p>
      <strong>Date diagnosed:</strong>
      <%= @mtf_hospital.date_diagnosed %>
    </p>

    <p>
      <strong>Incident location address:</strong>
      <%= @mtf_hospital.incident_location_address %>
    </p>

    <p>
      <strong>Incident location city:</strong>
      <%= @mtf_hospital.incident_location_city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @mtf_hospital.state_type %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @mtf_hospital.country_type %>
    </p>

    <p>
      <strong>Operation:</strong>
      <%= @mtf_hospital.operation %>
    </p>

    <p>
      <strong>Verified personnel casualty reporting system:</strong>
      <%= @mtf_hospital.verified_personnel_casualty_reporting_system %>
    </p>

    <p>
      <strong>Line of duty investigation:</strong>
      <%= @mtf_hospital.line_of_duty_investigation %>
    </p>

    <p>
      <strong>Cause of injury:</strong>
      <%= @mtf_hospital.cause_of_injury %>
    </p>

    <p>
      <strong>Injury description:</strong>
      <%= @mtf_hospital.injury_description %>
    </p>

    <p>
      <strong>Pending operation procedure:</strong>
      <%= @mtf_hospital.pending_operation_procedure %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @mtf_hospital.mtf_hospital_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>

  </div>
</div>