<%= form_for(user_insurance, html: { class: 'form-horizontal' }) do |f| %>
    <% if user_insurance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user_insurance.errors.count, "error") %> prohibited this insurance from being saved:</h2>

          <ul>
            <% user_insurance.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend></legend>
      <div class="form-inputs">
        <%= f.hidden_field :user_id %>

        <div class="form-group">
          <%= f.label t('insurance'), class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.select :insurance_id, Insurance.pluck(:name, :id), {} , {class: 'form-control'} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :relationship, class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.select :insurance_relationship_id, options_for_select(InsuranceRelationship.active.pluck(:name, :id), selected: f.object.insurance_relationship.try(:id)), {} , {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :insured_name, class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.select :insured_name, options_for_select(User.current.contacts.not_show_in_search.map(&:name).insert(0, User.current.name), selected: f.object.insured_name), {} , {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'insurance type', class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.select :insurance_type_id, options_for_select(InsuranceType.active.pluck(:name, :id), selected: f.object.insurance_type.try(:id)), {} , {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('insurance_status'), class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.select :status_id, options_for_select(InsuranceStatus.active.pluck(:name, :id), selected: f.object.insurance_status.try(:id)), {} , {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Insurance ID', class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :insurance_identifier , class: 'form-control' %>
          </div>
        </div>

         <div class="form-group">
          <%= f.label 'Group ID', class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :group_id , class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Issue date', class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :issue_date , class: 'form-control date_picker' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Expiration date', class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :expiration_date , class: 'form-control date_picker' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :note , class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :note , class: 'form-control ck-editor' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
          </div>
          <%= f.simple_fields_for :user_insurance_attachments do |attachment| %>
              <%= render 'attachments/attachment_show', :f => attachment %>
          <% end %>
          <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
            <%= link_to_add_association 'add file', f, :user_insurance_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
          </div>
        </div>

      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), back_url(f.object), class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </fieldset>
<% end %>
