<table class="table table-bordered table-responsive" id="insurances_table">

  <thead>
  <tr>
    <th><%= t('insurance') %></th>
    <th><%= t('insurance_type') %></th>
    <th><%= t('insurance_status') %></th>
    <th>Insurance Identifier</th>
    <th>Issue date</th>
    <th>Expiration Date</th>
  </tr>
  </thead>

  <tbody>
  <% @user_insurances.each do |user_insurance| %>
      <tr>
        <td><%= link_to_edit_if_can ssion.care_family_name, {ctrl: :user_insurances, object: user_insurance } %></td>

        <td><%= user_insurance.insurance_type %></td>
        <td><%= user_insurance.insurance_status %></td>
        <td><%= user_insurance.insurance_identifier %></td>
        <td><%= format_date user_insurance.issue_date %></td>
        <td><%= format_date user_insurance.expiration_date %></td>
      </tr>
  <% end %>
  </tbody>
</table>


</table>
<script>
  $(document).ready(function(){
    initDataTable('insurances_table')
  })
</script>
