<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>User:</strong>
      <%= @user_insurance.user %>
    </p>

    <p>
      <strong>Insurance:</strong>
      <%= @user_insurance.insurance %>
    </p>

    <p>
      <strong>Insurance Relationship:</strong>
      <%= @user_insurance.insurance_relationship %>
    </p>

    <p>
      <strong>Insured name:</strong>
      <%= @user_insurance.insured_name %>
    </p>

    <p>
      <strong>Insurance Type:</strong>
      <%= @user_insurance.insurance_type %>
    </p>

    <p>
      <strong>Insurance Status:</strong>
      <%= @user_insurance.insurance_status %>
    </p>

    <p>
      <strong>Insurance ID:</strong>
      <%= @user_insurance.insurance_identifier %>
    </p>

    <p>
      <strong>Group ID:</strong>
      <%= @user_insurance.group_id %>
    </p>

    <p>
      <strong>Issue date:</strong>
      <%= format_date @user_insurance.issue_date %>
    </p>

    <p>
      <strong>Expiration date:</strong>
      <%= format_date @user_insurance.expiration_date %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @user_insurance.note.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @user_insurance.user_insurance_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>
