<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  user_insurance_path(@user_insurance), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_user_insurance_path(@user_insurance), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), user_insurances_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), user_insurance_path(@user_insurance, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>

<p>
  <strong>User:</strong>
  <%= @user_insurance.user %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @user_insurance.insurance %>
</p>

<p>
  <strong>Insurance type:</strong>
  <%= @user_insurance.insurance_type %>
</p>

<p>
  <strong>Insurance ID:</strong>
  <%= @user_insurance.insurance_identifier %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user_insurance.note.html_safe %>
</p>

<p>
  <strong><%= t('attachments') %>:</strong>
  <% @user_insurance.user_insurance_attachments.each do |attachment| %>
      <%= render 'attachments/attachment_show_only', :attachment => attachment %>
  <% end %>
</p>

</div>
