<table class="table table-responsive table-bordered" id="certifications_table">
  <thead>
  <tr>
    <th><%= t('label_name') %></th>
    <th><%= t('enumeration_certification_type') %></th>
    <th><%= t('certification_status') %></th>
    <th><%= t('education_date_received') %></th>
    <th><%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>
      <% @certifications.each do |certification| %>
          <tr>
            <td><%= link_to_edit_if_can certification.name, {ctrl: :certifications, object: certification } %></td>
            <td><%=  certification.certification_type %></td>
            <td><%= certification.certification_status %></td>
            <td><%= format_date certification.date_received %></td>
            <td><%= format_date certification.date_expired %></td>
          </tr>
      <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('certifications_table')
  } );
</script>
