<table class="table table-responsive table-bordered" id="certifications_table" style="width: 100%">
  <thead>
  <tr>
    <th><%= t('label_name') %></th>
    <th><%= t('enumeration_certification_type') %></th>
    <th><%= t('certification_status') %></th>
    <th><%= t('education_date_received') %></th>
    <th><%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'certifications_table',
    url: certifications_path(format: :csv),
    columns: columns.flatten,
    ajax_url: certifications_path(format: :json, status_type: params[:status_type])
} %>
