<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th><%= t('label_name') %></th>
    <th><%= t('enumeration_certification_type') %></th>
    <th><%= t('certification_status') %></th>
    <th><%= t('education_date_received') %></th>
    <th><%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>
  <% if @certifications.any? %>
      <% @certifications.each do |certification| %>
          <tr>
            <td><%= link_to certification.name, certification_path(certification) %></td>
            <td><%=  certification.certification_type %></td>
            <td><%= certification.certification_status %></td>
            <td><%= certification.date_received %></td>
            <td><%= certification.date_expired %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>