<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Name:</strong>
      <%= @certification.name %>
    </p>

     <p>
      <strong>Certifying organization:</strong>
      <%= @certification.certifying_organization %>
    </p>

    <p>
      <strong>Certification type:</strong>
      <%= @certification.certification_type %>
    </p>

    <p>
      <strong>Certification Status:</strong>
      <%= @certification.certification_status %>
    </p>

    <p>
      <strong>Date received:</strong>
      <%= format_date@certification.date_received %>
    </p>

    <p>
      <strong>Date expired:</strong>
      <%=  format_date @certification.date_expired %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @certification.note.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @certification.certification_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>