<div id="pivot_btns">
  <%= link_to 'User information', pivot_table_index_path(:for_table=> 'user'), class: 'btn btn-primary' %>
  <%= link_to t('affiliations'), pivot_table_index_path(:for_table=> 'affiliation'), class: 'btn btn-primary' %>
  <%= link_to t('clearances'), pivot_table_index_path(:for_table=> 'clearance'), class: 'btn btn-primary' %>
  <%= link_to t('certifications'), pivot_table_index_path(:for_table=> 'certification'), class: 'btn btn-primary' %>
  <%= link_to t('contacts'), pivot_table_index_path(:for_table=> 'contact'), class: 'btn btn-primary' %>
  <%= link_to t('educations'), pivot_table_index_path(:for_table=> 'education'), class: 'btn btn-primary' %>
  <%= link_to t('documents'), pivot_table_index_path(:for_table=> 'document'), class: 'btn btn-primary' %>
  <%= link_to t('languages'), pivot_table_index_path(:for_table=> 'language'), class: 'btn btn-primary' %>
  <%= link_to t('positions'), pivot_table_index_path(:for_table=> 'position'), class: 'btn btn-primary' %>
  <%= link_to t('tasks'), pivot_table_index_path(:for_table=> 'task'), class: 'btn btn-primary' %>
  <%= link_to t('checklists'), pivot_table_index_path(:for_table=> 'checklist'), class: 'btn btn-primary' %>
  <%= link_to t('cases'), pivot_table_index_path(:for_table=> 'case'), class: 'btn btn-primary' %>
  <%= link_to t('surveys'), pivot_table_index_path(:for_table=> 'survey'), class: 'btn btn-primary' %>
  <%= link_to t('appointments'), pivot_table_index_path(:for_table=> 'appointment'), class: 'btn btn-primary' %>
  <%= link_to t('notes'), pivot_table_index_path(:for_table=> 'note'), class: 'btn btn-primary' %>
</div>
