<table class="table table-responsive" id="incident_history_table">
  <thead>
  <tr>
    <th>Incident</th>
    <th>Incident type</th>
    <th>Incident category</th>
    <th>Date of incident</th>
    <th>Date diagnosed</th>
    <th>Incident location address</th>
    <th>Incident location city</th>
    <th>State</th>
    <th>Country</th>
    <th>Operation</th>
    <th>Verified personal casualty reporting</th>
    <th>Line of duty investigation</th>
    <th>Cause of injury</th>
    <th>Pending operation procedure</th>
  </tr>
  </thead>

  <tbody>
  <% @incident_histories.each do |incident_history| %>
      <tr>
        <td><%= link_to incident_history.incident, incident_history %></td>
        <td><%= incident_history.incident_type %></td>
        <td><%= incident_history.incident_category %></td>
        <td><%= incident_history.date_of_incident %></td>
        <td><%= incident_history.date_diagnosed %></td>
        <td><%= incident_history.incident_location_address %></td>
        <td><%= incident_history.incident_location_city %></td>
        <td><%= incident_history.state_type %></td>
        <td><%= incident_history.country_type %></td>
        <td><%= incident_history.operation %></td>
        <td><%= incident_history.verified_personnel_casualty_reporting_system %></td>
        <td><%= incident_history.line_of_duty_investigation %></td>
        <td><%= incident_history.cause_of_injury %></td>
        <td><%= incident_history.pending_operation_procedure %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<script>
  $(document).ready(function(){
    initDataTable('incident_history_table')
  })
</script>