<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>Incident:</strong>
      <%= @incident_history.incident %>
    </p>

    <p>
      <strong>Incident type:</strong>
      <%= @incident_history.incident_type %>
    </p>

    <p>
      <strong>Incident category:</strong>
      <%= @incident_history.incident_category %>
    </p>

    <p>
      <strong>Date of incident:</strong>
      <%= @incident_history.date_of_incident %>
    </p>

    <p>
      <strong>Date diagnosed:</strong>
      <%= @incident_history.date_diagnosed %>
    </p>

    <p>
      <strong>Incident location address:</strong>
      <%= @incident_history.incident_location_address %>
    </p>

    <p>
      <strong>Incident location city:</strong>
      <%= @incident_history.incident_location_city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @incident_history.state_type %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @incident_history.country_type %>
    </p>

    <p>
      <strong>Operation:</strong>
      <%= @incident_history.operation %>
    </p>

    <p>
      <strong>Verified personnel casualty reporting system:</strong>
      <%= @incident_history.verified_personnel_casualty_reporting_system %>
    </p>

    <p>
      <strong>Line of duty investigation:</strong>
      <%= @incident_history.line_of_duty_investigation %>
    </p>

    <p>
      <strong>Cause of injury:</strong>
      <%= @incident_history.cause_of_injury %>
    </p>

    <p>
      <strong>Injury description:</strong>
      <%= @incident_history.injury_description.html_safe %>
    </p>

    <p>
      <strong>Pending operation procedure:</strong>
      <%= @incident_history.pending_operation_procedure %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @incident_history.incident_history_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>

  </div>
</div>