<%= wiki_page_style -%>

<h1><%=wt 'All Pages' %></h1>

<section id="widget-grid" class="news_section">
  <div class="col-xs-12 btn-edition">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:170px;">
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to('New Page', 'new', class: 'dropdown-item', id: 'new_page_link') %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <%= render partial: 'base_wiki_pages/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'wikipages',
                     wid_title: ' '
                 } %>
    </div>
  </div>
</section>

<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
