  <div class="col-xs-12 btn-edition tabs-section">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
        <% if @environment_risk.can?(:manage_roles, :manages_environment_risks, :delete_environment_risks) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', environment_risk_path(@environment_risk), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if @environment_risk.can?(:manage_roles, :manages_environment_risks, :edit_environment_risks) %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_environment_risk_path(@environment_risk), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <% if @environment_risk.can?(:manage_roles, :manages_environment_risks, :show_environment_risks) %>
            <li>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Show', environment_risk_path(@environment_risk), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', environment_risks_path, class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', environment_risk_path(@environment_risk, format: 'pdf'), class: 'dropdown-item' %>
          </li>
            <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <%= link_to 'History Changes', "/histories/#{@environment_risk.class}/#{@environment_risk.id}", class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
