<table class="table table-responsive" id="environment_risk_table">
  <thead>
  <tr>
    <th>Icdcm code</th>
    <th>Date started</th>
    <th>Date ended</th>
    <th>Environment status</th>
    <th>Environment type</th>
  </tr>
  </thead>

  <tbody>
  <% @environment_risks.each do |environment_risk| %>
      <tr>
        <td><%= link_to environment_risk.icdcm_code, environment_risk %></td>
        <td><%= environment_risk.date_started %></td>
        <td><%= environment_risk.date_ended %></td>
        <td><%= environment_risk.environment_status %></td>
        <td><%= environment_risk.environment_type %></td>
        </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('environment_risk_table')
  })
</script>
