<fieldset>
  <legend></legend>
  <%= form_for(socioeconomic, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
      <% if socioeconomic.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(socioeconomic.errors.count, "error") %> prohibited this socioeconomic list from being saved:</h2>

            <ul>
              <% socioeconomic.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label t(:icdcm_code), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= text_field_tag :icdcm_code, f.object.icdcm_code,  class: 'form-control' %>
          <%= f.hidden_field :icdcm_code_id %>
          <script>
            $(document).ready(function(){
              $('#icdcm_code').autocomplete({
                source: "/idcdata",
                minLength: 2,
                select: function( event, ui ) {
                  $('#socioeconomic_icdcm_code_id').val(ui.item.id)
                }
              })
            })
          </script>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :date_identified , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_identified, value: format_date_time(f.object.date_resolved) ,class: 'form-control datetimepicker' %>
        </div>
      </div>
     
      <div class="form-group">
        <%= f.label :date_resolved , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_resolved ,class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:socioeconomic_type), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :socioeconomic_type_id, options_for_select(SocioeconomicType.active.pluck(:name, :id), selected: f.object.socioeconomic_type.try(:id)) , {} ,{class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:socioeconomic_status), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :socioeconomic_status_id, options_for_select(SocioeconomicStatus.active.pluck(:name, :id), selected: f.object.socioeconomic_status.try(:id)) , {} ,{class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t(:description) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description , class: 'form-control ck-editor' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :socioeconomic_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :socioeconomic_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), socioeconomics_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t(:button_save), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>

