<table class="table table-responsive" id="socioeconomic_table">
  <thead>
  <tr>

    <th>Name</th>
    <th>Snomed</th>
    <th>Date identified</th>
    <th>Date resolved</th>
    <th>Socioeconomic status</th>
    <th>Socioeconomic type</th>

  </tr>
  </thead>

  <tbody>
  <% @socioeconomics.each do |socioeconomic| %>
      <tr>
        <td><%= link_to socioeconomic.name, socioeconomic %></td>
        <td><%= link_to socioeconomic.snomed, socioeconomic %></td>
        <td><%= format_date socioeconomic.date_identified %></td>
        <td><%= format_date socioeconomic.date_resolved %></td>
        <td><%= socioeconomic.socioeconomic_status %></td>
        <td><%= socioeconomic.socioeconomic_type %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('socioeconomic_table')
  })
</script>