<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @socioeconomic.user_id %>
</p>

<p>
  <strong>Icdcm code:</strong>
  <%= @socioeconomic.icdcm_code_id %>
</p>

<p>
  <strong>Date identified:</strong>
  <%= @socioeconomic.date_identified %>
</p>

<p>
  <strong>Date resolved:</strong>
  <%= @socioeconomic.date_resolved %>
</p>

<p>
  <strong>Socioeconomic status:</strong>
  <%= @socioeconomic.socioeconomic_status_id %>
</p>

<p>
  <strong>Socioeconomic type:</strong>
  <%= @socioeconomic.socioeconomic_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @socioeconomic.description %>
</p>

<%= link_to 'Edit', edit_socioeconomic_path(@socioeconomic) %> |
<%= link_to 'Back', socioeconomics_path %>
