<table class="table table-responsive" id="housings_table">
  <thead>
  <tr>
    <th>Snomed</th>
    <th>Cohabitation type</th>
    <th>Housing status</th>
    <th>Primary address</th>
    <th>Estimated monthly payment</th>
    <th>Date start</th>
    <th>Date end</th>
  </tr>
  </thead>

  <tbody>
  <% @housings.each do |housing| %>
      <tr>
        <td><%= link_to housing.snomed, housing %></td>
         <td><%= housing.housing_status %></td>
        <td><%= housing.primary_address %></td>
        <td><%= housing.estimated_monthly_payment %></td>
        <td><%= format_date housing.date_start %></td>
        <td><%= format_date housing.date_end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('housings_table')
  })
</script>
