<table class="table table-responsive display responsive nowrap" id="billings_appointment_table">
  <thead>
  <tr>
    <th>User</th>
    <th>Appointment</th>
    <th>Bill type</th>
    <th>Bill status</th>
    <th>Bill date</th>
    <th>Bill amount</th>
    <th>Amount paid</th>
  </tr>
  </thead>

  <tbody>
  <% billings.each do |billing| %>
      <tr>
        <td><b><%= billing.user %></b></td>
        <td><%= link_to billing.appointment, billing.appointment %></td>
        <td><%= billing.bill_type %></td>
        <td><%= billing.bill_status %></td>
        <td><%= format_date billing.bill_date %></td>
        <td><%= billing.bill_amount %></td>
        <td><%= billing.amount_paid %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<script>
  $(document).ready(function(){
    initDataTable('billings_appointment_table')
  })
</script>