<table class="table table-responsive display responsive nowrap" id="billings_table">
  <thead>
  <tr>
    <th>Bill type</th>
    <th>Bill status</th>
    <th>Bill date</th>
    <th>Bill amount</th>
    <th>Accept assignment</th>
    <th>Other source</th>
    <th>Total charge</th>
    <th>Amount paid</th>
    <th>Amount Collected</th>
  </tr>
  </thead>

  <tbody>
  <% billings.each do |billing| %>
      <tr>
        <td><%= link_to_edit_if_can billing.bill_type, {ctrl: :billings, object: billing } %></td>
        <td><%= billing.bill_status %></td>
        <td><%= format_date billing.bill_date %></td>
        <td><%= billing.bill_amount %></td>
        <td><%= billing.accept_assignment %></td>
        <td><%= billing.other_source %></td>
        <td><%= billing.total_charge %></td>
        <td><%= billing.amount_paid %></td>
        <td><%= billing.amount_collected %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<script>
  $(document).ready(function(){
    initDataTable('billings_table')
  })
</script>