<header class="topic-header">

  <div class="row">
    <div class="col-xs-12 btn-edition tabs-section">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-links" role="menu">
          <% if topic.can_destroy? %>
            <li>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <%= link_to(t('thredded.topics.delete'), topic.destroy_path, class: 'dropdown-item',
                            :method => :delete,
                            :data => {:confirm => I18n.t('thredded.topics.delete_confirm')}) 
                %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>

          <% if topic.can_update? %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to t('thredded.topics.edit'), topic.edit_path, class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>

           <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', messageboard_topics_path(messageboard), class: 'dropdown-item' %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h1 class="topic-header--title"><%= topic.title %></h1>
  <cite class="topic-header--started-by">
    <%= t 'thredded.topics.started_by_html',
          time_ago: time_ago(topic.created_at),
          user:     user_link(topic.user) %>
  </cite>
  <% if thredded_current_user %>
    <% if topic.followed? %>
      <div class="pull-right" style="color: gray">
        <span class="topic-header--follow-info--reason">
          <%= topic_follow_reason_text topic.follow_reason %>
        </span>
        <%= button_to topic.unfollow_path, form: {class: 'topic-header--follow-info--unfollow'} do %>
          <%= t('thredded.topics.unfollow') %>
          <%#= inline_svg 'thredded/follow.svg', class: 'thredded--topic-header--follow-icon' %>
        <% end %>
      </div>
    <% else %>
      <div class="topic-header--follow-info">
        <%= button_to t('thredded.topics.follow'), topic.follow_path,
                      form: {class: 'topic-header--follow-info--follow'} %>
      </div>
    <% end %>
  <% end %>
  <%= render partial: 'thredded/topics/followers', locals: {topic: topic} %>
</header>
