<%= content_tag :article, id:    dom_id(topic),
                class: ['topics--topic', topic_css_classes(topic)],
                data: {topic: topic.id, messageboard: topic.messageboard_id} do %>



    <h1 class="topics--title">
      <%= link_to topic.title, topic.path %>
    </h1>
    <div class="btn btn-success btn-circle"><%= topic.posts_count %></div>

    <% if topic.categories.any? %>
        <ul class="topics--categories">
          <%= render topic.categories %>
        </ul>
    <% end %>

    <cite class="topics--updated-by">
      <%= time_ago topic.last_post_at %>
      <%= user_link topic.last_user %>
    </cite>

    <cite class="topics--started-by">
      <%= time_ago topic.created_at %>
      <%= user_link topic.user %>
    </cite>

    <% if topic.blocked? && topic.can_moderate? %>
        <span class="topics--moderation-state alert alert-danger">
      <%= render 'thredded/shared/content_moderation_blocked_state', moderation_record: topic.last_moderation_record %>
    </span>
    <% end %>
    <% if topic.can_destroy? %>
        <span class="topic-delete--wrapper">
          <%= button_to t('thredded.topics.delete_topic'), topic.destroy_path, method: :delete,
                        form_class: 'topic-delete-form col-xs-3 col-md-2 pull-right',
                        class: 'btn btn-danger ',
                        'data-confirm' => t('thredded.topics.delete_confirm') %>
        </span>
    <% end %>
<% end %>
