
<%= content_tag :article, id:    dom_id(topic),
                class: ['thredded--topics--topic', topic_css_classes(topic)],
                data: {topic: topic.id, messageboard: topic.messageboard_id} do %>

    <tr class="warning">
      <td class="text-center" style="width: 40px;">
        <% if topic.followed? %>
            <i class="glyphicon glyphicon-pushpin fa-2x text-danger"></i>
        <% end %>
      </td>
      <td>
        <h4>
          <%= link_to topic.title, topic.path %>
          <small>   <%= user_link topic.user %>on <em>  <%= time_ago topic.created_at %>></em></small>
        </h4>
      </td>
      <td class="text-center hidden-xs hidden-sm">
        <%= topic.posts_count %>
      </td>
      <td class="text-center hidden-xs hidden-sm">
        <ul class="thredded--topics--categories">
          <%= render topic.categories %>
        </ul>
      </td>
      <td class="text-center hidden-xs hidden-sm">
        by
        <%= user_link topic.last_user %>
        <br>
        <small><i><%= time_ago topic.last_post_at %></i></small>
      </td>
    </tr>
<% end %>
