<% content_for :thredded_page_title, t('thredded.nav.edit_private_topic') %>
<% content_for :thredded_page_id, 'edit-topic' %>


<%= thredded_page do %>
    <%= form_for [@topic.messageboard, @topic],
                 html: { class: 'form-horizontal is-expanded', 'data-thredded-topic-form' => true } do |form| %>
        <div class="form-group">
          <%= form.label :title, t('thredded.topics.form.title_label'), class: 'col-md-2 control-label' %>
          <div class="col-md-9">
            <%= form.text_field :title,
                                placeholder: t('thredded.topics.form.title_placeholder'),
                                class: 'form-control',
                                autofocus:   true,
                                required:    true %>
          </div>
        </div>
        <% if form.object.categories.any? %>
            <div class="form-group">
              <%= form.select :category_ids, form.object.category_options, {},
                              multiple:          true,
                              'data-placeholder' => t('thredded.topics.form.categories_placeholder') %>
              </div>
        <% end %>

        <%= render 'thredded/topics/topic_form_admin_options', form: form %>

        <div class="form-group" >
          <div class="col-md-11">
            <%= link_to t('button_cancel'), topic_path(@topic), class: 'btn btn-warning pull-right' %>
            <%= form.submit t('thredded.topics.form.update_btn'), class: 'btn btn-success pull-right' %>
          </div>
        </div>
    <% end %>
<% end %>
