<% content_for :thredded_page_title, messageboard.name %>
<% content_for :thredded_page_id, 'thredded--topics-index' %>

<%= thredded_page do %>
  <div class="row">
    <div class="col-xs-12 btn-edition">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:250px;">
          <% if policy(messageboard).update? %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to t('thredded.nav.edit_messageboard'), edit_messageboard_path(messageboard), class: 'dropdown-item' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
 
    <div class="thredded--svg-definitions ">
      <%= inline_svg 'thredded/follow.svg', id: 'thredded-follow-icon', title: nil %>
      <%= inline_svg 'thredded/unfollow.svg', id: 'thredded-unfollow-icon' %>
    </div>

    <%= content_tag :section, class: 'thredded--main-section thredded--topics', 'data-thredded-topics' => true do %>
        <%= render 'thredded/topics/form',
                   messageboard: messageboard,
                   topic:        @new_topic,
                   css_class:    'thredded--is-compact',
                   placeholder:  t('thredded.topics.form.title_placeholder_start') if @new_topic %>

    <% end %>

    <div class="row" id="cancelTopic_div" style="margin-top: -65px;">
      <div class="col-sm-12">
         <button id="cancelTopic_btn" class='btn btn-warning pull-right' onclick='cancelTopicForm();' style='margin-right: 160px;'>Cancel</button>
      </div>
    </div>

      <div class="row">

        <div class="col-sm-12">

          <div class="well">

            <table class="table table-striped table-forum">
              <thead>
              <tr>
                <th colspan="2"><a href="forum.html"> <%= messageboard.group.try(:name) %> </a> > <%= messageboard.name %></th>
                <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
                <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Categories</th>
                <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
              </tr>
              </thead>
              <tbody>
              <%= render @topics %>

              </tbody>
              <footer>
                <%= paginate @topics %>
              </footer>
            </table>
          </div>
        </div>
      </div>


<% end %>

<script>
    $(document).ready(function () {
        var thisform = $("#cancelTopic_btn").closest("form");
        $("#cancelTopic_div").hide();
        function cancelTopicForm() {
            thisform.reset().addClass("thredded--is-compact").removeClass("thredded--is-expended");
            $("#cancelTopic_div").hide();
        }
    });
</script>
