<% content_for :thredded_page_title, t('thredded.topics.search.page_title') %>
<% content_for :thredded_page_id, 'topic-search-results' %>

<%= thredded_page do %>
  <% if @topics.present? %>
    <p class="alert alert-success">
      <%= t 'thredded.topics.search.results_message', query: "'#{@query}'" %>
    </p>
    <section class="main-section topics">
      <%= render @topics %>
    </section>
    <footer>
      <%= paginate @topics %>
    </footer>
  <% else %>
    <p class="alert alert-danger">
      <%= t 'thredded.topics.search.no_results_message', query: "'#{@query}'" %>
    </p>
  <% end %>
<% end %>
