<% topic = @posts.topic %>
<% content_for :thredded_page_title, topic.title %>
<% content_for :thredded_page_id, 'topic-show' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>

<%= thredded_page do %>
    <%= content_tag :section,
                    id: dom_id(topic),
                    class: ['main-section', 'topic', *topic_css_classes(topic)] do %>
        <%= render 'thredded/topics/header', topic: topic %>
        <%  @posts.to_ary.each do |post| %>
            <%= render partial: 'thredded/posts/post', locals: {post: post } %>
        <% end %>

        <% if policy(@new_post).create? %>
            <div class="post-form--wrapper">
              <h3 class="post-form--title">Add a post</h3>
              <%= render 'thredded/posts/form',
                         topic:       topic,
                         post:        @new_post,
                         button_text: t('thredded.posts.form.create_btn') %>
            </div>
        <% end %>
        <% if topic.can_destroy? %>
            <div class="topic-delete--wrapper pull-right">
              <%= button_to t('thredded.topics.delete_topic'), topic.destroy_path, method: :delete,
                            form_class: 'topic-delete-form',
                            class: 'button btn-danger',
                            'data-confirm' => t('thredded.topics.delete_confirm') %>
            </div>
        <% end %>

    <% end %>

    <footer>
      <%= paginate @posts %>
    </footer>
<% end %>
