<div class="row">
  <div class="col-xs-12 btn-edition">
    <%= link_to('Delete',  survey_path(@survey), class: 'btn btn-danger pull-right',
                :method => :delete,
                :data => {:confirm => t(:text_are_you_sure)}) if @survey.can?(:manage_roles, :delete_surveys, :manage_surveys)
    %>
    <%= link_to 'Edit', edit_survey_path(@survey), class: 'btn btn-success pull-right' if @survey.can?(:manage_roles, :edit_surveys, :manage_surveys) %>
    <%= link_to t('button_cancel'), :back, class: 'btn btn-warning pull-right' %>
    <%= link_to t('button_print'), survey_path(@survey, format: 'pdf'), class: 'btn btn-primary pull-right' %>
    <%= link_to 'New note', new_note_survey_path(@survey), class: 'btn btn-success pull-right' if can?(:manage_roles, :add_notes, :manage_surveys) %>
    <div class="btn-group pull-right">
      <button class="btn btn-primary">
        Show attempt For
      </button>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% SurveyCase.visible.for_survey(@survey).includes(:case).references(:case).each do |survey_case| %>
            <li>
              <%= link_to survey_case.case, attempts_path(survey_id: survey_case.survey_id, case_id: survey_case.case.id) %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>