<% show_case = @case.nil? %>
<table class="table table-responsive " id="surveys_table">
  <thead>
  <tr>
    <th><%= t('label_name') %></th>
    <% if show_case %>
        <th><%= t('case') %></th>
    <% end %>
    <th><%= t('survey_type') %></th>
    <th><%= t('attempts') %></th>
    <th><%= t('last_updated') %></th>
    <th> Actions </th>
  </tr>
  </thead>

  <tbody>
  <% if @surveys.any? %>
      <% @surveys.each do |survey_case| %>
          <% survey = survey_case.survey
             @case = survey_case.case
          %>
          <tr>
            <td><%= link_to survey.name, attempts_path(survey_id: survey.id, case_id: @case.id) %>  </td>
            <% if show_case %>
                <td><%= link_to @case, @case %>   </td>
            <% end %>
            <td><%= survey.survey_type %></td>
            <td><%= survey.attempts.where(participant: @case).count %></td>
            <td><%= survey.attempts.last.answers.last.updated_at.strftime('%d/%m/%y %H:%M') rescue '' %></td>
            <td><%= link_to 'New attempt', new_attempt_path(survey_id: survey.id, case_id: @case.id) %> </td>
          </tr>
      <% end %>

  <% end %>

  </tbody>
</table>
<script>
  $(document).ready(function(){
   initDataTable('surveys_table')
  } );
</script>
