<table class="table table-responsive " id="surveys_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Survey type</th>
    <th>Attempts</th>
    <th>Last updated</th>
    <th></th>
    <% if User.current.admin? %>
        <th colspan="2"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% if @surveys.any? %>
      <% @surveys.each do |survey| %>
          <tr>
            <td>
              <%= link_to survey.name, survey %>
            </td>
            <td><%= survey.survey_type %></td>
            <% if params[:controller] == 'cases' %>
                <td><%= survey.attempts.where(participant: @case).count %></td>
            <% else %>
                <td><%= survey.attempts.where(participant: User.current).count %></td>
            <% end %>
            <td><%= survey.attempts.last.answers.last.updated_at.strftime('%d/%m/%y %H:%M') rescue '' %></td>

            <% if params[:controller] == 'cases' %>
                 <td><%= link_to 'Show attempts', attempts_path(survey_id: survey.id, case_id: @case.id) %> </td>
            <% else %>
                 <td><%= link_to 'Show attempts', attempts_path(survey_id: survey.id) %> </td>
            <% end %>


            <% if User.current.admin? %>
                <td><%= edit_link edit_survey_path survey %></td>
                <td><%= delete_link survey_path(survey) %></td>
            <% end %>

          </tr>
      <% end %> <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>

  </tbody>
</table>
