<div class="survey-title">
  <div class="row">
    <div class="col-xs-12" style="padding:10px">
      <h2><%= survey.name %></h2>
      <p><b>Survey Type:</b><%= survey.survey_type %></p>
      <p><b>Survey Status:</b><%= survey.active? ? 'Active' : (survey.finished? ? 'Finished' : 'Not active') %></p>
      <p><b>Description:</b><small><%= survey.description.html_safe %></small></p>
      <% survey.questions.each_with_index do |question, index| %>
          <hr/>
          <div class="row">
            <div class="col-xs-12">
              <h3>[<%= index + 1  %>]<%= question.text %></h3>
            </div>
            <% question.options.each_with_index do |option, idx| %>
                <div class="col-md-4"> (<%= idx + 1 %>) <%= option.text %></div>
            <% end -%>
          </div>
      <% end -%>
    </div>
  </div>
</div>
