<div class="module-title">
  <h2 class='module-title-text'>SURVEYS</h2>
</div>

<% if User.current.admin? %>
    <section id="widget-grid" class="surveys_section">
      <div class="col-xs-12 btn-edition tabs-section">
        <%= render partial: 'state_button_filter'%>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:180px;">
            <li>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <%= link_to 'New Survey', new_survey_path, class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
            <li>
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
              <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'surveys',
                         wid_title: ' '
                     } %>
        </article>
      </div>
    </section>
    <%= will_paginate @surveys, renderer: BootstrapPagination::Rails %>
<% else %>
    <section id="widget-grid" class="surveys_section">
      <% if can?(:create_surveys, :manage_roles, :manage_surveys) %>
          <div class="btn-group pull-right btn-edition">
            <button class="btn btn-primary">
              Add Survey For
            </button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% @cases_for_btn.each do |c| %>
                  <li>
                    <%= link_to c, new_assign_survey_case_path(c.id) %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'display_survey_case',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                             surveys: @surveys,
                             wid_id: 'surveys',
                             wid_title: ' '
                     } %>
        </article>
      </div>
    </section>
    <%#= link_to( 'New Survey', new_assign_surveys_path, class: 'btn btn-primary pull-right margin-bottom-10')%>
<% end %>


