<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Name:</strong>
      <%= @measurement.measurement_name %>
    </p>

    <p>
      <strong>Component:</strong>
      <%= @measurement.component %>
    </p>

    <p>
      <strong>Order:</strong>
      <%= @measurement.order %>
    </p>

    <p>
      <strong>Lower age:</strong>
      <%= @measurement.lower_age %>
    </p>

    <p>
      <strong>Upper age:</strong>
      <%= @measurement.upper_age %>
    </p>

    <p>
      <strong>Lower height:</strong>
      <%= @measurement.lower_height %>
    </p>

    <p>
      <strong>Upper height:</strong>
      <%= @measurement.upper_height %>
    </p>

    <p>
      <strong>Lower weight:</strong>
      <%= @measurement.lower_weight %>
    </p>

    <p>
      <strong>Upper weight:</strong>
      <%= @measurement.upper_weight %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @measurement.gender %>
    </p>

    <p>
      <strong>Measured by:</strong>
      <%= @measurement.measured_by %>
    </p>

    <p>
      <strong>Lower measure:</strong>
      <%= @measurement.lower_measure %>
    </p>

    <p>
      <strong>Higher measure:</strong>
      <%= @measurement.higher_measure %>
    </p>
  </div>
</div>
