<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', legal_path(@legal), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @legal.can?(:manage_roles, :manages_legals, :delete_legals)
  %>
  <%= link_to( 'Edit', edit_legal_path(@legal), class: 'btn btn-success pull-right') if @legal.can?(:manage_roles, :manages_legals, :edit_legals) %>
  <%= link_to t('button_cancel'), legals_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), legal_path(@legal, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to t('button_history_changes'), "/histories/#{@legal.class}/#{@legal.id}", class: 'btn btn-primary pull-right' %>
</div>
