<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', allergy_path(@allergy), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @allergy.can?(:manage_roles, :manages_allergies, :delete_allergies)
  %>
  <%= link_to( 'Edit', edit_allergy_path(@allergy), class: 'btn btn-success pull-right') if @allergy.can?(:manage_roles, :manages_allergies, :edit_allergies) %>
  <%= link_to t('button_cancel'), allergies_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), allergy_path(@allergy, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to t('button_history_changes'), "/histories/#{@allergy.class}/#{@allergy.id}", class: 'btn btn-primary pull-right' %>
</div>
