<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @allergy.user_id %>
</p>

<p>
  <strong>Allergy type:</strong>
  <%= @allergy.allergy_type_id %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @allergy.medication %>
</p>

<p>
  <strong>Allergy date:</strong>
  <%= @allergy.allergy_date %>
</p>

<p>
  <strong>Allergy status:</strong>
  <%= @allergy.allergy_status_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @allergy.description %>
</p>

<%= link_to 'Edit', edit_allergy_path(@allergy) %> |
<%= link_to 'Back', allergies_path %>
