<%= stylesheet_link_tag 'mindmap/application' %>
<div class="row">
  <div class="col-xs-12">
<div id="file_menu">
    <button id="openSliderbtn" class="iconbtn" title="Open Maps Listing and Search Panel"><%= image_tag "mindmap/glyphicons-115-list.png" %></button>
    <input id="docfilename" type="text" value="MHMind.jm" readonly />
    <button id="savebtn" class="iconbtn" title="Save Map" onclick="savemap();"><%= image_tag "mindmap/glyphicons-415-disk-save.png" %></button>
    <button id="newfilebtn" class="iconbtn" title="New Map"><%= image_tag "mindmap/glyphicons-703-file-plus.png" %></button>
    <button id="duplicatebtn" class="iconbtn" title="Duplicate Map"><%= image_tag "mindmap/glyphicons-511-duplicate.png" %></button>
    <button id="downloadbtn" class="iconbtn" title="Download JSON Map" onclick="save_file();"><%= image_tag "mindmap/glyphicons-201-download.png" %></button>
    <button id="screenshotbtn" class="iconbtn" title="Download Screenshot" onclick="screen_shot();"><%= image_tag "mindmap/glyphicons-186-screenshot.png" %></button>
    <button id="uploadbtn" class="iconbtn" title="Upload JSON Map"><%= image_tag "mindmap/glyphicons-202-upload.png" %></button>
    <button id="resetmapbtn" class="iconbtn" title="Reset MH Mind"><%= image_tag "mindmap/glyphicons-82-refresh.png" %></button>
    <div id="filename_div">
       <input type="text" id="filenameinput" title="File Name Textbox" placeholder="input file name" /><span id="fileext">.jm</span>
       <input type="text" id="nametype" value="newfunc" hidden />
       <button id="submitfilename" class="iconbtn" title="Submit File Name"><%= image_tag "mindmap/glyphicons-194-ok-sign.png" %></button>
       <button id="cancelfilename" class="iconbtn" title="Cancel File Name"><%= image_tag "mindmap/glyphicons-193-remove-sign.png" %></button>
    </div>
</div>

<div id="nodes_menu">
    <button class="iconbtn" title="Add a Text Node" onclick="add_node();"><%= image_tag "mindmap/glyphicons-433-plus.png" %> <%= image_tag "mindmap/glyphicons-154-unchecked.png" %></button>
    <button class="iconbtn" title="Add an Image Node" onclick="add_image_node();"><%= image_tag "mindmap/glyphicons-433-plus.png" %> <%= image_tag "mindmap/glyphicons-139-picture.png" %></button>
    <button class="iconbtn" title="Edit Node Text" onclick="edit_node_text();"><%= image_tag "mindmap/glyphicons-151-edit.png" %></button>
    <sup><button type="button" title="Open Colorpicker and Display Node Active Background Color" id="colorpickerbtn" value="#0000cd" onclick="open_color_picker();"/></button></sup>
    <button class="iconbtn" id="changebgcolorbtn" title="Change Node Background Color to Active Color" onclick="change_background_color();"><%= image_tag "mindmap/glyphicons-607-text-background.png" %></button>
    <button class="iconbtn" title="Change Node Text Color Toggled Black or White" onclick="change_text_color();"><sup><strong>B/W</strong></sup> <%= image_tag "mindmap/glyphicons-606-text-color.png" %></button>
    <button class="iconbtn" title="Set Node as First Child" onclick="move_to_first();"><%= image_tag "mindmap/glyphicons-154-unchecked.png" %> <%= image_tag "mindmap/glyphicons-188-more.png" %></button>
    <button class="iconbtn" title="Set Node as Last Child" onclick="move_to_last();"><%= image_tag "mindmap/glyphicons-188-more.png" %> <%= image_tag "mindmap/glyphicons-154-unchecked.png" %></button>
    <button class="iconbtn" title="Remove This Node" onclick="remove_node();"><%= image_tag "mindmap/glyphicons-208-remove.png" %> <%= image_tag "mindmap/glyphicons-154-unchecked.png" %></button>
    <button class="iconbtn" title="Toggle Map Editing Disabled or Enabled" onclick="toggle_editable(this);"><%= image_tag "mindmap/glyphicons-199-ok-circle.png" %> <%= image_tag "mindmap/glyphicons-31-pencil.png" %></button>
    <button class="iconbtn" id="zoom-in-button" title="Zoom In" onclick="zoomIn();"><%= image_tag "mindmap/glyphicons-215-resize-small.png" %></button>
    <button class="iconbtn" id="zoom-out-button" title="Zoom Out" onclick="zoomOut();"><%= image_tag "mindmap/glyphicons-216-resize-full.png" %></button>
    <button class="iconbtn" title="Toggle Children Shown or Hidden" onclick="toggle();"><%= image_tag "mindmap/glyphicons-545-eye-plus.png" %> <%= image_tag "mindmap/glyphicons-546-eye-minus.png" %></button>
    <button class="iconbtn" title="Toggle All Children Nodes" id="collapse_expand_btn" onclick="collapse_expand_all();"><%= image_tag "mindmap/glyphicons-172-fast-backward.png" %> <%= image_tag "mindmap/glyphicons-154-unchecked.png" %></button>
    <div id="expand_level">
        <button class="iconbtn" title="Expand Children Nodes to Level 2" onclick="expand_to_level2();"><%= image_tag "mindmap/glyphicons-388-log-out.png" %> <%= image_tag "mindmap/glyphicons-388-log-out.png" %></button>
        <button class="iconbtn" title="Expand Children Nodes to Level 3" onclick="expand_to_level3();"><%= image_tag "mindmap/glyphicons-388-log-out.png" %> <%= image_tag "mindmap/glyphicons-388-log-out.png" %> <%= image_tag "mindmap/glyphicons-388-log-out.png" %></button>
    </div>
</div>

<div id="mapslistingdiv">
    <div id="list_search" class="slide slide-up">
        <button id="closeSliderbtn" class="iconbtn2" title="Close Listings/Search Panel"><%= image_tag "mindmap/glyphicons-370-collapse-top.png", class: "flipimg" %></button><br>
        <p id="list_name"><span id="mh">MH</span> Mind</p>
        <input type="search" id="searchmaps" name="searchmaps" />
        <button class="iconbtn2" title="Submit Search" onclick="findmap();"><%= image_tag "mindmap/glyphicons-28-search.png" %></button>
        <label for="searchname"><input type="radio" name="searchwhat" id="searchname" checked /> File Name</label>
        <label for="searchtext"><input type="radio" name="searchwhat" id="searchtext" /> File Name/Text</label>
        <br>
        <div id="deletediv">
           <button id="deleteallbtn" class="iconbtn2" title="Delete All Files"><%= image_tag "mindmap/glyphicons-198-remove-circle.png" %></button> Delete All Files<br>
        </div>
        <div id="maplisting">
        </div>
        <div id="filesessionmsg">NOTE: Download all files before ending this session!</div>
    </div>
</div>


<div id="colorpicker">
    <table>
        <tbody id="selcolors">
        </tbody>
    </table>
    <button class="iconbtn" id="close_colorpicker" title="Toggle Color Picker Panel" onclick="close_color_picker();"><%= image_tag "mindmap/glyphicons-370-collapse-top.png" %></button>
</div>

<div id="import_div">
    <input id="file_input" class="file_input" type="file"/>
    <button id="submituploadbtn" class="iconbtn" title="Submit Upload"><%= image_tag "mindmap/glyphicons-202-upload.png" %></button>
</div>

    <div id="jsmind_container"></div>
    <div style="display:none">
      <input class="file" type="file" id="image-chooser" accept="image/*"/>
    </div>
    <script>
      <% if  @mindmap.content %>
      localStorage.setItem("thesemhminds1", <%= @mindmap.content.inspect.html_safe %> )
      <% else  %>
      localStorage.setItem("thesemhminds1", "");
      <% end %>

    </script>
    <%= javascript_include_tag "mindmap/application" %>
  </div>
</div>
