
<table class="table table-responsive display responsive nowrap table-bordered" id="products_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Product category</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Serial</th>
    <th>Unit cost</th>
    <th>Product Location</th>
    <th>Product status</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%=  link_to product.name, edit_product_path(product)  %></td>
        <td><%= product.product_category %></td>

        <td><%= product.manufacturer %></td>
        <td><%= product.model %></td>
        <td><%= product.serial %></td>
        <td><%= product.unit_cost %></td>
        <td><%= product.product_location %></td>
        <td><%= product.product_status %></td>
        </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('products_table')
  } );
</script>
