<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description.html_safe %>
    </p>

    <p>
      <strong>Product category:</strong>
      <%= @product.product_category %>
    </p>

    <p>
      <strong>Manufacturer:</strong>
      <%= @product.manufacturer %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @product.model %>
    </p>

    <p>
      <strong>Serial:</strong>
      <%= @product.serial %>
    </p>

    <p>
      <strong>Unit cost:</strong>
      <%= @product.unit_cost %>
    </p>

    <p>
      <strong>Product Location:</strong>
      <%= @product.product_location %>
    </p>

    <p>
      <strong>Product status:</strong>
      <%= @product.product_status %>
    </p>
  </div>
</div>
