
<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete', post_path(@post), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success pull-right' %>
  <%= link_to( "Add note", new_note_path(type: 'PostNote', owner_id: @post.id), class: 'btn btn-success pull-right') if can?(:add_notes, :manage_roles) %>
  <%= link_to t('button_cancel'), posts_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), post_path(@post, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @post.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description.html_safe %>
</p>