<% show_case = defined?(show_case_column) ? show_case_column : true %>
<table class="table table-responsive table-bordered" id="checklist_table">
  <thead>
  <tr>
    <th>Title</th>
    <% unless User.current.admin? %>
        <% if show_case %>
            <th>Case</th>
        <% end %>
    <% end %>
    <th>checklist type</th>
    <th>Number of checklist</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @checklists.any? %>
      <% @checklists.each do |checklist_case| %>
          <% checklist_template = checklist_case.is_a?(ChecklistCase) ? checklist_case.checklist_template : checklist_case  %>
          <tr>
            <% if User.current.admin? %>
                <td><%= link_to checklist_template.title, checklist_template_path(checklist_template ) %></td>
            <% else %>
                <td><%= link_to checklist_template.title, checklist_case_path(checklist_case) %></td>
                <% if show_case %>
                    <td><%= checklist_case.case %></td>
                <% end %>
            <% end %>

            <td><%= checklist_template.checklist_type %></td>
            <td><%= checklist_template.checklists.count %></td>

            <% if User.current.admin? %>
                <td><%= edit_link edit_checklist_template_path(checklist_template) %></td>
            <% end %>

          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
