<div class="col-xs-12">

  <fieldset>
    <legend>Checklist Templates</legend>
    <p>
      <strong>Title:</strong>
      <%=  @checklist.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%=  @checklist.description.html_safe %>
    </p>
    <p>
      <strong>Type:</strong>
      <%=  @checklist.checklist_type %>
    </p>
    <p>
      <strong>Checklist status:</strong>

      <%=  @checklist.checklist_status_type %>
    </p>

    <div id='checklists' >
      <% @checklist.checklists.each_with_index do |checklist, index| %>
          <%= render 'checklist_fill_fields', :checklist => checklist,
                     index: index,
                     checklist_case: @checklist_case,
                     checklist_template_id: checklist.id
          %>
      <% end %>
    </div>

  </fieldset>

</div>