<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  checklist_template_path(@checklist), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to t('button_edit'), edit_checklist_template_path(@checklist) , class: 'btn btn-success pull-right' if User.current.admin? %>
  <%= link_to t('button_cancel'), :back, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), checklist_template_path(@checklist, format: 'pdf'), class: 'btn btn-primary pull-right' %>
 </div>
<% checklist = @checklist %>
<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         checklist: @checklist,
                         case_id: defined?(case_id) ? case_id : nil ,
                         wid_id: 'checklist',
                         wid_title: 'New checklist'
                 } %>
    </article>
  </div>
</section>
