<table class="table table-responsive" id="units_table">
  <thead>
  <tr>
    <th>Unit</th>
    <th>Unit Type</th>
    <th>Installation Name</th>
    <th>Date start</th>
    <th>Date end</th>
  </tr>
  </thead>

  <tbody>
  <% @units.each do |unit| %>
      <tr>
        <td><%= link_to  unit.unit_enum, unit %></td>
        <td><%= unit.unit_type %></td>
        <td><%= unit.installation_name %></td>
        <td><%= format_date unit.date_start %></td>
        <td><%= format_date unit.date_end %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('units_table')
  })
</script>