<%= render partial: 'state_button_filter'%>
<section id="widget-grid" class="admissions_section">

  <% if @admissions %>
      <%= link_to('New Admission', new_admission_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_admissions, :manage_admissions, :manage_roles) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'admissions/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         admissions: @admissions,
                         wid_id: 'admissions',
                         wid_title: t('admissions')
                     } %>
        </article>
      </div>

  <% end %>
  <% if @problem_lists %>
      <%= link_to(t('new_problem_list'), new_problem_list_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_problem_lists, :manage_problem_lists, :manage_roles) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'problem_lists/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         problem_lists: @problem_lists,
                         wid_id: 'problem_lists',
                         wid_title: t('problem_lists')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @health_care_facilities %>
      <%= link_to('New Health Care Facility', new_health_care_facility_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_health_care_facilitiess, :manage_roles, :manage_health_care_facilitiess) %>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'health_care_facilities/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'health_care_facilities',
                         wid_title: t('health_care_facilities')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @surgicals %>
      <%= link_to(t('new_surgical'), new_surgical_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_surgicals, :manage_surgicals, :manage_roles) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'surgicals/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         surgicals: @surgicals,
                         wid_id: 'surgicals',
                         wid_title: t('surgicals')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @medicals %>
      <%= link_to(t('new_medical'), new_medical_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_medicals, :manage_roles, :manage_medicals) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'medicals/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'medical',
                         wid_title: t('medicals')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @medications %>
      <%= link_to(t('new_medication'), new_medication_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_medications, :manage_roles, :manage_medications) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'medications/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'medication',
                         wid_title: t('medications')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @behavioral_risks %>
      <%= link_to(t('new_behavioral_risk'), new_behavioral_risk_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_behavioral_risks, :manage_roles, :manage_behavioral_risks) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'behavioral_risks/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'behavioral_risk',
                         wid_title: t('behavioral_risks')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @family_histories %>
      <%= link_to(t('new_family_history'), new_family_history_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_family_histories, :manage_roles, :manage_family_histories) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'family_histories/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'family_history',
                         wid_title: t('family_histories')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @immunizations %>
      <%= link_to(t('new_immunization'), new_immunization_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_immunizations, :manage_roles, :manage_immunizations) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'immunizations/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'immunization',
                         wid_title: t('immunizations')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @allergies %>
      <%= link_to(t('new_allergy'), new_allergy_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_allergies, :manage_roles, :manage_allergies) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'allergies/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'allergy',
                         wid_title: t('allergies')
                     } %>
        </article>
      </div>
  <% end %>
  
  <% if @laboratory_examinations %>
      <%= link_to(t('new_laboratory_examination'), new_laboratory_examination_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_laboratory_examinations, :manage_roles, :manage_laboratory_examinations) %>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'laboratory_examinations/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'laboratory_examination',
                         wid_title: t('laboratory_examinations')
                     } %>
        </article>
      </div>
  <% end %>
 <% if @radiologic_examinations %>
      <%= link_to(t('new_radiologic_examination'), new_radiologic_examination_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_radiologic_examinations, :manage_roles, :manage_radiologic_examinations) %>

      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'radiologic_examinations/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'radiologic_examination',
                         wid_title: t('radiologic_examinations')
                     } %>
        </article>
      </div>
  <% end %>
</section>