<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
<%= render partial: 'state_button_filter'%>

<section id="widget-grid" class="daily_livings_section">
  <% if @daily_livings %>
      <%= link_to( t('new_daily_living'), new_daily_living_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_daily_livings, :manage_roles, :manage_daily_livings) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'daily_livings/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'daily_living',
                         wid_title: t('daily_livings')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @socioeconomics %>
      <%= link_to(t('new_socioeconomic'), new_socioeconomic_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_socioeconomics, :manage_socioeconomics, :manage_roles) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'socioeconomics/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         socioeconomics: @socioeconomics,
                         wid_id: 'socioeconomics',
                         wid_title: t('socioeconomics')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @environment_risks %>
      <%= link_to(t('new_environment_risk'), new_environment_risk_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_environment_risks, :manage_roles, :manage_environment_risks) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'environment_risks/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'environment_risk',
                         wid_title: t('environment_risks')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @housings %>
      <%= link_to('New Housing', new_housing_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_housings, :manage_roles, :manage_housings) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'housings/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'housing',
                         wid_title: t('housings')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @financials %>
      <%= link_to('New Financial', new_financial_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_financials, :manage_roles, :manage_financials) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'financials/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'financial',
                         wid_title: t('financials')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @legals %>
      <%= link_to(t('new_legal'), new_legal_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_legals, :manage_roles, :manage_legals) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'legals/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'legal',
                         wid_title: t('legals')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @transportations %>
      <%= link_to(t('new_transportation'), new_transportation_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_transportations, :manage_roles, :manage_transportations) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'transportations/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'transportation',
                         wid_title: t('transportations')
                     } %>
        </article>
      </div>
  <% end %>
  <% if @other_histories %>
      <%= link_to(t('new_other_history'), new_other_history_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_other_histories, :manage_roles, :manage_other_histories) %>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'other_histories/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'other_history',
                         wid_title: t('other_histories')
                     } %>
        </article>
      </div>
  <% end %>
</section>