<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">

    <p>
      <strong>Snomed:</strong>
      <%= @financial.snomed %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @financial.description.html_safe %>
    </p>

    <p>
      <strong>Financial status:</strong>
      <%= @financial.financial_status %>
    </p>


    <p>
      <strong>Date start:</strong>
      <%= format_date @financial.date_start %>
    </p>

    <p>
      <strong>Date end:</strong>
      <%= format_date @financial.date_end %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @financial.financial_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>