<table class="table table-responsive" id="family_history_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Snomed</th>
    <th>Date identified</th>
    <th>Family status</th>
    <th>Family type</th>
  </tr>
  </thead>

  <tbody>
  <% @family_histories.each do |family_history| %>
      <tr>
        <td><%= link_to_edit_if_can family_history.name, {ctrl: :family_histories, object: family_history } %></td>
        <td><%= link_to_edit_if_can family_history.snomed, {ctrl: :family_histories, object: family_history } %></td>
        <td><%= format_date family_history.date_identified %></td>
        <td><%= family_history.family_status %></td>
        <td><%= family_history.family_type %></td>
       </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('family_history_table')
  })
</script>
