<% show_case = defined?(show_case_column) ? show_case_column : true %>
<table class="table table-responsive table-bordered" id="goals_table">
  <thead>
  <tr>
    <% if User.current.can?(:manage_roles) %>
        <th><%= t('label_user') %></th>
    <% end %>
    <th>Name</th>
    <% if show_case %>
        <th>Case</th>
    <% end %>
    <th>Priority type</th>
    <th>Goal status</th>
    <th>Date start</th>
    <th>Date due</th>
    <th>Date completed</th>
  </tr>
  </thead>

  <tbody>
  <% if @goals.any? %>
      <% @goals.each do |goal| %>
          <tr>
            <% if User.current.can?(:manage_roles) %>
                <th><%= goal.user %></th>
            <% end %>
            <td><%= link_to goal.name, goal %></td>
            <% if show_case %>
                <td><%= link_to_case goal.case %></td>
            <% end %>
            <td><%= goal.priority_type %></td>
            <td><%= goal.goal_status %></td>
            <td><%= goal.date_start %></td>
            <td><%= goal.date_due %></td>
            <td><%= goal.date_completed %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    <% if @goals.present? %>  initDataTable('goals_table') <% end %>
  } );
</script>

