<%= render partial: 'action_menu' %>
<div class="col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @goal.name %>
  </p>

  <p>
    <strong>Priority type:</strong>
    <%= @goal.priority_type %>
  </p>

  <p>
    <strong>Goal status:</strong>
    <%= @goal.goal_status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @goal.description.html_safe %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= @goal.date_start %>
  </p>

  <p>
    <strong>Date due:</strong>
    <%= @goal.date_due %>
  </p>

  <p>
    <strong>Date complete:</strong>
    <%= @goal.date_completed %>
  </p>
</div>

<%= render partial: 'notes/notes', locals: {notes: @goal.goal_notes} %>