<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs-12">
    <p>
      <strong><%= t('case') %>:</strong>
      <%= link_to_case @goal.case %>
    </p>

    <p>
      <strong><%= t('label_name') %>:</strong>
      <%= @goal.name %>
    </p>

    <p>
      <strong><%= t('priority') %> :</strong>
      <%= @goal.priority_type %>
    </p>

    <p>
      <strong><%= t('goal_status') %>:</strong>
      <%= @goal.goal_status %>
    </p>

    <p>
      <strong><%= t('description') %>:</strong>
      <%= @goal.description.html_safe %>
    </p>

    <p>
      <strong><%= t('date_start') %>:</strong>
      <%= @goal.date_start %>
    </p>

    <p>
      <strong><%= t('date_due') %>:</strong>
      <%= @goal.date_due %>
    </p>

    <p>
      <strong><%= t('date_completed') %>:</strong>
      <%= @goal.date_completed %>
    </p>
  </div>
</div>


<% if module_enabled?('plans') %>
    <%#= link_to(t('new_goal'), new_goal_path(case_id: @case.id), class: 'btn btn-primary pull-right btn-edition') if can?(:create_goals, :manage_roles, :manage_goals) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'plans/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       plans: @plans,
                       wid_id: 'plans',
                       wid_title: 'plans'
                   } %>
      </article>
    </div>
    <script>
      $(document).ready(function(){
        <% if @plans.present? %>  initDataTable('plans_table') <% end %>
      } );
    </script>

<% end %>

<% if module_enabled?('tasks') %>
    <%#= link_to(t('new_goal'), new_goal_path(case_id: @case.id), class: 'btn btn-primary pull-right btn-edition') if can?(:create_goals, :manage_roles, :manage_goals) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'tasks/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                           tasks: @tasks,
                           wid_id: 'tasks',
                           wid_title: t('tasks')
                   } %>
      </article>
    </div>
    <script>
        $(document).ready(function(){
            <% if @tasks.present? %>  initDataTable('plans_table') <% end %>
        } );
    </script>

<% end %>
<%= link_to( t('add_note'), new_note_path(type: 'GoalNote', owner_id: @goal.id), class: 'btn btn-success pull-right btn-edition') if can?(:add_notes, :manage_roles) %>
<%= render partial: 'notes/notes', locals: {notes: @goal.goal_notes} %>