<%= form_for(appointment, html: { class: 'form-horizontal' }) do |f| %>
    <% if appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend>Set appointment</legend>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :related_to_id %>

      <div class="form-group">
        <%= f.label t('title'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t(:description), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, class: 'form-control ck-editor' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'with who', class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :with_who_id, options_for_select(User.power_user.pluck(:login, :id), selected: f.object.with_who_id), {include_blank: true} , {class: 'form-control use_select2', style: 'padding: 0' } %>
          <%= f.hidden_field :with_who_type, value: 'User' %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label t('appointment_type'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :appointment_type_id, options_helper(AppointmentType, appointment.appointment_type.try(:id)) ,{}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t('label_date'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date, class: 'form-control datepicker' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t('label_time'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :time, class: 'form-control clockpicker' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t('appointment_status'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :appointment_status_id, options_helper(AppointmentStatus, appointment.appointment_status.try(:id)) ,{}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :appointment_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :appointment_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), affiliations_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </fieldset>
<% end %>
