<table class="table  table-responsive" id="appointments_table">
  <thead>
  <tr>
    <% if User.current.can?(:manage_roles) %>
        <th><%= t('label_employee') %></th>
    <% end %>
    <th><%= t('title') %></th>
    <th><%= t :appointment_type %></th>
    <th><%= t :appointment_status %></th>
    <th><%= t('label_date') %></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<% columns = []
   if User.current.can?(:manage_roles)
     columns << { "searchable"=> true, "orderable"=> true }
   end
   columns<< [  { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'appointments_table',
    url: appointments_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: appointments_path(format: :json, status_type: params[:status_type])
} %>
