<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs-12">
    <p>
      <strong>Case:</strong>
      <%= link_to_case @appointment.case  %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @appointment.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @appointment.description.html_safe %>
    </p>

    <p>
      <strong>Appointment type:</strong>
      <%= @appointment.appointment_type %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @appointment.date_time %>
    </p>

    <p>
      <strong>Appointment status:</strong>
      <%= @appointment.appointment_status %>
    </p>

    <p>
      <strong>With who:</strong>
      <%= @appointment.with_who %>
    </p>
    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @appointment.appointment_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>

<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'appointment_captures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     appointment_captures: @appointment.appointment_captures,
                     wid_id: 'capture',
                     wid_title: 'Assessment & Disposition'
                 } %>
    </article>
  </div>
  <script>
    $(document).ready(function(){
      <% if  @appointment.appointment_captures.present? %>  initDataTable('appointments_table'); <% end %>
    } );
  </script>
</section>
<%= render partial: 'notes/notes', locals: {notes: @appointment.appointment_notes} %>

<% if @case %>
    <%= render( partial: 'cases/show_case/case_support') if @case_supports.present?.present? %>
    <%= render( partial: 'cases/show_case/notes') if @notes.present? %>
    <%= render( partial: 'cases/show_case/needs') if @needs.present? %>
    <%= render( partial: 'cases/show_case/goals')if @goals.present? %>
    <%= render( partial: 'cases/show_case/plans') if @plans.present? %>
    <%= render( partial: 'cases/show_case/tasks') if  @tasks.present? %>
    <%= render( partial: 'cases/show_case/documents') if @documents.present? %>
    <%= render( partial: 'cases/show_case/checklists') if @checklists.present? %>
    <%= render( partial: 'cases/show_case/appointments') if @appointments.present? %>
    <%= render( partial: 'cases/show_case/surveys') if @surveys.present? %>
    <%= render( partial: 'cases/show_case/watcher') if @watchers.present? %>
<%end %>