<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs-12">
    <p>
      <strong>Case:</strong>
      <%= link_to_case @appointment.case  %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @appointment.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @appointment.description.html_safe %>
    </p>

    <p>
      <strong>Appointment type:</strong>
      <%= @appointment.appointment_type %>
    </p>

    <p>
      <strong>Start Time:</strong>
      <%= @appointment.start_time_to_time %>
    </p>

     <p>
      <strong>End Time:</strong>
      <%= @appointment.end_time_to_time %>
    </p>

    <p>
      <strong>Appointment status:</strong>
      <%= @appointment.appointment_status %>
    </p>

    <p>
      <strong>With who:</strong>
      <%= @appointment.with_who %>
    </p>
    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @appointment.appointment_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>


  <%= link_to( 'Add Assessment', new_appointment_capture_path(appointment_id: @appointment.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_captures, :manage_roles) %>

  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <%= render partial: 'appointment_captures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         captures: @appointment.appointment_captures,
                         wid_id: 'capture',
                         wid_title: 'Assessment'
                 } %>
    </article>
  </div>
  <%= link_to( 'Add Disposition', new_appointment_disposition_path(appointment_id: @appointment.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_captures, :manage_roles) %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <%= render partial: 'appointment_dispositions/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         captures: @appointment.appointment_dispositions,
                         wid_id: 'capture',
                         wid_title: 'Disposition'
                 } %>
    </article>
  </div>
  <%= link_to( 'Add Procedure', new_appointment_procedure_path(appointment_id: @appointment.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_captures, :manage_roles) %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <%= render partial: 'appointment_procedures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         captures: @appointment.appointment_procedures,
                         wid_id: 'capture',
                         wid_title: 'Procedures'
                 } %>
    </article>
  </div>

  <%= link_to( t('add_note'), new_note_path(type: 'AppointmentNote', owner_id: @appointment.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_notes, :manage_roles) %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'notes/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         show_case_column: true,
                         notes:  @appointment.appointment_notes,
                         wid_id: 'notes',
                         wid_title: t('notes')
                 } %>
    </article>
  </div>

 <%= link_to( t('add_jsignature'), new_jsignature_path(appointment_id: @appointment.id), class: 'btn btn-primary pull-right btn-edition') if can?(:add_jsignatures, :manage_roles) %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'jsignatures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         show_case_column: true,
                         jsignatures:  @appointment.jsignatures,
                         wid_id: 'jsignatures',
                         wid_title: t('jsignatures')
                 } %>
    </article>
  </div>


<%#= render partial: 'notes/notes', locals: {notes: @appointment.appointment_notes} %>

<% if @case %>
    <%= render( partial: 'cases/show_case/case_support') if @case_supports.present?.present? %>
    <%= render( partial: 'cases/show_case/notes') if @notes.present? %>
    <%= render( partial: 'cases/show_case/needs') if @needs.present? %>
    <%= render( partial: 'cases/show_case/goals')if @goals.present? %>
    <%= render( partial: 'cases/show_case/plans') if @plans.present? %>
    <%= render( partial: 'cases/show_case/tasks') if  @tasks.present? %>
    <%= render( partial: 'cases/show_case/documents') if @documents.present? %>
    <%= render( partial: 'cases/show_case/checklists') if @checklists.present? %>
    <%= render( partial: 'cases/show_case/appointments') if @appointments.present? %>
    <%= render( partial: 'cases/show_case/surveys') if @surveys.present? %>
    <%= render( partial: 'cases/show_case/watcher') if @watchers.present? %>
<%end %>