<section id="widget-grid" class="case_appointment">
  <div class="col-xs-12 btn-edition">
    <%= render partial: 'action_menu' %>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'info',
                     wid_title: 'Appointment'
                 } %>
    </article>
  </div>
</section>


<section id="widget-grid" class="appointment_captures">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if can?(:add_captures, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to 'Add Assessment', new_appointment_capture_path(appointment_id: @appointment.id), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'appointment_captures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     captures: @appointment.appointment_captures,
                     wid_id: 'capture',
                     wid_title: 'Assessment'
                 } %>
    </article>
  </div>
</section>  


<section id="widget-grid" class="appointment_dispositions">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if can?(:add_captures, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to 'Add Disposition', new_appointment_disposition_path(appointment_id: @appointment.id), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'appointment_dispositions/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     captures: @appointment.appointment_dispositions,
                     wid_id: 'capture',
                     wid_title: 'Disposition'
                 } %>
    </article>
  </div>
</section>  


<section id="widget-grid" class="appointment_procedures">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if can?(:add_captures, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to 'Add Procedure', new_appointment_procedure_path(appointment_id: @appointment.id), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'appointment_procedures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     captures: @appointment.appointment_procedures,
                     wid_id: 'capture',
                     wid_title: 'Procedures'
                 } %>
    </article>
  </div>
</section>  


<%if module_enabled? 'billings' %>
<section id="widget-grid" class="appointment_billings">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if can?(:create_billings, :manage_billings, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to t('new_billing'), new_appointment_billing_path(@appointment), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'billings/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       billings: @billings,
                       wid_id: 'billings',
                       wid_title: t('billings')
                   } %>
      </article>
    </div>
  </section>
<% end %>


<section id="widget-grid" class="appointment_notes">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if can?(:add_notes, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to t('add_note'), new_note_path(type: 'AppointmentNote', owner_id: @appointment.id), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'notes/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     show_case_column: true,
                     notes:  @appointment.appointment_notes,
                     wid_id: 'notes',
                     wid_title: t('notes')
                 } %>
    </article>
  </div>
</section>


<section id="widget-grid" class="appointment_jsignatures">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if can?(:add_jsignatures, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to t('add_jsignature'), new_jsignature_path(owner_type: "#{@appointment.class}"), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'jsignatures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     show_case_column: true,
                     jsignatures:  @jsignatures,
                     wid_id: 'jsignatures',
                     wid_title: t('jsignatures')
                 } %>
    </article>
  </div>
</section>


<%#= render partial: 'notes/notes', locals: {notes: @appointment.appointment_notes} %>

<% if @case %>
    <%= render( partial: 'cases/show_case/subcases') if @cases.present? %>
    <%= render( partial: 'cases/show_case/case_support') if @case_supports.present? %>
    <%= render( partial: 'cases/show_case/notes') if @notes.present? %>
    <%= render( partial: 'cases/show_case/needs') if @needs.present? %>
    <%= render( partial: 'cases/show_case/goals')if @goals.present? %>
    <%= render( partial: 'cases/show_case/plans') if @plans.present? %>
    <%= render( partial: 'cases/show_case/tasks') if  @tasks.present? %>
    <%= render( partial: 'cases/show_case/documents') if @documents.present? %>
    <%= render( partial: 'cases/show_case/enrollments') if @enrollments.present? %>
    <%= render( partial: 'cases/show_case/teleconsults') if @teleconsult.present? %>
    <%= render( partial: 'cases/show_case/checklists') if @checklists.present? %>
    <%= render( partial: 'cases/show_case/appointments') if @appointments.present? %>
    <%#= render( partial: 'cases/show_case/surveys') if @surveys.present? %>
    <%#= render( partial: 'cases/show_case/watcher') if @watchers.present? %>
<% end %>
