  <div class="col-xs-12 btn-edition tabs-section">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:170px;">
        <% if @immunization.can?(:manage_roles, :manages_immunizations, :delete_immunizations) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', immunization_path(@immunization), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if @immunization.can?(:manage_roles, :manages_immunizations, :edit_immunizations) %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_immunization_path(@immunization), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <% if @immunization.can?(:manage_roles, :manages_immunizations, :show_immunizations) %>
            <li>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Show', immunization_path(@immunization), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', immunizations_path, class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', immunization_path(@immunization, format: 'pdf'), class: 'dropdown-item' %>
          </li>
       </ul>
    </div>
  </div>
