<div class="row">
  <div class="col-xs-12 col-md-8">
    <fieldset>
      <legend></legend>
      <%= form_for(immunization, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
          <% if immunization.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(immunization.errors.count, "error") %> prohibited this immunization from being saved:</h2>

                <ul>
                  <% immunization.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= f.hidden_field :user_id %>

          <div class="form-group">
            <%= f.label :medication , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :medication, class: 'form-control', placeholder: 'Type to Search' %>
              <%= f.hidden_field :snomed %>
              <script>
                  $(document).ready(function(){
                      $('#immunization_medication').on('keyup', function(){
                          $('#immunization_snomed').val('');
                      })
                      $('#immunization_medication').autocomplete({
                          source: "/snomed.json?default=vaccine",
                          minLength: 2,
                          select: function( event, ui ) {
                              $('#immunization_medication').val(ui.item.id);
                              $('#immunization_snomed').val(ui.item.id);
                              $('#link_info').show();
                              $('#dialog').html(
                                  "<b>ID:</b><span> "+ ui.item.ui +"</span><br/>"+
                                  "<b>NAME:</b><span> "+ ui.item.label+"</span><br/>"+
                                  "<b>URI:</b><span><a target='_blank' href='" + ui.item.uri +"' > click here</a></span>"
                              )
                          }
                      })
                  })
              </script>
            </div>
            <p hidden style="display: none" id="dialog">

            </p>
            <div class="col-md-1" style="display: none" id="link_info">
              <%= link_to 'Info', "#", class: 'btn btn-info', onclick: '$("#dialog").dialog();' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :next_date_due , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :next_date_due, class: 'form-control date_picker' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :date_immunized , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :date_immunized, class: 'form-control date_picker' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :manufacturer , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :manufacturer , class: 'form-control' %>
              <%= f.hidden_field :location_lat, class: 'form-control' %>
              <%= f.hidden_field :location_long, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lot_number , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :lot_number , class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :expiration_date , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :expiration_date, class: 'form-control date_picker' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label t(:immunization_status), class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :immunization_status_id, options_for_select(ImmunizationStatus.active.pluck(:name, :id), selected: f.object.immunization_status.try(:id)) , {} ,{class: 'form-control'} %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label t(:description) , class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :description , class: 'form-control ck-editor' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
            </div>
            <%= f.simple_fields_for :immunization_attachments do |attachment| %>
                <%= render 'attachments/attachment_show', :f => attachment %>
            <% end %>
            <div id="attachment_fields" class="col-xs-2 margin-top-10 " style="padding-right: 2px;" >
              <%= link_to_add_association 'add file', f, :immunization_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
            </div>
          </div>

          <div class="form-group" >
            <div class="col-md-11">
              <%= link_to t('button_cancel'), immunizations_path, class: 'btn btn-warning pull-right' %>
              <%= f.submit t(:button_save), class: 'btn btn-success pull-right' %>
            </div>
          </div>
      <% end %>
    </fieldset>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= render partial: 'map', locals: {
        location: 'immunization_manufacturer',
        location_lat: 'immunization_location_lat',
        location_long: 'immunization_location_long',
        object: immunization

    } %></div>
</div>

