<table class="table table-responsive" id="immunization_table">
  <thead>
  <tr>
    <th>Medication</th>

    <th>Next date due</th>
    <th>Date immunized</th>
    <th>Manufacturer</th>
    <th>Lot number</th>
    <th>Expiration date</th>
    <th>Immunization status</th>
  </tr>
  </thead>

  <tbody>
  <% @immunizations.each do |immunization| %>
      <tr>
        <td><%= link_to immunization.snomed, immunization %></td>

        <td><%= format_date immunization.next_date_due %></td>
        <td><%= format_date immunization.date_immunized %></td>
        <td><%= immunization.manufacturer %></td>
        <td><%= immunization.lot_number %></td>
        <td><%= format_date immunization.expiration_date %></td>
        <td><%= immunization.immunization_status %></td>
       </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('immunization_table')
  })
</script>
