<div class="row">
  <div class="col-xs-12 btn-edition">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if User.current.admin? %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', organization_path(@organization), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if User.current.admin? %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_organization_path(@organization), class: 'dropdown-item' %>
            </li>
              <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <li>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <%= link_to 'Show', organization_path(@organization), class: 'dropdown-item' %>
          </li>
            <div class='dropdown-item-dividier'></div>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', organizations_path, class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', organization_path(@organization, format: 'pdf'), class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
</div>
