<table class="table  table-responsive" id="organization_table">
  <thead>
  <tr>
    <th><%= t :label_name %></th>
    <th><%= t :organization_type %></th>
    <th ></th>
    <th ></th>
  </tr>
  </thead>

  <tbody>
      <% organizations.each do |organization| %>
          <tr>
            <td><%= organization.name %></td>
            <td><%= organization.organization_type %></td>
            <td><%= edit_link( edit_organization_path(organization)) %></td>
            <td><%= delete_link( organization)%></td>
          </tr>
      <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
      initDataTable('organization_table')
  })
</script>
