<html lang="en-us" class="<%=  Setting.theme_style(User.current.can?(:manage_role) ) %>">
<%= render partial: 'shared/head' %>

<body style="width:100%; height:85vh; margin:0px; padding:0px;" onload="setupDocs();" onunload="saveMHTextEditor();"  class="<%=  Setting.theme(User.current.can?(:manage_role)).values.join(' ') %>" data-user-id="<%= user_signed_in? ? current_user.id : ''  %>">

<!-- HEADER -->
<%= render partial: 'shared/header' %>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<%= render partial: 'menu/base_menu' %>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">
  <!-- END RIBBON -->

  <div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="no-padding">
          <%= render_flash_messages %>
          <% if breadcrumbs.present? %>
              <ol class="breadcrumb">
                <%= render_breadcrumbs :tag => :li, :separator => "" %>
              </ol>
          <% end %>
          <%= yield %>
        </div>
        <div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- PAGE FOOTER -->
<div class="page-footer">
  <%= render partial: 'shared/footer' %>
</div>
<!-- END PAGE FOOTER -->

<%= javascript_include_tag 'smart_admin/smart_admin' %>
<script>
  $(document).ready(function() {
    toastr.options = {
      "progressBar": true,
      "timeOut": "20000"
    }
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();
  });
</script>
<style>
  #main{
    padding-bottom: 0px;
  }
  #content{
    padding-bottom: 0px;
  }
</style>
</body>
</html>