<% content_for :thredded_page_title, t('thredded.nav.moderation') %>
<% content_for :thredded_page_id, 'moderation-activity' %>
<%= render 'nav' %>

<%= thredded_page do %>
    <h1><%= t 'thredded.recent_activity' %></h1>
    <%= content_tag :section, class: 'main-section' do %>
        <% if @last_moderated_record %>
            <div class="moderated-notice">
              <%= render 'post_moderation_record', post_moderation_record: @last_moderated_record %>
            </div>
        <% end %>
        <% if @posts.present? %>
            <%  @posts.to_ary.each do |post| %>
                <%= render partial: 'post', locals: {post: post} %>
            <% end %>
            <%= paginate @posts %>
        <% end %>
    <% end %>
<% end %>
