<table class="table table-bordered" id="categories_table">
  <thead>
  <tr>
    <th> Category Name </th>
    <th> Private </th>
    <th> Writable </th>
    <th> Featured </th>
    <th> Actions </th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td> <%= link_to category.name, category_path(category) %> </td>
        <td> <%=  category.is_private %> </td>
        <td> <%=  category.is_writable %> </td>
        <td> <%=  category.is_featured %> </td>
        <td>
          <%= edit_link edit_category_path(category) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <%= delete_link category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('categories_table')
  } );
</script>
