<div class="col-xs-12 btn-edition">
  <%= link_to('Delete', clearance_path(@clearance), class: 'btn btn-danger pull-right' ,
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)})  if @clearance.can?(:manage_roles, :manages_clearances, :delete_clearances)
  %>
  <% if params[:action] == 'show' %>
      <%= link_to 'Edit', edit_clearance_path(@clearance), class: 'btn btn-success pull-right'  if @clearance.can?(:manage_roles, :manages_clearances, :edit_clearances) %>
  <% else %>
      <%= link_to 'Show', clearance_path(@clearance), class: 'btn btn-success pull-right'  if @clearance.can?(:manage_roles, :manages_clearances, :show_clearances) %>
  <% end %>
  <%= link_to t('button_cancel'), clearances_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), clearance_path(@clearance, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to t('button_history_changes'), "/histories/#{@clearance.class}/#{@clearance.id}", class: 'btn btn-primary pull-right' %>
</div>