<table class="table table-responsive table-bordered" id="clearance_table">
  <thead>
  <tr>
    <th><%= t('enumeration_clearence_type') %></th>
    <th><%= t('clearance_status') %></th>
    <th><%= t('education_date_received') %></th>
    <th><%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>
  <% @clearances.each do |clearance| %>
      <tr>
        <td><%= link_to clearance.clearence_type, clearance_path(clearance)%></td>
        <td><%= clearance.clearence_status %></td>
        <td><%= format_date clearance.date_received %></td>
        <td><%= format_date clearance.date_expired %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('clearance_table')
  } );
</script>
