<table class="table table-responsive " id="clearance_table" style="width: 100%">
  <thead>
  <tr>
    <th><%= t('enumeration_clearence_type') %></th>
    <th><%= t('clearance_status') %></th>
    <th><%= t('education_date_received') %></th>
    <th><%= t('education_date_expired') %></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'clearance_table',
    url: clearances_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: clearances_path(format: :json, status_type: params[:status_type])
} %>
