<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>clearance Type:</strong>
      <%= @clearance.clearence_type %>
    </p>

    <p>
      <strong>clearance Status:</strong>
      <%= @clearance.clearence_status %>
    </p>

    <p>
      <strong>Date received:</strong>
      <%= format_date @clearance.date_received %>
    </p>

    <p>
      <strong>Date expired:</strong>
      <%= format_date @clearance.date_expired %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @clearance.note.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @clearance.clearance_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
  </div>
</div>