<table class="table table-responsive display responsive nowrap " id="educations_table" style="width: 100%">
  <thead>
  <tr>
    <th><%= t :education_type %></th>
    <th><%= t :education_status %></th>
    <th><%= t :education_date_received %></th>
    <th><%= t :education_date_expired %></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'educations_table',
    url: educations_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: educations_path(format: :json, status_type: params[:status_type])
} %>