<table class="table table-responsive table-bordered" id="educations_table">
  <thead>
  <tr>
    <th><%= t :education_type %></th>
    <th><%= t :education_status %></th>
    <th><%= t :education_date_received %></th>
    <th><%= t :education_date_expired %></th>
  </tr>
  </thead>

  <tbody>

  <% educations.each do |education| %>
      <tr>
        <td><%= link_to education.education_type, education_path(education) %></td>
        <td><%= education.education_status %></td>
        <td><%= format_date education.date_recieved %></td>
        <td><%= format_date education.date_expired %></td>
      </tr>
  <% end %>

  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('educations_table')
  } );
</script>