<%= render partial: 'action_menu' %>
<div class="col-xs-12">

<p>
  <strong>Education Type:</strong>
  <%= @education.education_type %>
</p>

<p>
  <strong>Education Status:</strong>
  <%= @education.education_status %>
</p>

<p>
  <strong>Date recieved:</strong>
  <%= @education.date_recieved %>
</p>

<p>
  <strong>Date expired:</strong>
  <%= @education.date_expired %>
</p>

<p>
  <strong>Note:</strong>
  <%= @education.note.html_safe %>
</p>


  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @education.education_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>
</div>