# This file will become  mCMS/app/views/identifications/_action_menu.html.erb


  <div class="col-xs-12 btn-edition tabs-section">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
        <% if @identification.can?(:delete_identifications, :manage_identifications, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', identification_path(@identification), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if @identification.can?(:edit_identifications, :manage_identifications, :manage_roles) %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_identification_path(@identification), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <% if @identification.can?(:show_identifications, :manage_identifications, :manage_roles) %>
            <li>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Show', identification_path(@identification), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', identifications_path, class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', identification_path(@identification, format: 'pdf'), class: 'dropdown-item' %>
          </li>
            <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <%= link_to 'History Changes', "/histories/#{@identification.class}/#{@identification.id}", class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
