<div class="col-xs-12 btn-edition">
  <%= link_to 'OPEN', params.permit(:from, :to).merge(status_type: 'opened'), class: 'btn btn-success'  %>
  <%= link_to 'CLOSED', params.permit(:from, :to).merge(status_type: 'closed'), class: 'btn btn-danger'  %>
  <%= link_to 'FLAGGED', params.permit(:from, :to).merge(status_type: 'flagged'), class: 'btn btn-warning'  %>
  <%= link_to 'ALL', params.permit(:from, :to).merge(status_type: 'all'), class: 'btn btn-primary'  %>
  <% unless params[:controller].in? ['user_profiles', 'user_history' ] %>
      <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
  <% end %>
</div>