<div class="row" >
  <div class="col-xs-12 col-sm-8 col-md-6" style="display:inline-block">
    <%= form_tag search_document_managers_path, method: :post do %>
        <div class="input-group">
          <%= search_field_tag :query, nil, style: "width: 400px; margin-left: 25px",
                               :class => "form-control", placeholder: "Search for documents and categories ..." %>
          <div class="input-group-btn">
            <%= submit_tag "search", :class => "btn btn-default" %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-6" style="display:inline-block">
    <%= render partial: "document_managers/upload" %>
  </div>
</div>


<% if !@featured.nil? and @featured.length > 0 %>
    <h3> Featured Categories </h3>
    <%= render partial: "categories/featured_categories", locals: {featured: @featured} %>
<% end %>
<% if !@latest_docs.nil? and @latest_docs.length > 0 %>
    <hr />
    <h3> Recent Documents </h3>
    <%= render partial: "categories/latest_documents", locals: {latest_docs: @latest_docs} %>
<% end %>

