<% if @current_folder.parent %>
    <p> <%= link_to "<< Back".html_safe, document_managers_path(document_folder_id: @current_folder.parent.id) %></p>
<% elsif params[:document_folder_id]%>
    <p> <%= link_to "<< Back".html_safe, document_managers_path %></p>
<% end %>
<div class="row" >
  <div class="col-xs-12 col-sm-6 col-md-6" style="display:inline-block">

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3" style="display:inline-block">
    <%= render partial: "document_managers/upload" %>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3" style="display:inline-block">
    <%= render partial: "document_managers/new_folder" %>
  </div>
</div>

<%= render partial: 'list_datatable' %>
