<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', plan_path(@plan), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if can?(:delete_plans, :manage_plans, :manage_roles)
  %>
  <%= link_to 'Edit', edit_plan_path(@plan), class: 'btn btn-success pull-right' if can?(:edit_plans, :manage_plans, :manage_roles) %>
  <%= link_to( t('add_note'), new_note_path(type: 'PlanNote', owner_id: @plan.id), class: 'btn btn-success pull-right') if can?(:add_notes, :manage_roles) %>
  <%= link_to t('button_cancel'), plan_back_url(@plan), class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), plan_path(@plan, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to 'Manage Actions', links_plan_path(@plan), class: 'btn btn-primary pull-right' %>
</div>
