<% show_case = @case.nil? %>
<table class="table table-responsive display responsive nowrap " id="plans_table"  style="width: 100% ">
  <thead>
  <tr>
    <% if User.current.can?(:manage_roles) %>
        <th><%= t('client') %></th>
    <% end %>
    <th><%= t('label_name') %></th>
    <% if show_case %>
        <th><%= t('case') %></th>
    <% end %>
    <th><%= t('priority') %></th>
    <th><%= t('plan_status') %></th>
    <th><%= t('plan_type') %></th>
    <th>Percent Done</th>
    <th><%= t('date_start') %></th>
    <th><%= t('date_due') %></th>
    <th><%= t('date_completed') %></th>
    <% if @appointment %>
        <th></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% columns= [ ]
   if User.current.can?(:manage_roles)
     columns << { "searchable": true, "orderable": true }
   end

   columns << { "searchable": true, "orderable": true }
   if show_case
     columns << { "searchable": true, "orderable": true }
   end
   columns << [ { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },

                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },

                { "searchable": true, "orderable": true }]
   if @appointment and can?(:manage_roles)
     columns << { "searchable": false, "orderable": false }
   end
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'plans_table',
    url: plans_path(format: :csv, status_type: params[:status_type], show_case: show_case, case_id: @case.try(:id), appointment_id: @appointment.try(:id)),
    columns: columns.flatten,
    ajax_url: plans_path(format: :json, status_type: params[:status_type], show_case: show_case, case_id: @case.try(:id), appointment_id: @appointment.try(:id))
} %>