<% if @goal %>
$('#btn_<%= @goal_id %>').html("<button class='btn  btn-danger' onclick='btn_clicked(<%= @goal_id %>)'> <%= t('button_remove') %></button>");
<% else %>
$('#btn_<%= @goal_id %>').html("<button class='btn btn-success' onclick='btn_clicked(<%= @goal_id %>)'> <%= 'Add' %></button>");
<% end %>