<%= render partial: 'action_menu' %>
<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     plan: @plan,
                     wid_id: 'plan',
                     wid_title: t('edit_plan')
                 } %>
    </article>
  </div>
</section>
<% if module_enabled?('tasks') %>
    <%= link_to(t('new_task'), new_task_path(case_id: @case.id,  plan_id: @plan.id), class: 'btn btn-primary pull-right btn-edition') if @case && can?(:create_tasks, :manage_roles, :manage_tasks) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'tasks/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       tasks: @tasks,
                       wid_id: 'tasks',
                       wid_title: t('tasks')
                   } %>
      </article>
    </div>
    <script>
      $(document).ready(function(){
        <% if @tasks.present? %>  initDataTable('plans_table') <% end %>
      } );
    </script>

<% end %>

<% if module_enabled?('measurement_records') %>
    <%= link_to('New measurement', new_measurement_record_path(plan_id: @plan.id, case_id: @plan.case.try(:id)), class: 'btn btn-primary pull-right btn-edition') if can?(:create_measurement_records, :manage_roles, :manage_measurement_records) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'measurement_records/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       show_case_column: false,
                       measurement_records: @measurement_records,
                       wid_id: 'measurement_records',
                       wid_title: 'measurements'
                   } %>
      </article>
    </div>
<% end %>


<%= link_to( t('add_note'), new_note_path(type: 'PlanNote', owner_id: @plan.id), class: 'btn-edition btn btn-success pull-right') if can?(:add_notes, :manage_roles) %>

<%= render partial: 'notes/notes', locals: {notes: @plan.plan_notes} %>

