<%= render partial: 'action_menu' %>
<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     plan: @plan,
                     wid_id: 'plan',
                     wid_title: t('edit_plan')
                 } %>
    </article>
  </div>
</section>

<% if module_enabled?('goals') %>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'goals/all_list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       goals: @goals,
                       wid_id: 'goals',
                       wid_title: t('goals')
                   } %>
      </article>
    </div>
<% end %>

<% if module_enabled?('tasks') %>

    <section id="widget-grid" class="actions_section">
      <div class="col-xs-12 btn-edition tabs-section">
        <%= render partial: 'state_button_filter'%>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:190px;">
            <% if @case && can?(:create_tasks, :manage_roles, :manage_tasks) %>
                <li>
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  <%= link_to t('new_task'), new_task_path(case_id: @case.id,  plan_id: @plan.id), class: 'dropdown-item' %>
                </li>
                <div class='dropdown-item-dividier'></div>
            <% end %>
            <li>
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
              <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'tasks/all_list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         tasks: @tasks,
                         wid_id: 'tasks',
                         wid_title: t('tasks')
                     } %>
        </article>
      </div>
   </section>
<% end %>

<% if module_enabled?('measurement_records') %>
    <section id="widget-grid" class="measurements_section">
      <div class="col-xs-12 btn-edition tabs-section">
        <%= render partial: 'state_button_filter'%>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:190px;">
            <% if can?(:create_measurement_records, :manage_roles, :manage_measurement_records) %>
                <li>
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  <%= link_to 'New measurement', new_measurement_record_path(plan_id: @plan.id, case_id: @plan.case.try(:id)), class: 'dropdown-item' %>
                </li>
                <div class='dropdown-item-dividier'></div>
            <% end %>
            <li>
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
              <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'measurement_records/all_list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         show_case_column: false,
                         measurement_records: @measurement_records,
                         wid_id: 'measurement_records',
                         wid_title: 'measurements'
                     } %>
        </article>
      </div>
    </section>
<% end %>
<section id="widget-grid" class="plans_notes">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <% if can?(:add_notes, :manage_roles) %>
            <li>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <%= link_to t('add_note'), new_note_path(type: 'PlanNote', owner_id: @plan.id), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'notes/notes',
                 locals: {
                     notes: @plan.plan_notes,
                     wid_id: 'notes',
                     wid_title: t('notes')
                 } %>
    </article>
  </div>
</section>
