<%= render partial: 'action_menu' %>
<div class="col-xs-12">
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Priority type:</strong>
  <%= @plan.priority_type %>
</p>

<p>
  <strong>Plan status:</strong>
  <%= @plan.plan_status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plan.description.html_safe %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @plan.date_start %>
</p>

<p>
  <strong>Date due:</strong>
  <%= @plan.date_due %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @plan.date_completed %>
</p>
  
</div>


<%= render partial: 'notes/notes', locals: {notes: @plan.plan_notes} %>