<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs-12">
    <p>
      <strong><%= t('case') %>:</strong>
      <%= link_to_case @plan.case %>
    </p>


    <p>
      <strong><%= t('label_name') %>:</strong>
      <%= @plan.name %>
    </p>

    <p>
      <strong><%= t('priority') %>:</strong>
      <%= @plan.priority_type %>
    </p>

    <p>
      <strong><%= t('plan_status') %>:</strong>
      <%= @plan.plan_status %>
    </p>
    <p>
      <strong><%= t('assigned_to') %>:</strong>
      <%= @plan.assigned_to %>
    </p>

    <p>
      <strong><%= t('description') %>:</strong>
      <%= @plan.description.html_safe %>
    </p>

    <p>
      <strong><%= t('date_start') %>:</strong>
      <%= format_date @plan.date_start %>
    </p>

    <p>
      <strong><%= t('date_due') %>:</strong>
      <%= format_date @plan.date_due %>
    </p>

    <p>
      <strong><%= t('date_completed') %>:</strong>
      <%= format_date @plan.date_completed %>
    </p>

  </div>
</div>
<% if module_enabled?('tasks') %>
    <%= link_to(t('new_task'), new_task_path(case_id: @case.id,  plan_id: @plan.id), class: 'btn btn-primary pull-right btn-edition') if @case && can?(:create_tasks, :manage_roles, :manage_tasks) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'tasks/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       tasks: @tasks,
                       wid_id: 'tasks',
                       wid_title: t('tasks')
                   } %>
      </article>
    </div>
    <script>
      $(document).ready(function(){
        <% if @tasks.present? %>  initDataTable('plans_table') <% end %>
      } );
    </script>

<% end %>

<%= link_to( t('add_note'), new_note_path(type: 'PlanNote', owner_id: @plan.id), class: 'btn-edition btn btn-success pull-right') if can?(:add_notes, :manage_roles) %>

<%= render partial: 'notes/notes', locals: {notes: @plan.plan_notes} %>