<% show_case = defined?(show_case_column) ? show_case_column : true %>
<table class="table table-bordered table-responsive" id="teleconsults_table">
  <thead>
  <tr>
    <th>Contact Method</th>
    <% if show_case %>
        <th>Case</th>
    <% end %>

    <th>Contact Type</th>
    <th>Consult Status</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  </thead>

  <tbody>
  <% @teleconsults.each do |teleconsult| %>
      <tr>
        <td><%= link_to teleconsult.contact_method, teleconsult %></td>
        <% if show_case %>
            <td><%= link_to_case teleconsult.case %></td>
        <% end %>
        <td><%= teleconsult.contact_type %></td>
        <td><%= teleconsult.consult_status %></td>
        <td><%= teleconsult.date %></td>
        <td><%= teleconsult.time %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
     initDataTable('teleconsults_table')
  } );
</script>