<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-xs-12">



    <p>
      <strong><%= t('case') %>:</strong>
      <%= link_to_case @teleconsult.case %>
    </p>
    <p>
      <strong>Contact method:</strong>
      <%= @teleconsult.contact_method %>
    </p>

    <p>
      <strong>Contact type:</strong>
      <%= @teleconsult.contact_type %>
    </p>

    <p>
      <strong>Consult status:</strong>
      <%= @teleconsult.consult_status %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= format_date @teleconsult.date %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @teleconsult.time %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @teleconsult.note.html_safe %>
    </p>
    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @teleconsult.consult_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
    
  </div>
</div>