<%= render partial: 'action_menu' %>

<div class="row">
  <div class="col-xs-12">
    <p>
      <strong>Title:</strong>
      <%= @resume.title %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= format_date @resume.date %>
    </p>

    <p>
      <strong>Resume type:</strong>
      <%= @resume.resume_type %>
    </p>

    <p>
      <strong>Resume status:</strong>
      <%= @resume.resume_status %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @resume.note.html_safe %>
    </p>

    <p>
      <strong><%= t('attachments') %>:</strong>
      <% @resume.resume_attachments.each do |attachment| %>
          <%= render 'attachments/attachment_show_only', :attachment => attachment %>
      <% end %>
    </p>
    
  </div>
</div>
