<%= form_for private_topic,
             url:  private_topics_path(@private_topic),
             html: { class: "form-horizontal #{local_assigns[:css_class]}", 'data-thredded-topic-form' => true } do |form| %>

    <div class="form-group">

      <%= form.label :title, t('thredded.private_topics.form.title_label') , class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= form.text_field :title, placeholder: placeholder, class:  'form-control', required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :user_ids, t('thredded.private_topics.form.users_label'), class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= form.text_field :user_ids,
                            placeholder:                   t('thredded.private_topics.form.users_placeholder'),
                            'data-thredded-users-select'   => true,
                            class:                         'form-control',
                            'data-autocomplete-url'        => autocomplete_users_path,
                            'data-autocomplete-min-length' => Thredded.autocomplete_min_length %>
      </div>
    </div>

    <%= render 'thredded/posts_common/form/content_field',
               form:          form,
               content_label: t('thredded.private_topics.form.content_label') %>


    <div class="form-group margin-top-10" >
      <div class="col-xs-12">
        <%= form.submit t('thredded.private_topics.form.create_btn'), class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>

